<style type="text/css">
	.featured-list li.block { width:260px; height:259px; display:block; border:none; }
</style>
<div class="home-page-box">
    <div class="home-slider">
       <?php echo $this->getLayout()->createBlock('interaktingslider/interaktingslider')->toHtml(); ?>
    </div>
<?php // echo $this->getLayout()->createBlock('featuredproducts/listing')->setLimit(3)->toHtml(); ?>

	<ul class="featured-list">
<?php
		$resource = Mage::getSingleton('core/resource');
		$readConnection = $resource->getConnection('core_read');
		$table = $resource->getTableName('cms/block');
		$sql = "SELECT * FROM `".$resource->getTableName("cms/block")."` WHERE identifier like 'cm_front_page_%' ORDER BY RAND() LIMIT 0,3;"; //
		$blocks = $readConnection->fetchAll( $sql );
		if( count($blocks) > 0)
		{
			foreach($blocks as $b)	
			{
				echo '<li class="block">';
				echo $this->getLayout()->createBlock('cms/block')->setBlockId( $b['identifier'] )->toHtml();
				echo '</li>';
			}
		}
		else
		{
			?>
			<li class="block">&nbsp;</li>
			<li class="block">&nbsp;</li>
			<li class="block">&nbsp;</li>
			<?
		}
/*
		echo "<pre>";
		print_r($blocks);
		echo "</pre>";
*/
?>
        <li class="home-page-static-block">
   	    	<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('cabling-home-page-banner')->toHtml(); ?>
        </li>
	</ul>
<?php /*
<div class="home-banner">
<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('cabling-home-page-banner')->toHtml(); ?>
</div>
*/ ?>
</div>