<?php if($this->getSource() instanceof Mage_Sales_Model_Order){ ?>
<?php if ((float) $this->getSource()->getLoyaltyAmountRefunded()): ?>
    <tr>
        <td class="label"><strong><?php echo Mage::helper('loyalty')->__('Loyalty Points refunded to customer') ?></strong></td>
        <td><strong><?php echo $this->getSource()->getLoyaltyAmountRefunded(); ?></strong></td>
    </tr>
<?php endif; ?>
<?php } else { ?>
<?php if ((float) $this->getSource()->getLoyaltyAmount()): ?>
    <tr>
        <td class="label"><strong><?php echo Mage::helper('loyalty')->__('Loyalty Points Refunded') ?></strong></td>
        <td><strong><?php echo $this->getSource()->getLoyaltyAmount(); ?></strong></td>
    </tr>
<?php endif; 
}?>

