<?php $this->setPriceDataObject($this->getSource()) ?>
<?php if ((float) $this->getSource()->getLoyaltyAmount()): ?>
    <tr>
        <td class="label"><?php echo Mage::helper('loyalty')->__('Loyalty Points Discount') ?></td>
        <td>
            <?php echo $this->displayPrices($this->getSource()->getBaseLoyaltyAmount(), $this->getSource()->getLoyaltyAmount()); ?>
        </td>
    </tr>
<?php endif; ?>