<?php 
    $address =  Mage::getSingleton('checkout/session')->getQuote()->getShippingAddress();
    $cart_postcode = $address->getPostcode();
    
    if (!$cart_postcode && Mage::helper('temando')->getSessionPostcode()) {
        $cart_postcode = Mage::helper('temando')->getSessionPostcode();
    }
    
    $cart_postcode = null;
    if (!empty($cart_postcode)) {
        $result = Mage::helper('temando')->getSuggestionsCache($words);
        
        $collection = Mage::getModel('temando/pcs')->getCollection();
        $collection->addFieldToFilter('main_table.fulltext', array('like' => '% ' . $cart_postcode . '%'));
        
        if (count($collection) > 0) {
            $current_data = null;
            foreach ($collection as $item) {
                $value = $item->getFulltext();
                if (empty($current_data)) {
                    $current_data = $item->getData();
                    break;
                }
            }
        }
        
        if (!empty($current_data)) {
            $data = array(
                'country_id' => $current_data['country_id'],
                'region_id' => $current_data['region_id'],
                'city' => $current_data['city'],
                'postcode' => $current_data['postcode'],
                'pcs' => $current_data['fulltext'],
            );
            
            Mage::getSingleton('customer/session')->setData('estimate_product_shipping', new Varien_Object($data));
        }
    }
?>
<div class="header-postcode <?php echo ($this->getPcs() == ''?'':'select-location'); ?>">
    <div class="block-shipping">
        <div class="block-content">
		    <div class="set_location_buggon">
                <?php echo ($this->getPcs() == ''?'Click to<br />Set Location':$this->getPcs()); ?>
            </div>
            <div id="locationDetail">
                <!--<p>Your delivery location is:</p>-->
                <div class="location">
                    <span class="postcode-display" id="postcodeDisplay"><?php echo $this->getPostcode(); ?></span>
                    <span class="locality-display" id="localityDisplay" style="display: none">&nbsp;<?php echo str_replace($this->getPostcode(), '', $this->getPcs()) ; ?></span>
                </div>
            </div>
            <div class='estimate-form'>
                <form action="" name="estimate_form" method="post" onsubmit="javascript: return false;">
                    <input type='hidden' name='country_id' id='country_id' value='<?php echo $this->getCountryId(); ?>' />
                    <input type='hidden' name='region_id' id='region_id' value='<?php echo $this->getRegionId(); ?>' />
                    <input type='hidden' name='city' id='city' value='<?php echo $this->getCity(); ?>' />
                    <input type='hidden' name='postcode' id='postcode' value='<?php echo $this->getPostcode(); ?>' />
                    <input type='hidden' name='product_id' id='product_id' value='<?php echo $this->getProductId(); ?>' />
                    <!--input type='hidden' name='qty' id='qty' value='<?php echo $this->getQty(); ?>' /-->
                    <input type='hidden' name='options' id='options' value='<?php echo $this->getOptions(); ?>' />
                    <div class='estimate-field' id='estimate_field'>
                        <input type='text' class='input-text' name='pcs' id='pcs' value='<?php echo $this->getPcs(); ?>' />
                    </div>
                    <div class='estimate-button'>
                        <button type="button" title="<?php echo $this->__('Set'); ?>" class="button" onclick="getShippingRates()">
                            <span>
                                <span><?php echo $this->__('Set'); ?></span>
                            </span>
                        </button>
                    </div>
                    <div id='estimate_items'></div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
//<![CDATA[
var empty_pcs_value = '<?php echo $this->jsQuoteEscape($this->__('Enter Postcode or Suburb')); ?>';
var shipping_estimator_url = '<?php echo $this->getUrl('etemando/pcs/product', array('_secure' => Mage::app()->getStore()->isCurrentlySecure())); ?>';

Event.observe(window, 'load', function() {
    if ($('pcs')) {
        Event.observe('pcs', 'blur', pcsBlur);
        Event.observe('pcs', 'focus', pcsFocus);
        pcsBlur();
        new Autocomplete('pcs', {
            serviceUrl: "<?php echo $this->getUrl('etemando/pcs/autocompletecart', array('_secure' => Mage::app()->getStore()->isCurrentlySecure())); ?>",
            onSelect: function(value, data) {
                $('city').value = data[0].city;
                $('postcode').value = data[0].postcode;
                $('region_id').value = data[0].region_id;
                
                //$('postcodeDisplay').value = 'Your Location is&nbsp;&nbsp;&nbsp;' + data[0].postcode;
                jQuery('#postcodeDisplay').html(data[0].postcode);
                jQuery('#localityDisplay').html('&nbsp;' + data[0].fulltext.replace(data[0].postcode, ''));
                
                jQuery('.set_location_buggon').html(jQuery('#pcs').val());
                jQuery('.header-postcode').removeClass('exist-location');
                
                jQuery('.header-postcode').addClass('select-location');
                getShippingRates();
            },
            onLoadStart: function() {
                $('city').value = '';
                $('postcode').value = '';
                $('region_id').value = '';
                $('estimate_field').addClassName('active');
            },
            onLoadComplete: function() {
                $('estimate_field').removeClassName('active');
            },
            onAway: function() {
                if (!$('city').value) {
                    $('pcs').value = '';
                    pcsBlur();
                }
            }
        });
    }
});
//]]>
</script>

<!-- added by zhongzhen -->
<script type="text/javascript">// <![CDATA[
	jQuery('.set_location_buggon').click(function() {
		//jQuery(this).fadeOut();
        jQuery('.header-postcode').addClass('exist-location');
		//jQuery('.header-postcode').animate({"width": "212px"});
	});

	jQuery('.estimate-button button').click(function(){
		jQuery('.set_location_buggon').html(jQuery('#pcs').val());
		//jQuery('.set_location_buggon').fadeIn();
        jQuery('.header-postcode').removeClass('exist-location');
		//jQuery('.header-postcode').animate({"width": "150px"});
        
        return false;
	});
    
    jQuery('#locationDetail').hover(function() {
        jQuery('#localityDisplay').css('display', 'inline-block');
    }, function() {
        jQuery('#localityDisplay').css('display', 'none');
    });
    
    jQuery('#locationDetail').click(function() {
        jQuery('.header-postcode').removeClass('select-location');
        jQuery('.header-postcode').addClass('exist-location');
        
        jQuery('#pcs').val('');
    });
// ]]></script>