<div class="header-container">
    <div id="header-right-sidebar" class="header-right-sidebar">
        <ul>
            <li class="header-rside-icon1"><a href="/warranty">&nbsp;</a></li>
            <li class="header-rside-icon2"><span>&nbsp;</span></li>
            <li class="header-rside-icon3"><span>&nbsp;</span></li>
            <li class="header-rside-icon4"><span>&nbsp;</span></li>
        </ul>		
    </div>
    <div class="header">
        <div class="header-top1">
            <div class="header-map">100% Australian Owned</div>
            <div class="header-facebook">
                <div id="fb-root"></div>
                <script>(function(d, s, id) {
                  var js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return;
                  js = d.createElement(s); js.id = id;
                  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=212677672102668";
                  fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
                <div class="fb-like" data-href="https://www.facebook.com/4Cabling" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true" data-font="lucida grande"></div>
            </div>
            <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('c4_header_top_links')->toHtml(); ?>
        </div>
        <div class="header-top">
            <?php 
                $count = $this->helper('checkout/cart')->getSummaryCount();
            ?>
            <ul class="header-cart <?php if ($this->helper('customer')->isLoggedIn()) : ?>login<?php endif; ?>">
                <li>
                    <a href="<?php echo Mage::helper('checkout/url')->getCartUrl(); ?>">My Cart(<?php echo (empty($count)?0:$count); ?>)</a>
                    <?php echo $this->getChildHtml('cart_header'); ?>
                </li>
            </ul>
            <div class="header-signin">
                <?php if ($this->helper('customer')->isLoggedIn()) : ?>
                <span class="welcome-msg"><?php echo $this->__('Welcome, %s!', $this->escapeHtml(Mage::getSingleton('customer/session')->getCustomer()->getName())); ?></span>&nbsp;&nbsp;|&nbsp;
                <a href="<?php echo $this->helper('customer')->getLogoutUrl(); ?>" class="signout">Sign Out</a>&nbsp;&nbsp;|&nbsp;
                <a href="<?php echo $this->helper('customer')->getDashboardUrl(); ?>" class="signout">My Profile</a>&nbsp;&nbsp;|&nbsp;
                <?php else : ?>
                <a href="<?php echo $this->helper('customer')->getLoginUrl(); ?>" class="signin">Login</a>&nbsp;|&nbsp;<a href="<?php echo $this->helper('customer')->getRegisterUrl(); ?>" class="signup">Register</a>
                <?php endif; ?>
            </div>
            <div class="header-phone"><?php echo Mage::getStoreConfig('general/store_information/phone'); ?></div>
        </div>
        <div class="header-middle">
            <a href="<?php echo $this->getUrl('') ?>" title="<?php echo $this->getLogoAlt() ?>" class="logo"><img src="<?php echo $this->getSkinUrl('/images/logo.png'); ?>" alt="<?php echo $this->getLogoAlt() ?>" /></a>
            <?php echo $this->getChildHtml('topSearch') ?>
            <?php echo $this->getChildHtml('temando.product.shipping'); ?>
        </div>
        <?php echo $this->getChildHtml('topMenu') ?>
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function($) {
        
        // align category menu
        var category_menu_width = 0;
        var category_num = 0;
        $('#nav li.level0').each(function() {
            category_menu_width += $(this).width() * 1;
            category_num++;
        });
        
        var category_item_margin_right = (1000 - category_menu_width) / (category_num - 1);
        $('#nav li.level0').css('margin-right', category_item_margin_right + 'px');
        $('#nav li.level0:last').css('margin-right', '0px');
        
        $('.products-grid:last').addClass('last');
        $('.products-grid').each(function() {
            $(this).parent().find('.products-grid:first').addClass('first');
        });
        
        $('ul li.level1').each(function(index) {
            if (index == 0)
                return true;
            
            var prevX = $('ul li.level1:eq(' + (index - 1) + ')').position().top;
            var currentX = $(this).position().top;
            
            if (prevX != currentX) {
                $(this).css('clear', 'both');
            }
        });
        
        $('.header .header-top ul.header-cart li').hover(function() {
            $(this).find('.block-cart').slideDown();
        }, function() {
            $(this).find('.block-cart').slideUp();
        });
        
        
        function FloatTopLeft()
        {
            //var startX = 1040+190-165, startY = 222;
            var startX = -151, startY = 350;
            var ns = (navigator.appName.indexOf("Netscape") != -1);
            var d = document;
            var px = document.layers ? "" : "px";
            function ml(id)
            {
                var el=d.getElementById?d.getElementById(id):d.all?d.all[id]:d.layers[id];
                if(d.layers)el.style=el;
                el.sP=function(x,y){this.style.left=x+px;this.style.top=y+px;};
                el.x = startX; el.y = startY;
                return el;
            }
            window.stayTopLeft=function()
            {
                var pY = ns ? pageYOffset : document.documentElement && document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop;
                //window.log(jQuery('.footer-container').position().top);                
                if (ftlObj.y * 1 + jQuery('.header-right-sidebar').height()+100 > jQuery('.footer-container').position().top) {
                    ftlObj.y = jQuery('.footer-container').position().top - jQuery('.header-right-sidebar').height()-100;		
                } else {
					
                }
                ftlObj.y += (pY + startY - ftlObj.y)/8; 
				
                ftlObj.sP(ftlObj.x, ftlObj.y);
                setTimeout("stayTopLeft()", 20);
            }
            ftlObj = ml("header-right-sidebar");
            stayTopLeft();
        }
        FloatTopLeft();
    });
</script>