<?php
/**
 * @category     Inchoo
 * @package     Inchoo Featured Products
 * @author        Domagoj Potkoc, Inchoo Team <web@inchoo.net>
 * @modified    Mladen Lotar <mladen.lotar@surgeworks.com>, Vedran Subotic <vedran.subotic@surgeworks.com>
 */
?>
<?php if (($_products = $this->getProductCollection()) && $_products->getSize()): ?>
	<?php /* <h3><?php echo $this->__($this->getBlockLabel()) ?></h3> */ ?>
	<ul class="featured-list">
		<?php $i=0;$row=0; foreach ($_products->getItems() as $_product): ?>
					<li>
						<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>">
							<img class="product-img" src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepAspectRatio(FALSE)->resize(260, 260) ?>" alt="<?php echo $this->htmlEscape($_product->getName()) ?>" />
						</a>
						<div class="product-description">
								<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>)">
									<?php echo $this->htmlEscape($_product->getName()) ?>
								</a>
							<?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
							<?php echo $this->getPriceHtml($_product, true, '-new') ?>

							<?php /*
							<?php if($_product->isSaleable()): ?>
								<button type="button" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
							<?php else: ?>
								<div class="out-of-stock"><?php echo $this->__('Out of stock') ?></div>
							<?php endif; ?>
							*/ ?>
                               <a href="<?php echo $_product->getProductUrl() ?>" class="featured-shop-now" >Shop Now >>></a>
						</div>
					</li>
		<?php endforeach; ?>
<li class="home-page-static-block">
<?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('cabling-home-page-banner')->toHtml(); ?>
</li>
	</ul>
<?php endif; ?>