<?php
/**
 * WDCA - Sweet Tooth
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the WDCA SWEET TOOTH POINTS AND REWARDS
 * License, which extends the Open Software License (OSL 3.0).
 * The Sweet Tooth License is available at this URL:
 *      http://www.wdca.ca/solutions_page_sweettooth/Sweet_Tooth_License.php
 * The Open Software License is available at this URL:
 *      http://opensource.org/licenses/osl-3.0.php
 *
 * DISCLAIMER
 *
 * By adding to, editing, or in any way modifying this code, WDCA is
 * not held liable for any inconsistencies or abnormalities in the
 * behaviour of this code.
 * By adding to, editing, or in any way modifying this code, the Licensee
 * terminates any agreement of support offered by WDCA, outlined in the
 * provided Sweet Tooth License.
 * Upon discovery of modified code in the process of support, the Licensee
 * is still held accountable for any and all billable time WDCA spent
 * during the support process.
 * WDCA does not guarantee compatibility with any other framework extension.
 * WDCA is not responsbile for any inconsistencies or abnormalities in the
 * behaviour of this code if caused by other framework extension.
 * If you did not receive a copy of the license, please send an email to
 * contact@wdca.ca or call 1-888-699-WDCA(9322), so we can send you a copy
 * immediately.
 *
 * @category   [TBT]
 * @package    [TBT_Rewards]
 * @copyright  Copyright (c) 2009 Web Development Canada (http://www.wdca.ca)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/

/**
 * Product View Points
 *
 * @category   TBT
 * @package    TBT_Rewards
 * @author     WDCA Sweet Tooth Team <contact@wdca.ca>
 */
$rewards = $this->getDistriRewards();
?>
<script type="text/javascript">
optionsPrice.productOldPrice = optionsPrice.productPrice;
<?php if($this->printOptionsPrice()): ?>
    // If we're running Magento 1.4 and the product is simple, we need refactor the JSON config.
    optionsPrice = new Product.OptionsPrice(<?php echo $this->getJsonConfig() ?>);
<?php endif; ?>
</script>
<?php if($this->doShowRedeemer() || sizeof($rewards) > 0): ?>
<div class="product-view-points" id="product-view-points">
    <?php if($this->doShowRedeemer()): ?>
        <?php if(!$this->getProduct()->isGrouped()): /* Grouped products don't show the catalog redemption selector*/  ?>
            <?php echo $this->getRedeemedHtml(); ?>
        <?php endif; ?>
    <?php endif; ?>
    <div id="points-total">
        <?php if(sizeof($rewards) > 0): ?>
           <?php echo $this->getEarnedHtml(); ?>
        <?php endif; ?>
    </div>
</div>
<?php endif; ?>

<?php if ($this->getProduct()->isGrouped() ):?>
<?php
$url = $this->getUrl('rewards/product_view_distribution/updatePoints', array('_secure' => false));
if (Mage::app()->getStore()->isCurrentlySecure()) {
    $url = $this->getUrl('rewards/product_view_distribution/updatePoints', array('_secure' => true));
}
?>
<script type="text/javascript">
    var elems = $$("table#super-product-table tbody tr td input.qty");
    elems.each(function(item){
        Event.observe(item, 'change', function(){
            var param = {};
            elems.each(function(i){
                key = i.name.slice(12,-1);
                param[key] =  parseInt(i.value);
            });
            param["product_id"] = <?php echo $this->getProduct()->getId();?>;
            new Ajax.Updater("points-total",'<?php echo $url; ?>',{
                method:'post',
                parameters: param
            },{asynchronous:false})
        });
    })
</script>
<?php endif;?>

<?php if (sizeof($this->getProduct()->getTierPrice())) : ?>
<script type="text/javascript">
document.observe("dom:loaded", function() {
    var elems = $$("div.add-to-cart input.qty");
    elems.each(function(item){
        Event.observe(item, 'change', function(){
            var param = {};
            var tierprices = <?php echo json_encode($this->getProduct()->getTierPrice());?>;
            var group_id = <?php echo Mage::getSingleton('customer/session')->getCustomerGroupId();?>;
            param["product_id"] = <?php echo $this->getProduct()->getId();?>;
            param["qty"] = item.value;
            optionsPrice.productPriceBeforeRedemptions = optionsPrice.productOldPrice;
            for (var key in tierprices) {
                if (tierprices.hasOwnProperty(key)) {
                    obj = tierprices[key];
                }
                if (!(obj.all_groups === "1")) {
                    if (!(obj.cust_group === group_id)){
                        return;
                    }
                }
                if (obj.price_qty <= parseInt(param["qty"])) {
                    optionsPrice.productPriceBeforeRedemptions = obj.website_price;
                }
            }
            updateUsesInterface();
        });
    })
})
</script>
<?php endif;?>
<script type="text/javascript">
<?php if( Mage::helper("rewards/version")->isEnterpriseAtLeast("1.11.2.0")):?>
    document.observe("dom:loaded", function() {
          if($('bundleSummary') != undefined) {
               if($('bundleSummary').getElementsBySelector('.add-to-cart').first() != undefined ) {
                    $('bundleSummary').getElementsBySelector('.add-to-cart').first().insert({after: $('product-view-points')});
               } else if($('bundleSummary').getElementsBySelector('.price-box').first() != undefined) {
                    $('bundleSummary').getElementsBySelector('.price-box').first().insert({after: $('product-view-points')});
               }
           }
    });
<?php endif;?>

</script>
