<?php if (!($_shippingRateGroups = $this->getShippingRates())): ?>
    <p><?php echo $this->__('Sorry, no quotes are available for this order at this time.') ?></p>
<?php else: ?>
	<style type="text/css">
    .sp-methods h2 { color: #000 }
    .utext { font: 12px/1.5 'ProximaNovaRgRegular',Arial,Helvetica,sans-serif; color: #333; text-align: left; font-weight:normal }
    #instorepickupred { color:#F00; }
	.subOptions { padding:0 0 0 20px; }
	.subOptions input { padding:0 5px 0 0; }
    </style>
	<script type="text/javascript">
	$x = jQuery.noConflict();
	$x(document).ready(function(){ 
	
		displayShippingRedText();
		
		$x("input[name='shipping_method']").bind('click',function(e) {  
			displayShippingRedText();
		});  
			
		function displayShippingRedText()
		{
			var pickup = $x("input[id^=s_method_premiumzone_Pickup_from_Store_]");
			var courier = $x("input[id^=s_method_premiumzone_Courier_Delivery_]");
			
			if( !$x(pickup).is(":checked") && !$x(courier).is(":checked") )
			{
				$x("#instorepickupred").css("display","none");
				$x("#pz_cd_options_auth").css("display","none");
				$x("#pz_cd_options_q").css("display","none");
			}
			else if( $x(pickup).is(":checked") && !$x(courier).is(":checked") )
			{
				$x("#instorepickupred").css("display","block");
				
				$x("#pz_cd_options_auth").css("display","none");
				$x("#pz_cd_options_q").css("display","none");
			}
			else if( !$x(pickup).is(":checked") && $x(courier).is(":checked") )
			{
				$x("#instorepickupred").css("display","none");

				$x("#pz_cd_options_auth").css("display","block");
				$x("#pz_cd_options_q").css("display","block");
			}
		}
	});
    </script>
    <dl class="sp-methods">
        <?php $shippingMe = array(); ?>
        <?php $_sole = count($_shippingRateGroups) == 1; ?>
        <?php foreach ($_shippingRateGroups as $code => $_rates): ?>
            <dt><h2><?php echo $this->escapeHtml($this->getCarrierName($code)) ?></h2>
            <p class="utext">All deliveries require signatures and re-delivery fees apply if postal address is unattended.</p>
            <p class="utext" id="instorepickupred" style="display:none">Pickup is from Sydney ONLY. If NOT collected within 10 days a 17.5% restocking fee will apply.<br /><br /></p>
            <?php 
			// premiumzone
			// echo $code 
			?>
            </dt>
            <dd>
                <?php if ($code == 'temando' && $this->isDynamicPricing()): ?>
                    <?php foreach ($_rates as $_rate): ?>
                        <?php $shippingMe[] = "'".$_rate->getCode()."':".(float)$_rate->getPrice(); ?>
                    <?php endforeach; ?>
                    <?php echo $this->getChildHtml('options'); ?>
                <?php elseif ($code == 'premiumzone'): ?>
                    <ul>
                        <?php $_sole = $_sole && count($_rates) == 1; ?>
                        <?php foreach ($_rates as $_rate): ?>
                            <?php $shippingMe[] = "'".$_rate->getCode()."':".(float)$_rate->getPrice(); ?>
                            <li>
                                <?php if ($_rate->getErrorMessage()): ?>
                                    <ul class="messages"><li class="error-msg"><ul><li><?php echo $_rate->getErrorMessage() ?></li></ul></li></ul>
                                <?php else: ?>
                                    <?php if ($_sole) : ?>
                                        <span class="no-display"><input name="shipping_method" type="radio" value="<?php echo $_rate->getCode() ?>" id="s_method_<?php echo $_rate->getCode() ?>" checked="checked" /></span>
                                    <?php else: ?>
                                        <input name="shipping_method" type="radio" value="<?php echo $_rate->getCode() ?>" id="s_method_<?php echo $_rate->getCode() ?>"<?php if($_rate->getCode()===$this->getAddressShippingMethod()) echo ' checked="checked"' ?> class="radio" onchange="return includingShipping('<?php echo $_rate->getCode();?>');"/>
                                        <?php if ($_rate->getCode()===$this->getAddressShippingMethod()): ?>
                                            <script type="text/javascript">
                                                //<![CDATA[
                                                    lastPrice = <?php echo (float)$_rate->getPrice(); ?>;
                                                //]]>
                                            </script>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                    <label for="s_method_<?php echo $_rate->getCode() ?>"><?php echo $_rate->getMethodTitle() ?>
                                    <?php $_excl = $this->getShippingPrice($_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
                                    <?php $_incl = $this->getShippingPrice($_rate->getPrice(), true); ?>
                                    <?php echo $_excl; ?>
                                    <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
                                        (<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
                                    <?php endif; ?>
                                    </label>
                               <?php endif ?>
                            </li>
							<?php $rcode = $_rate->getCode(); ?>
                            <?php $courier = substr($rcode, 0, strlen("premiumzone_Courier_Delivery_")); ?>
                            <?php if($courier == "premiumzone_Courier_Delivery_" && Mage::getStoreConfig('nowlive/utils/enabled')): ?>
                            <li id="pz_cd_options_auth" class="subOptions" style="display:none">
                            	<label>
                                	<input type="checkbox" class="radio" name="shipping_freight_authority" id="shipping_freight_authority" value="true" <?php if($this->getQuote()->getShippingFreightAuthority() == "true" ) echo ' checked="checked"' ?> /><?php echo Mage::helper('utils/data')->getMethodLabel("FAUTHORITY") ?></label>
                            </li>
                            <li id="pz_cd_options_q" class="subOptions" style="display:none">
                            	<label>
                                	<input type="checkbox" class="radio" name="shipping_jump_the_q" id="shipping_jump_the_q" value="true" <?php if($this->getQuote()->getShippingJumpTheQ() == "true" ) echo ' checked="checked"' ?> /><?php echo Mage::helper('utils/data')->getMethodLabel("FRUSH") ?></label>
                            </li>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    </ul>
				<?php else: ?>
                    <ul>
                        <?php $_sole = $_sole && count($_rates) == 1; ?>
                        <?php foreach ($_rates as $_rate): ?>
                            <?php $shippingMe[] = "'".$_rate->getCode()."':".(float)$_rate->getPrice(); ?>
                            <li>
                                <?php if ($_rate->getErrorMessage()): ?>
                                    <ul class="messages"><li class="error-msg"><ul><li><?php echo $_rate->getErrorMessage() ?></li></ul></li></ul>
                                <?php else: ?>
                                    <?php if ($_sole) : ?>
                                        <span class="no-display"><input name="shipping_method" type="radio" value="<?php echo $_rate->getCode() ?>" id="s_method_<?php echo $_rate->getCode() ?>" checked="checked" /></span>
                                    <?php else: ?>
                                        <input name="shipping_method" type="radio" value="<?php echo $_rate->getCode() ?>" id="s_method_<?php echo $_rate->getCode() ?>"<?php if($_rate->getCode()===$this->getAddressShippingMethod()) echo ' checked="checked"' ?> class="radio" onchange="return includingShipping('<?php echo $_rate->getCode();?>');"/>
                                        <?php if ($_rate->getCode()===$this->getAddressShippingMethod()): ?>
                                            <script type="text/javascript">
                                                //<![CDATA[
                                                    lastPrice = <?php echo (float)$_rate->getPrice(); ?>;
                                                //]]>
                                            </script>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                    <label for="s_method_<?php echo $_rate->getCode() ?>"><?php echo $_rate->getMethodTitle() ?>
                                    <?php $_excl = $this->getShippingPrice($_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
                                    <?php $_incl = $this->getShippingPrice($_rate->getPrice(), true); ?>
                                    <?php echo $_excl; ?>
                                    <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
                                        (<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
                                    <?php endif; ?>
                                    </label>
                               <?php endif ?>
                            </li>
                        <?php endforeach; ?>
                    </ul>
                <?php endif; ?>
            </dd>
        <?php endforeach; ?>
    </dl>
    <script type="text/javascript">
    //<![CDATA[
        <?php if (!empty($shippingMe)): ?>
            var shippingMe = {<?php echo implode(',',$shippingMe); ?>};
        <?php endif; ?>
    //]]>
    </script>
<?php endif; ?>
