<!--
/**
 * Abandoned Carts Alerts Pro
 *
 * @category:    AdjustWare
 * @package:     AdjustWare_Cartalert
 * @version      3.2.0
 * @license:     n/a
 * @copyright:   Copyright (c) 2013 AITOC, Inc. (http://www.aitoc.com)
 */
--><!--@subject Review reminder from {{var store_name}} @-->

<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top"><a href="{{var store_url}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt=""  style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
        </table>
        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top">
                    <p><strong>Hello {{var customer_name}},</strong></p>
                    <p>Thank you for stopping by {{var website_name}} and considering us for your purchase.</p>
	      <p>We would really appreciate if you wrote a small review for the ordered products.</p>

                    <p>{{var products}}</p>

                    <p><a href="{{var unsubscribe_link}}">Unsubscribe</a></p>

                    
                    <p>Please let us know if you had any issues or concerns. We are asking for feedback from you and other customers to make your experience at {{var website_name}} better.</p>


<p>Once again, thank you for your time and consideration in helping us improve our website.</p>

<p>Sincerely,  {{var store_name}} Team</p>

                     <p><a href="{{var store_url}}">{{var store_name}}</a></p>
               </td>
           </tr>
       </table>
   </td>
</tr>
</table>
</div>