<?php 
$customer_id = "invalid";
$customer = Mage::getSingleton('customer/session')->getCustomer();
if($customer->getId())
{
	$customer_id = $customer->getId();
}
// 170260146374313  
/*
<div id="fb-root"></div>
<script src="http://connect.facebook.net/en_US/all.js" type="text/javascript"></script>
*/
?>
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<script type="text/javascript">
	function renderPlusone() {
		gapi.plusone.render("plusone-div", {"size":"medium", "callback":googleplusstate});
	}
</script>
<script>

	window.fbAsyncInit = function() {
		FB.init({appId:'212677672102668', status:true, cookie:true, xfbml:true});
		try {
			// console.log("try event subscribe!");
			FB.Event.subscribe('edge.create', function(href, widget) {
				logShareOrLike("facebook_like")
			});
		} catch (e) { console.log("could not subscribe to fb like event") }
	};

	window.___gcfg = {
		lang: 'ro-RO'
	};

	(function() {
		var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
		po.src = 'https://apis.google.com/js/plusone.js';
		po.callback = "googleplusstate";
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	})();


	twttr = (function (d,s,id) {  var t, js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js=d.createElement(s); js.id=id; js.src="https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } }); }(document, "script", "twitter-wjs"));
    twttr.ready(function(twttr) {
	
		// A click occured on a twitter button
		twttr.events.bind('click', function(e){
			// console.log("e.target should by a node or something, but is : "+e.target)
			logShareOrLike("twitter_share")
		});
	
	});
	
	function logShareOrLike(type, url)
	{
		saveAjaxLikeState(type, url);
	}
	
	function googleplusstate(obj)
	{
		saveAjaxLikeState("google_plus_sharing");
	}
	
	function saveAjaxLikeState(type)
	{
		<?php if(is_numeric($customer_id)) { ?>
		$j = jQuery.noConflict();
		$j.post("<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB); ?>loyalty.php", { "type" : type, "url" : document.location.href, "xrefid": "<?php echo $customer_id ?>" } );
		<?php } ?>
	}
</script>
<div class="share">
	<div class="fb" style="float:left; display:block; width:90px;">
    	<fb:like class="fb-like" send="false" layout="button_count" width="50" show_faces="false"></fb:like>
	</div>
    <div class="tw_share" style="float:left; display:block; width:100px;">
        <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
    </div>    
	<div id="plusone-div" style="float:left; display:block; width:100px;"></div>	
</div>
<div>
	<?php // echo $this->__("Share to earn loyalty points!") ?>
</div>
<script type="text/javascript">renderPlusone();</script>