<?php
/**
 * - Main "foreach" loop is based on: \BASE\DEFAULT\template\catalog\product\list.phtml
 *   with some small changes:
 *		- h2 replaced with h3
 */
?>
<?php
	//$_productCollection = $this->getLoadedProductCollection();

	$_productCollection = Mage::getResourceModel('catalog/product_collection');
	$attributes = Mage::getSingleton('catalog/config')->getProductAttributes();


	$_productCollection->addAttributeToSelect($attributes)
				->addMinimalPrice()
				->addFinalPrice()
				->addTaxPercents()
				->addAttributeToFilter('inchoo_featured_product', 1, 'left')
				->addStoreFilter()
				->getSelect()->order($this->getSortBy())->limit($this->getLimit());

			Mage::getSingleton('catalog/product_status')->addVisibleFilterToCollection($_productCollection);
			Mage::getSingleton('catalog/product_visibility')->addVisibleInCatalogFilterToCollection($_productCollection);
?>
<?php if ($_productCollection && ($_collectionSize = $_productCollection->count())): ?>
<?php
	$_helper = $this->helper('catalog/output');
	$theme = $this->helper('ultimo');
	$labelsHelper = $this->helper('ultimo/labels');
	$templateHelper = $this->helper('ultimo/template');

	//Default image size
	$imgWidth = 168;
	$imgHeight = 168;
	//$_columnCount = $this->getColumnCount();

	//Aspect ratio settings
	if ($theme->getCfg('category/aspect_ratio'))
		$imgHeight = 0; //Height will be computed automatically (based on width) to keep the aspect ratio

	//Modify slider depending on number of slides
	$sliderClasses = '';
	if($_collectionSize > 0)
	{
		if($_collectionSize <= 11)
			$sliderClasses .= " count-$_collectionSize";
		else
			$sliderClasses .= " count-multi";
	}

	//Create random value
	list($usec, $sec) = explode(' ', microtime());
	//$randomSeed = ;
	mt_srand( (float) $sec + ((float) $usec * 100000) );
	$r = mt_rand();
	$index = 0; $middle = round($_collectionSize / 2);
?>

<div class="featured-products">
    <h3 style="text-align: center;"><?php echo $this->getBlockName(); ?></h3>
    <div class="itemslider-wrapper itemslider-wrapper-<?php echo $r; ?>">
        <div class="nav-wrapper gen-slider-arrows1 gen-slider-arrows1-pos-top-right"></div>
        <div class="itemslider itemslider-horizontal itemslider-x<?php if($sliderClasses) echo $sliderClasses; ?>">
            <ul class="slides products-grid category-products-grid equal-height">
                <?php foreach ($_productCollection as $_product):
                    if ($index >= $middle)
                        break;
                    else
                        $index++;
                ?>
                    <li class="item">
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true); ?>" class="product-image">

                            <img src="<?php echo $theme->getImgUrl($this, $_product, $imgWidth, $imgHeight, 'small_image'); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true); ?>" />

                            <?php if ($theme->getCfg('category/alt_image')): ?>
                                <?php echo $theme->getAltImgHtml($_product, $imgWidth, $imgHeight); ?>
                            <?php endif; ?>

                            <?php //Product labels
                                echo $labelsHelper->getLabels($_product); ?>

                        </a>

                        <?php //Add-to links
                        if ($theme->getCfg('category_grid/display_addtolinks') != 0 && $theme->getCfg('category_grid/addtolinks_simple'))
                        {
                            if ($theme->getCfg('category_grid/display_addtolinks') == 1) //Display on hover
                                echo $templateHelper->getCategoryAddtoLinks($_product, $this->getAddToCompareUrl($_product), 'addto-onimage visible-onhover');
                            else //Always display
                                echo $templateHelper->getCategoryAddtoLinks($_product, $this->getAddToCompareUrl($_product), 'addto-onimage');
                        }
                        ?>

                        <h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h3>
                        <?php if($_product->getRatingSummary()): ?>
                            <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                        <?php endif; ?>
                        <?php echo $this->getPriceHtml($_product, true) ?>
                        <div class="actions">
                            <?php if($_product->isSaleable()): ?>
                                <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                            <?php else: ?>
                                <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                            <?php endif; ?>

                            <?php //Add-to links
                            if ($theme->getCfg('category_grid/display_addtolinks') != 0 && !$theme->getCfg('category_grid/addtolinks_simple'))
                            {
                                if ($theme->getCfg('category_grid/display_addtolinks') == 1) //Display on hover
                                    echo $templateHelper->getCategoryAddtoLinks($_product, $this->getAddToCompareUrl($_product), 'addto-textlink display-onhover');
                                else //Always display
                                    echo $templateHelper->getCategoryAddtoLinks($_product, $this->getAddToCompareUrl($_product), 'addto-textlink');
                            }
                            ?>
                        </div>
                    </li>
                <?php endforeach; ?>
            </ul> <!-- end: slides -->

            <?php $index = 0; ?>
            <div class="slides products-grid category-products-grid equal-height">
                <?php foreach ($_productCollection as $_product):
                    if ($index >= $middle) {
                ?>
                    <div class="item">
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true); ?>" class="product-image">

                            <img src="<?php echo $theme->getImgUrl($this, $_product, $imgWidth, $imgHeight, 'small_image'); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true); ?>" />

                            <?php if ($theme->getCfg('category/alt_image')): ?>
                                <?php echo $theme->getAltImgHtml($_product, $imgWidth, $imgHeight); ?>
                            <?php endif; ?>

                            <?php //Product labels
                                echo $labelsHelper->getLabels($_product); ?>

                        </a>

                        <?php //Add-to links
                        if ($theme->getCfg('category_grid/display_addtolinks') != 0 && $theme->getCfg('category_grid/addtolinks_simple'))
                        {
                            if ($theme->getCfg('category_grid/display_addtolinks') == 1) //Display on hover
                                echo $templateHelper->getCategoryAddtoLinks($_product, $this->getAddToCompareUrl($_product), 'addto-onimage visible-onhover');
                            else //Always display
                                echo $templateHelper->getCategoryAddtoLinks($_product, $this->getAddToCompareUrl($_product), 'addto-onimage');
                        }
                        ?>

                        <h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($_product->getName(), null, true) ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></a></h3>
                        <?php if($_product->getRatingSummary()): ?>
                            <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                        <?php endif; ?>
                        <?php echo $this->getPriceHtml($_product, true) ?>
                        <div class="actions">
                            <?php if($_product->isSaleable()): ?>

                                <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                            <?php else: ?>
                                <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                            <?php endif; ?>

                            <?php //Add-to links
                            if ($theme->getCfg('category_grid/display_addtolinks') != 0 && !$theme->getCfg('category_grid/addtolinks_simple'))
                            {
                                if ($theme->getCfg('category_grid/display_addtolinks') == 1) //Display on hover
                                    echo $templateHelper->getCategoryAddtoLinks($_product, $this->getAddToCompareUrl($_product), 'addto-textlink display-onhover');
                                else //Always display
                                    echo $templateHelper->getCategoryAddtoLinks($_product, $this->getAddToCompareUrl($_product), 'addto-textlink');
                            }
                            ?>
                        </div>
                    </div>
                <?php
                    }
                    $index++;
                endforeach; ?>
            </div> <!-- end: slides -->
        </div> <!-- end: itemslider -->

	</div> <!-- end: itemslider-wrapper -->
</div>
<script type="text/javascript">
//<![CDATA[
	jQuery(function($) {
		$('.itemslider-wrapper-<?php echo $r; ?> .itemslider').flexslider({
			namespace: "",
			animation: "slide",
			easing: "easeInQuart",

			<?php if($time = intval($theme->getCfg('product_slider/timeout'))): ?>
				slideshowSpeed: <?php echo $time; ?>,
				animationLoop: true,
			<?php else: ?>
				slideshow: false,
				animationLoop: false,
			<?php endif; ?>

			<?php if($speed = intval($theme->getCfg('product_slider/speed'))): ?>
				animationSpeed: <?php echo $speed; ?>,
			<?php endif; ?>
			pauseOnHover: true,
			controlNav: false,

			controlsContainer: ".itemslider-wrapper-<?php echo $r; ?> .nav-wrapper",

			itemWidth: 282, // 188,
			move: <?php echo intval($theme->getCfg('product_slider/move_items')); ?>
		});
	});
//]]>
</script>
<?php endif; ?>
