/*
 * ProNav v3.2 CSS
 * Theme: Tabbed (Red)
 * Author: Brandammo
 */

/*
 * PRONAV
 */
ul#pronav {
	padding:10px 0 0 0;
	background:#d62d3b;
}

ul#pronav.pn-left,
ul#pronav.pn-right {
	padding:0px;
}

/*
 * PRIMARY LINK STYLES
 */

ul#pronav.pn-left li.primary-pronav-item,
ul#pronav.pn-right li.primary-pronav-item  {
	border-bottom:1px solid #b62632;
}

ul#pronav li.primary-pronav-item.first-pronav-item {
	margin:0 0 0 20px;
}

ul#pronav.pn-left li.primary-pronav-item.last-pronav-item,
ul#pronav.pn-right li.primary-pronav-item.last-pronav-item {
	border:none;
}

ul#pronav li.primary-pronav-item a.primary-pronav-link {
	color:#fff;
	padding:8px 15px 14px 15px;
	text-decoration:none;
	font-weight:bold;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-top-left-radius:5px;
	-moz-border-top-right-radius:5px;
	text-transform:uppercase
}

ul#pronav.pn-left li.primary-pronav-item a.primary-pronav-link,
ul#pronav.pn-right li.primary-pronav-item a.primary-pronav-link {
	padding:5px 10px;
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	text-transform:uppercase;
	font-size:10px;
}

ul#pronav li.primary-pronav-item a.primary-pronav-link:hover,
ul#pronav li.primary-pronav-item:hover a.primary-pronav-link {
	color:#999;
	background:#fff;
	padding:11px 15px;
}

ul#pronav.pn-left li.primary-pronav-item a.primary-pronav-link:hover,
ul#pronav.pn-left li.primary-pronav-item:hover a.primary-pronav-link,
ul#pronav.pn-right li.primary-pronav-item a.primary-pronav-link:hover,
ul#pronav.pn-right li.primary-pronav-item:hover a.primary-pronav-link {
	padding:5px 25px;
}

ul#pronav li.primary-pronav-item.no-sub a.primary-pronav-link:hover {
	padding:8px 15px 8px 15px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	background:#ff5866;
	color:#fff;
}

ul#pronav.pn-left li.primary-pronav-item.no-sub a.primary-pronav-link:hover,
ul#pronav.pn-right li.primary-pronav-item.no-sub a.primary-pronav-link:hover {
	border-radius:0px;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	padding:5px 25px;
	background:#fff;
	color:#999;
}

/*
 * DROPDOWN STYLES
 */
ul#pronav li.primary-pronav-item .sub {
	top:40px;
	background:#fff;
	box-shadow:2px 2px 2px rgba(0,0,0,0.2);
	-moz-box-shadow:2px 2px 2px rgba(0,0,0,0.2);
	-webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.2);
}

ul#pronav li.primary-pronav-item.position-static .sub {
	top:50px;
}

/*
 * DROPDOWN ROW STYLES
 */
ul#pronav li.primary-pronav-item .sub .row {}
ul#pronav li.primary-pronav-item .sub .row.first-row {}
ul#pronav li.primary-pronav-item .sub .row.last-row {}


/*
 * DROPDOWN COLUMNS
 */
ul#pronav li.primary-pronav-item .sub .row ul {
	background-image:none;
	border-right:1px solid #eee;
	min-height:300px;
	text-align: left;
	padding:0px;
}
ul#pronav li.primary-pronav-item .sub .row ul.last-ul {
	border-right:none;
}


/*
 * DROPDOWN LIST & LINK STYLES
 */
ul#pronav li.primary-pronav-item .sub ul li {}
ul#pronav li.primary-pronav-item .sub ul li.first-li {}
ul#pronav li.primary-pronav-item .sub ul li.last-li {}

ul#pronav li.primary-pronav-item .sub ul li.last-li a {
	border-bottom:0px;
}

ul#pronav li.primary-pronav-item .sub ul li.first-li a {
	border-top:0px;
	padding-top:10px;
	background:#fff;
}

ul#pronav li.primary-pronav-item .sub ul li.level-2 a {
	font-size: 13px;
	font-weight: bold;
	color:#000;
	text-transform:uppercase;
	background:#ddd;
	border-bottom: 1px solid #d1d1d1;
}

ul#pronav li.primary-pronav-item .sub ul li.level-3 a {
	font-size: 12px;
	font-weight: bold;
	color:#666;
	background:#f9f9f9;
}

ul#pronav li.primary-pronav-item .sub ul li.level-4 a {
	font-size: 11px;
	padding-left: 30px;
	color:#999;
}

ul#pronav li.primary-pronav-item .sub ul li.level-5 a {
	font-size: 10px;
	padding-left: 50px;
}

ul#pronav li.primary-pronav-item .sub ul li a {
	color:#999;
	font-size:11px;
	text-decoration:none;
	border-bottom: 1px solid #eee;
	padding:5px 25px;
}

ul#pronav li.primary-pronav-item .sub ul li a:hover {
	background:#ff3646;
	color:#fff;
}

ul#pronav li.primary-pronav-item .sub ul li.level-2 a:hover {
	background:#a82530;
	color:#fff;
}

ul#pronav li.primary-pronav-item .sub ul li.level-3 a:hover {
	background:#d62d3b;
	color:#fff;
}

/*
 * CUSTOM PROMOS
 */

ul.ul-promo {
	width:300px !important;
}

.promo-container {
	width:280px;
	height:280px;
	float:left;
	padding:10px;
}

.promo-container .promo-large {
	width:280px;
	height:158px;
	background:#ccc;
}

.promo-container .promo-small {
	width:135px;
	height:112px;
	background:#aaa;
	margin-top:10px;
}

.promo-container .promo-small.left-promo {
	float:left;
	clear:left;
}

.promo-container .promo-small.right-promo {
	float:right;
	clear:right;
}

.promo-container a {
	padding:0px !important;
}


/*
 * CUSTOM CATEGORY LISTING
 */
ul#pronav li.primary-pronav-item#category-products .sub .row ul {width:1020px;}
ul#pronav li.primary-pronav-item .sub .row ul li .category-products {padding:10px}
ul#pronav li.primary-pronav-item .sub ul li .category-products .products-grid {background:#eee; border:none; padding:10px; margin:0 0 5px 0}
ul#pronav li.primary-pronav-item .sub ul li .category-products .products-grid.last {margin:0px;}
ul#pronav li.primary-pronav-item .sub ul li .category-products .products-grid .item {float:left; width:135px;margin:0 10px 0 0; background:#fff; padding:10px}
ul#pronav li.primary-pronav-item .sub ul li .category-products .products-grid .item.last {margin:0px;}
ul#pronav li.primary-pronav-item .sub ul li .category-products .products-grid .item a {padding:0px; margin:0px; border:none}
ul#pronav li.primary-pronav-item .sub ul li .category-products .products-grid .product-name,
ul#pronav li.primary-pronav-item .sub ul li .category-products .products-grid .price-box {padding:5px; text-align:center;}
ul#pronav li.primary-pronav-item .sub ul li .category-products .products-grid .product-name a:hover {background:none; color:#000}
ul#pronav li.primary-pronav-item .sub ul li .category-products .products-grid .actions {position:static; text-align:center;}


/*
 * CUSTOM ACCOUNT LOGIN
 */
ul#pronav li.primary-pronav-item#account-login .sub .row ul {width:855px;}
ul#pronav li.primary-pronav-item#account-login .sub .row ul li .account-login {padding:20px;}
ul#pronav li.primary-pronav-item#account-login .sub .row ul li .account-login .buttons-set a {border:none; padding:0px;}
ul#pronav li.primary-pronav-item#account-login .sub .row ul li .account-login .content {background:#eee; border:none; padding:20px;}
ul#pronav li.primary-pronav-item#account-login .sub .row ul li .account-login .buttons-set {border:none; padding:10px; background:#fff;}


/*
 * RESPONSIVE PRONAV
 */
#pronav-selection-container #pronav-select-toggle {
	color:#fff;
	background: url(../images/pronav-select.png) no-repeat 10px center #d62d3b;
}

#pronav-selection-container #pronav-selection {
	background:#f5f5f5;
	border-bottom:5px solid #A7C6DD;
}