<?php
/**
 * Appmerce - Applications for Ecommerce
 * http://ww.appmerce.com
 *
 * @extension   eWAY Hosted Payment (AU/UK/NZ), XML+CVN (AU), Rapid API
 * @type        Payment method
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category    Magento Commerce
 * @package     Appmerce_Eway
 * @copyright   Copyright (c) 2011-2013 Appmerce (http://www.appmerce.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */

$alias = $this->getInfo()->getEwayManagedAlias(); 
?>
<?php echo $this->htmlEscape($this->getMethod()->getTitle()); ?><br />
<?php echo Mage::helper('eway')->__('Transaction ID: %s', $this->htmlEscape($this->getInfo()->getLastTransId())); ?><br />
<?php if (!empty($alias)): ?>
<?php echo Mage::helper('eway')->__('Managed Customer ID: %s', $this->htmlEscape($alias)); ?><br />
<?php endif; ?>