<style type="text/css">
#cf {
    clear:both;
    font-size:18px;
    width:100%;
    margin:0 auto;
}

#cf h2 {
    text-transform:uppercase;
    font-weight:bold;
    margin-top:10px;
    margin-bottom:20px;
}

.cf_group ul {
    display:inline-block;
    margin-right:100px;
    vertical-align:top;
}

.cf_group ul li {
    position:relative;
}

.cf_left {
    display:inline-block;

}

.cf_right {
    display:inline-block;
    position:absolute;
    right:0px;
    text-align:left;
}

.cf_right input {
    position:relative;
    left:0px;
}


.cf_other_input {
    border:0px;
    border-bottom:1px solid #000;

}

#cf_header {
    margin-bottom:20px;
}

.cf_other_input {
    width:822px;
}

.cf_connector_header img {
    clear:both;
}
.cf_length_input {
    margin:0 auto;
    border:0px;
    border-bottom:1px solid #000;
    width:260px;
}

.cf_length_wrapper {
    margin:0 auto;
    width:480px;
    padding-left:60px;
    margin-bottom:30px;
}

.cf_group_item {
    display:inline-block;
    position:relative;
    margin-bottom:20px;
    margin-right:30px;
}

.cf_core_count {
    border:0px;
    border-bottom:1px solid #000;
}

.cf_info {
    margin-top:20px;
    margin-bottom:20px;
}
</style>
<div id="cf">
    <h4>Use the form below to select the options and quantities you require for your custom cables. Once completed enter your details at the bottom of the page and submit the form and member of the customer service team will be in touch with a a quote.</h4>
    <form action="/custom-application-form-thankyou" method="post">
        <div id="cf-header">
            <img src="/media/form/request.jpg" />
            <br />
            <img src="/media/form/connector_guide.jpg" />
        </div>
        <div class="cf-body">
            <h2>1. Choose Cable Type</h2>
            <div class="cf_group">
                <ul>
                     <li><input type="checkbox" class="cable_type" name="cable_type" value="CAT5e Jacket Type:" /> <span>CATe Jacket Type</span></li>
                     <li><input type="checkbox" class="cable_type" name="cable_type" value="CAT6" /> <span>CAT6</span></li>
                     <li><input type="checkbox" class="cable_type" name="cable_type" value="CAT6a" /> <span>CAT6a</span></li>
                     <li><input type="checkbox" class="cable_type" name="cable_type" value="Unshielded" /> <span>Unshielded</span></li>
                     <li><input type="checkbox" class="cable_type" name="cable_type" value="Foil Shielded" /> <span>Foileded</span></li>
                </ul>
                <ul>
                    <li><input type="checkbox" class="cable_type" name="cable_type" value="Foil and Copper-Braid Shielded" /> <span>Foil and Copper-Braid Shielded</span></li>
                    <li><input type="checkbox" class="cable_type" name="cable_type" value="Solid" /> <span>Solid</span></li>
                    <li><input type="checkbox" class="cable_type" name="cable_type" value="Stranded" /> <span>Stranded</span></li>
                    <li><input type="checkbox" class="cable_type" name="cable_type" value="62.5/125-um Multimode Fiber" /> <span>62.5/12-um Multimode Fiber</span></li>
                    <li><input type="checkbox" class="cable_type" name="cable_type" value="50/125-um Multimode Fiber" /> <span>50/125-um Multimode Fiber</span></li>
                </ul>
                <ul>
                    <li><input type="checkbox" class="cable_type" name="cable_type" value="50/125-um (OM3) Mulitmode" /> <span>50/125-um (OM3) Mulitmode</span></li>
                    <li><input type="checkbox" class="cable_type" name="cable_type" value="8.5/125-um Single-Mode Fiber" /> <span>8.5/125-um Single-Mode Fiber</span></li>
                    <li><input type="checkbox" class="cable_type" name="cable_type" value="Simplex Fiber" /> <span>Simplex Fiber</span></li>
                    <li><input type="checkbox" class="cable_type" name="cable_type" value="Duplex Fiber" /> <span>Duplex Fiber</span></li>
                </ul>
                <div class="cf_other"><input type="checkbox" class="cable_type" name="cable_type" value="Other" /> <span>Other</span> <input type="text" name="cf_other_input" value="" class="cf_other_input"/></div>
            </div>
            <h2>2. Connectors</h2>
            <div class="cf_group">
                <div class="cf_connector_header">
                    <img src="/media/form/connectors.jpg" />
                    <div class="cf_length_wrapper">Length: <input type="text" class="cf_length_input" name="connector_length"  /></div>
                </div>
                <ul style="width:30%;border-right:1px solid #000;padding-right:90px;">
                    <li><span>Gender</span> <input type="checkbox" name="connectors_gender_a" value="M"  /> <b>M</b> <input type="checkbox" name="connectors_gender_a" value="F"  /> <b>F</b></li>
                    <li>
                        <div class="cf_left"><input type="checkbox" name="connectors_type_a"  value="DB9" /> <span>DB9</span></div>
                        <div class="cf_right"><input type="checkbox" name="connectors_type_a"  value="RJ-45 10-wire" /> <span>RJ-45 10-wire</span></div>
                    </li>
                    <li>
                        <div class="cf_left"><input type="checkbox" name="connectors_type_a"  value="DB15" /> <span>DB15</span></div>
                        <div class="cf_right"><input type="checkbox" name="connectors_type_a"  value="RJ-45 8-Wire" /> <span>RJ-45 8-Wire</span></div>
                    </li>
                    <li>
                        <div class="cf_left"><input type="checkbox" name="connectors_type_a"  value="DB25" /> <span>DB25</span></div>
                        <div class="cf_right"><input type="checkbox" name="connectors_type_a"  value="Fiber ST" /> <span>Fiber ST</span></div>
                    </li>
                    <li>
                        <div class="cf_left"><input type="checkbox" name="connectors_type_a"  value="50-pin telco" /> <span>50-pin telco</span></div>
                        <div class="cf_right"><input type="checkbox" name="connectors_type_a"  value="Fiber SC" /> <span>Fiber SC</span></div>
                    </li>
                    <li>
                        <div class="cf_left"><input type="checkbox" name="connectors_type_a"  value="RJ-11 4-Wire" /> <span>RJ-11 4-wire</span></div>
                        <div class="cf_right"><input type="checkbox" name="connectors_type_a"  value="Fiber LC" /> <span>Fiber LC</span></div>
                    </li>
                    <li>
                        <div class="cf_left"><input type="checkbox" name="connectors_type_a"  value="RJ-11 6-wire" /> <span>RJ-11 6-wire</span></div>
                        <div class="cf_right"><input type="checkbox" name="connectors_type_a"  value="Fiber MT-RJ" /> <span>Riber MT-RJ</span></div>
                    </li>
                    <li>
                        <div class="cf_left"><input type="checkbox" name="connectors_type_a"  value="RJ-22 4-wire" /> <span>RJ-22 4-wire</span></div>
                        <div class="cf_right"><input type="checkbox" name="connectors_type_a"  value="Fiber FDDI" /> <span>Fiber FDDI</span></div>
                    </li>
                    <li>
                        <div class="cf_left"><input type="checkbox" name="connectors_type_a"  value="RJ-45 8-wire" /> <span>RJ-45 8-wire</span></div>
                    </li>
                </ul>
                <ul style="width:30%;">
                    <li><span>Gender</span> <input type="checkbox" name="connectors_gender_b" value="M"  /> <b>M</b> <input type="checkbox"  name="connectors_gender_b" value="F" /> <b>F</b></li>
                    <li>
                        <div class="cf_left"><input type="checkbox" name="connectors_type_b"  value="DB9" /> <span>DB9</span></div>
                        <div class="cf_right"><input type="checkbox" name="connectors_type_b"  value="RJ-45 10-wire" /> <span>RJ-45 10-wire</span></div>
                    </li>
                    <li>
                        <div class="cf_left"><input type="checkbox" name="connectors_type_b"  value="DB15" /> <span>DB15</span></div>
                        <div class="cf_right"><input type="checkbox" name="connectors_type_b"  value="RJ-45 8-Wire" /> <span>RJ-45 8-Wire</span></div>
                    </li>
                    <li>
                        <div class="cf_left"><input type="checkbox" name="connectors_type_b"  value="DB25" /> <span>DB25</span></div>
                        <div class="cf_right"><input type="checkbox" name="connectors_type_b"  value="Fiber ST" /> <span>Fiber ST</span></div>
                    </li>
                    <li>
                        <div class="cf_left"><input type="checkbox" name="connectors_type_b"  value="50-pin telco" /> <span>50-pin telco</span></div>
                        <div class="cf_right"><input type="checkbox" name="connectors_type_b"  value="Fiber SC" /> <span>Fiber SC</span></div>
                    </li>
                    <li>
                        <div class="cf_left"><input type="checkbox" name="connectors_type_b"  value="RJ-11 4-Wire" /> <span>RJ-11 4-wire</span></div>
                        <div class="cf_right"><input type="checkbox" name="connectors_type_b"  value="Fiber LC" /> <span>Fiber LC</span></div>
                    </li>
                    <li>
                        <div class="cf_left"><input type="checkbox" name="connectors_type_b"  value="RJ-11 6-wire" /> <span>RJ-11 6-wire</span></div>
                        <div class="cf_right"><input type="checkbox" name="connectors_type_b"  value="Fiber MT-RJ" /> <span>Riber MT-RJ</span></div>
                    </li>
                    <li>
                        <div class="cf_left"><input type="checkbox" name="connectors_type_b"  value="RJ-22 4-wire" /> <span>RJ-22 4-wire</span></div>
                        <div class="cf_right"><input type="checkbox" name="connectors_type_b"  value="Fiber FDDI" /> <span>Fiber FDDI</span></div>
                    </li>
                    <li>
                        <div class="cf_left"><input type="checkbox" name="connectors_type_b"  value="RJ-45 8-wire" /> <span>RJ-45 8-wire</span></div>
                    </li>
                </ul>
            </div>
            <div class="cf_footer">
                <img src="/media/form/connector_rep.jpg" />
            </div>
            <div class="cf_group">
                <div class="cf_group_item">
                    <h2>1. Cable Type</h2>
                    <ul>
                        <li><input type="radio" value="Tight Buffered Indoor-OutDoor" name="cable_type2"  /> <span>Tight Buffered Indoor-Outdoor</span></li>
                        <li><input type="radio" value="Loose-Tube Underground Cable" name="cable_type2"  /> <span>Loose-Tube Underground Cable</span></li>
                        <li><input type="radio" value="Indoor Riser" name="cable_type"  /> <span>Indoor Riser</span></li>
                    </ul>
                </div>
                <div class="cf_group_item">
                    <h2>2. Use</h2>
                    <ul>
                        <li><input type="radio" value="Undeground" name="use"  /> <span>Underground</span></li>
                        <li><input type="radio" value="Indoor" name="use"  /> <span>Indoor</span></li>
                        <li><input type="radio" value="Outdoor" name="use"  /> <span>Outdoor</span></li>
                    </ul>
                </div>
                <div class="cf_group_item">
                    <h2>3. Fibre Mode</h2>
                    <ul>
                        <li><input type="radio" value="OS1-Singlemode 9/125" name="fibre_mode"  /> <span>OS1-Singlemode 9/124</span></li>
                        <li><input type="radio" value="OM1-Multimode 62.5/125" name="fibre_mode"  /> <span>OM1-Multimode 62.5/125</span></li>
                        <li><input type="radio" value="OM3-Multimode 50/125" name="fibre_mode"  /> <span>OM3-Multimode 50/125</span></li>
                    </ul>
                </div>
                <div class="cf_group_item">
                    <h2>4. Core Count</h2>
                    <ul>
                        <li><input type="text" value="" name="core_count" class="cf_core_count"  /></li>
                    </ul>
                </div>
                <div class="cf_group_item">
                    <h2>5. Connectors</h2>
                    <ul style="width:60%">
                        <li>
                            <div class="cf_left"><input type="radio" name="connectors_fibre" value="ST"  /> <span>ST</span></div>
                            <div class="cf_right"><input type="radio" name="connectors_fibre" value="LC"  /> <span>LC</span></div>
                        </li>
                        <li>
                            <div class="cf_left"><input type="radio" name="connectors_fibre" value="SC"  /> <span>SC</span></div>
                            <div class="cf_right"><input type="radio" name="connectors_fibre" value="SCA"  /> <span>SCA</span></div>
                        </li>
                    </ul>
                </div>
                <div class="cf_group_item">
                    <h2>6. Length</h2>
                    <ul>
                        <li><input type="text" value="" name="core_count" class="cf_core_count"  /><br /><span>in meters</span></li>
                    </ul>
                </div>
                <div class="cf_group_item">
                    <h2>7. Break out</h2>
                    <ul>
                        <li><input type="radio" value="Staggered" name="breakout"  /> <span>Staggered</span></li>
                        <li><input type="radio" value="Parallel" name="breakout"  /> <span>Parallel</span></li>
                        <li><input type="radio" value="Break-out length" name="breakout"  /> <span>Break-out length</span></li>
                        <li><input type="radio" value="Over sleeving" name="breakout"  /> <span>Over sleeving</span></li>
                    </ul>
                </div>
                <div class="cf_group_item">
                    <h2>8. Connector Projection</h2>
                    <ul>
                         <li><input type="radio" value="Pulling Conduit" name="connector_protection"  /> <span>Pulling Conduit</span></li>
                         <li><input type="radio" value="Standard Flexi Protection" name="connector_protection"  /> <span>Standard Flexi Protection</span></li>
                    </ul>
                </div>
                <div class="cf_group_item">
                    <h2>9. Labelling</h2>
                    <ul>
                         <li><input type="radio" value="End 1" name="labeling"  /> <span>End 1</span></li>
                         <li><input type="radio" value="End 2" name="labeling"  /> <span>End 2</span></li>
                    </ul>
                </div>
                <div class="cf_group_item">
                    <h2>10. Jacket Size</h2>
                    <span>(PATCH LEADS ONLY)</span><br />
                    <ul>
                         <li><input type="radio" value="1.8mm" name="jacket_size"  /> <span>1.8mm</span></li>
                         <li><input type="radio" value="3.0mm" name="jacket_size"  /> <span>3.0mm</span></li>
                    </ul>
                </div>
                <div class="cf_group_item">
                    <h2>11. Qty</h2>
                    <ul>
                        <li>
                            <input type="text" value="" name="fiber_qty" class="cf_core_count"  />
                            <br />
                            <input type="checkbox" name="fiber_qty_cable_drum" value="yes"  /> <span>Supply On Cable Drum.</span>
                        </li>
                    </ul>
                </div>
                <div class="cf_info">
                    Your Email Address: <input type="text" name="email"  placeholder="somewhere@website.com" style="width:250px;" /><br />
                    Your Full Name: <input type="text" name="name" placeholder="John Doe" style="width:250px;" /><br />
                    Company Name: <input type="text" name="company" placeholder="Ex: Widgets, Inc" style="width:250px;" /><br />
                    Phone No.: <input type="text" name="phone" placeholder="(555)-555-5555" style="width:250px;" /><br /><br />
                    <p><button class="newsletter-submit-btn">Submit</button></p>

                    <p>Or If you prefer to fax your application, please download a <a href="/media/form/CustomApplicationForm.pdf">copy here</a></p>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
<!--
jQuery(document).ready(function($){
    $('.cable_type').change(function(){
        if($(this).is(':checked')!=true){
            
			$('.cable_type').each(function(){
				if($(this).is(':checked')){
					$(this).removeAttr('checked');
				 	$(this).removeAttr('selected');
					
				}
			});
			
			$(this).attr('checked','checked');
            
        }else{
            $('input[name="connectors_type_a"]').each(function(){
			 	$(this).removeAttr('checked');
			 	$(this).removeAttr('selected');
            });
            $('input[name="connectors_type_b"]').each(function(){
               
			 	$(this).removeAttr('checked');
			 	$(this).removeAttr('selected');
				
            });
			
            $('input[name="connectors_gender_a"]').each(function(){
               
			 	$(this).removeAttr('checked');
			 	$(this).removeAttr('selected');
				
            });
			
            $('input[name="connectors_gender_b"]').each(function(){
                
			 	$(this).removeAttr('checked');
			 	$(this).removeAttr('selected');
				
            });
			
			
			$('input[name="connector_length"]').val('');
			$('.cable_type').each(function(){
				if($(this).is(':checked')){
					$(this).removeAttr('checked');
				 	$(this).removeAttr('selected');
					
				}
			});
			$(this).attr('checked','checked');
            // scroll down to h2
        }
		
    });
	
	$('input[name="connectors_gender_a"]').change(function(){
		 if($(this).is(':checked')){
			 
			 
			 $('input[name="connectors_gender_a"]').each(function(){
				 if($(this).is(':checked')!=true){
					 $(this).removeAttr('checked');
					 $(this).removeAttr('selected');
					 
				 }
				
			 });
		 }else{
			 $('input[name="connectors_gender_a"]').each(function(){
				 $(this).removeAttr('checked');
				 $(this).removeAttr('selected');
				
			 });
			 
		 }
	});
	
	
	$('input[name="connectors_gender_b"]').change(function(){
		 if($(this).is(':checked')){
			 
			 
			 $('input[name="connectors_gender_b"]').each(function(){
				 if($(this).is(':checked')!=true){
					 $(this).removeAttr('checked');
					 $(this).removeAttr('selected');
					 
				 }
				
			 });
		 }else{
			 $('input[name="connectors_gender_b"]').each(function(){
				 $(this).removeAttr('checked');
				 $(this).removeAttr('selected');
				
			 });
			 
			
		 }
	});
	
	
	$('input[name="connectors_type_a"]').change(function(){
		 if($(this).is(':checked')){
			
			 
			 $('input[name="connectors_type_a"]').each(function(){
				 if($(this).is(':checked')!=true){
					 $(this).removeAttr('checked');
					 $(this).removeAttr('selected');
					
				 }
				
			 });
		 }else{
			 $('input[name="connectors_type_a"]').each(function(){
				 $(this).removeAttr('checked');
				 $(this).removeAttr('selected');
				
			 });
			 
		 }
	});
	
	
	$('input[name="connectors_type_b"]').change(function(){
		 if($(this).is(':checked')){
			
			 
			 $('input[name="connectors_type_b"]').each(function(){
				 if($(this).is(':checked')!=true){
					 $(this).removeAttr('checked');
					 $(this).removeAttr('selected');
					 
				 }
				
			 });
		 }else{
			 $('input[name="connectors_type_b"]').each(function(){
				 $(this).removeAttr('checked');
				 $(this).removeAttr('selected');
				 
			 });
			 
			
		 }
	});
	
	
	
});
//-->
</script>
