<?php
/**
 * Abandoned Carts Alerts Pro
 *
 * @category:    AdjustWare
 * @package:     AdjustWare_Cartalert
 * @version      3.2.0
 * @license:     OgsKKa0Ma8ACwdAOgyDJq9fAWDGD2UM3W2DCc174eK
 * @copyright:   Copyright (c) 2013 AITOC, Inc. (http://www.aitoc.com)
 */
/* @var $this Aitoc_Aitsys_Block_Form_Element_Renderer */
$module  = $this->getModule();
$_helper  = Mage::helper('aitsys');
$_element = $this->getElement();
if (!$_element->getNoDisplay()): ?>
<tr>
    <?php if ($_element->getType()=='hidden'): ?>
    <td colspan="3" class="hidden" valign="middle"><?php echo trim($_element->getElementHtml()) ?></td>
    <?php else: ?>
    <td class="label">
        <table>
          <tr>
            <td>
              <?php echo trim($_element->getLabelHtml()) ?>
            </td>
          </tr>
        </table>
    </td>
    <td class="value">
        <table>
          <tr>
            <td>
              <?php echo trim($_element->getElementHtml()) ?>
            </td>
          </tr>
        </table>
    </td>
    <td<?php if ($_element->getNote()): ?> class="note"<?php endif ?> id="note_<?php echo $_element->getId()?>">
            <?php if ($_element->getNote()):?>
            <?php echo $_element->getNote()?>
        <?php else: ?>
        <table>
          <tr>
            <td>
                <a target="_blank" href="<?php echo $_helper->tool()->getAitocUrl(); ?>how-to-get-support.html"><?php echo $_helper->__('How to get support') ?></a> |
                <a target="_blank" href="<?php echo $_helper->tool()->getAitocUrl(); ?>aitcprod/license/list/"><?php echo $_helper->__('Register license') ?></a> | 
                <?php echo $_helper->getModuleSupportLink($module, false) ?>
            </td>
          </tr>
        </table>
        <?php endif;?>
    </td>
    <?php endif; ?>
</tr>
<?php endif; ?>