.inplaceeditor-form button { 
	  margin-left:10px; 
}
.inplaceeditor-form input[type="submit"]{
	background:url(images/success_msg_icon.gif) no-repeat;
	border:0px;padding-right:10px;margin-left:2px;
/*text-indent:-9999px;*/
}
.editor_cancel_link
{
	background:url(images/close_ajax.png) no-repeat;
	border:0px;padding-right:20px;margin-left:2px;padding-bottom:8px;
	/*text-indent:-9999px;*/
}

/*.grid td.editable input.input-text {
display:none;
margin-left:4px !important;
width:50px !important;
}*/