#parent {
  background:url('../images/plus.png') no-repeat scroll 0 9px;
  height: 27px;
  width: 15px;
  position: absolute;
  right: 0px;
  top: 0px;
  cursor: pointer;
}
#outer_ul {
  width: auto;
}
#outer_ul li {
  padding: 0 0 0 13px;
  line-height: 25px;
  background: url("../images/arrow_item.gif") 0 12px no-repeat;
  border-bottom: 1px solid #E0E0E0;
  position: relative;
}

#outer_ul a { text-decoration: none; }
#outer_ul a:hover { text-decoration: underline; }
#outer_ul > li {background: none; padding: 0px;}
#outer_ul > li > label {display: block; background: #141414;}
#outer_ul > li > em {width: 100%; height: 100%; background: none;}
#outer_ul > li > label a {color: #fff; text-transform: uppercase; padding-left: 5px; font-size: 16px;}

#outer_ul > li > #inner_ul > li { background: none; padding-left: 5px;}
#outer_ul > li > #inner_ul > li > label { display: block; }
#outer_ul > li > #inner_ul > li > label a { font-size: 13px; }