/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/LICENSE-M1.txt
 *
 * @category   AW
 * @package    AW_Seacrhautocomplete
 * @copyright  Copyright (c) 2003-2010 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/LICENSE-M1.txt
 */

/* For Magento  1.3
label within container */
.yui-ac label
{
    float:left;
    height:21px;
    width:24px;
    overflow:hidden;
    text-align:left;
    text-indent:-999em;
}
/* For Magento  1.3
button within container */
.yui-ac button
{
    display:block;
    padding:0;
    margin:0;
    width:auto;
    vertical-align:middle;
    overflow:visible;
    border:0 none;
    cursor:pointer;
    background:none repeat scroll 0 0 transparent;
    color:#2F2F2F;
    font:12px/15px Arial,Helvetica,sans-serif;
}
.yui-ac button span
{
    display:block;
    height:21px;
    padding:0 0 0 3px;
    background:url("../images/aw_searchautocomplete/btn_search.gif") no-repeat scroll 0 0 transparent;
    color:#FFFFFF;
    text-align:center;
    white-space:nowrap;
    font:bold 11px/21px Tahoma,Verdana,Arial,sans-serif;
}
.yui-ac button span span
{
    background-position:100% 0;
    padding:0 6px 0 3px;
}

/* results container */
#myContainer,
.yui-ac-container {
    position:absolute;
    z-index:999;
	margin-left: -119px !important;
}

/* results content */
.yui-ac-content {
	background-color: #FFF;
	border:solid 1px #969696;
	width: 300px;
	padding: 5px;
    margin:0;
}

/* header within container */
.yui-ac-hd {
	color:#999999;
	display:block;
	margin-bottom:4px;
	padding:0 4px;
	border-bottom:dashed 1px #999999;
	text-align:left;
	font-style:italic;
}

/* item list (ul) container */
.yui-ac-bd {
}

/* items container*/
.yui-ac-content ul,
.header .form-search .search-autocomplete ul {
	background-color:#ffffff;
    border:none;
}

/* result item */
.header .form-search .search-autocomplete ul > li,
.yui-ac-content ul > li
{
    border:solid 1px #C4C6C8;
	margin:4px 0;
	padding:4px;
	cursor:pointer;
	min-height:60px;
    color:#2F2F2F;
}
.yui-ac-highlight { /* highlighted result item */
	background-color: #D5E4EB;
}
.searched-words { /* highlight of the words being searched */
	color:red;
}
.search-autocomplete ul > li{text-align:left}
.search-autocomplete ul > li p{text-align:justify}

.yui-ac-content ul > li:hover{
   background-color: #D5E4EB;
}

.yui-ac-bd ul > li.selected{
    background-color: #D5E4EB;
}

.yui-ac-bd ul > li.aw_hidden{
    background-color: white;
    border: medium none;
    margin: 0;    
    padding: 0;
    display: none;
}
.std ul.disc {
    float: left;
}

#search_mini_form input.input-text {border: 0px; background: none; font-style: italic; width: 180px; color: #333;}

.yui-ac-bd .data-table {width: auto !important;}
.yui-ac-bd .data-table th { display: none; }
.yui-ac-bd .data-table .data-table td {border: 0px solid !important; }