.vertnav-container {
	margin: 10px 20px 20px 0px;
	font-size: 14px;
}

#vertnav li .vertnav-cat {
	display:block;
	border-bottom:1px dotted gray;
	padding:3px;
    cursor: pointer;
}

#vertnav li a { color: #000; text-decoration: none;}
#vertnav li a:hover { color: #3281FF; }

#vertnav .inactive .vertnav-cat {
}

#vertnav .next .vertnav-cat {
	/* background-color:#DEDEDE; */
}

#vertnav .prev .vertnav-cat {
	/* background-color:#DEDEDE; */
}

#vertnav .first .vertnav-cat {
}

#vertnav .last .vertnav-cat {
}

#vertnav .only .vertnav-cat {
}

#vertnav li.parent .vertnav-cat {
	/* background-color:#E0E0E0; */
	font-weight:bold;
}

#vertnav li.active .vertnav-cat {
	background-color:#FFFFFF;
	font-weight:bold;
}

#vertnav li.inactive .vertnav-cat {
	font-weight:normal;
}

#vertnav .level0 .vertnav-cat {
}

#vertnav .level1 .vertnav-cat {
	padding-left:20px;
	/* width:182px; */
}

#vertnav .level2 .vertnav-cat {
	padding-left:30px;
	/* width:172px; */
}

#vertnav .level3 .vertnav-cat {
	padding-left:50px;
	/* width:162px; */
}