/* CSS Document */

/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%; /*font:inherit*/ vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}a{ outline:none; }

body 					{ position: fixed; overflow:hidden; width:100%; height:100%; font: 11px/1.25 'Cabin', sans-serif, arial, helvetica, sans-serif; }
body > div 				{ -webkit-transition: all 1s ease-in-out; }

a						{ color:#000; text-decoration:none }

#wrapper				{ display:block; width:100%; height:100%; display:block; overflow:scroll; overflow-y:hidden; overflow-x:hidden; }

/* .wrapper-content		{ display:block; float:left; width:100%; height:100%;  background-color:#FDEE21; overflow:hidden }*/

.content 				{ display:block; height:100%; float:left; width:100%; height:100%; overflow:hidden }

#homecontent			{ background-color:#FDEE21;}
.maincategories			{ padding-top:50px; margin:0 auto; }
#subcategories-container { margin:0 auto; }
#subcategory			{ background-color:#0A70CC; }

#products				{ background-color:#1454A2; padding-left: 51px; padding-right: 51px }
#product				{ background-color:#FDEE21; }

#header					{ /* position:relative; */ position:fixed; display:block; width:100%; float:left; z-index:1000; background-color:#FFF }

#footer					{ position:fixed; bottom:0; display:none; width:100%; float:left; background-color:#CCCCCC; clear:both; height:120px;  z-index:1000; }
#footer	.headerIcon		{ position:absolute; top:-1px; right:0; }

#footer #hide-banner	{ float: right; padding:2px 5px 5px; display:block; background-color:#000; color:#999; margin:5px 5px 0 0}


.logo-wrapper			{ float:left; display:block; width:200px; height:150px; margin-left:-100px; margin-top:15px; overflow:hidden; z-index:0; }
#logo					{ }

.floatleft				{ float:left; margin-right:5px; top:-1px }
.floatright				{ float: right; margin-left: 5px; top: -86px;}

.headerIcon				{ height:auto; display:block;  padding:5px; width:80px; text-align:center; cursor:pointer }
.headerIcon	.icon		{ margin:0 auto; display:block;}
.headerIcon .circle		{ behavior: url(ajax/js/PIE/PIE.htc); height:40px; width:40px; display:block; position:absolute; background: #FDEE21; overflow: hidden; border-radius:1000px;  }
.headerIcon .icon .circle:hover  { background-color:#009}

.headerIcon .label		{ z-index:10; position:relative; font-size:11px; display: block; height: 16px; width: 80px; }
.headerIcon .label .title { font-size:10px}
#topSearch				{ z-index:1000; cursor:pointer }
/*
.main-row					{ float:left; display:block; width:100%  }
.main-row .main-category:first-child		{ float:left; margin-right:2% }
.main-row .main-category:last-child		{ float:right; }
*/
.main-category				{ float:left; display:block; width:31%; margin:1%; background-color:#FFF; overflow:hidden; position:relative}
.main-category .image		{ float:left; display:block; width:100%; height:100%; z-index:1; position:absolute; }
.main-category .image img 	{ width:90%; margin:0 auto; display:block; padding-top:5%}
.main-category .overlay		{ position:relative; width:100%; height:auto; top:0; left:0;  z-index:10; }

.main-category .title		{ text-align:center; text-transform:capitalize; font-size:14px; background-color:#FDEE21 }

.sub-category				{ float:left; display:block; width:31%; margin:1%; background-color:#FFF; overflow:hidden; position:relative}
.sub-category .image		{ float:left; display:block; width:100%; height:100%; z-index:1; position:absolute; }
.sub-category .image img 	{ width:90%; margin:0 auto; display:block; padding-top:5%}
.sub-category .overlay		{ position:relative; width:100%; height:auto; top:0; left:0;  z-index:10; } 

.sub-category .title		{ text-align:center; text-transform:capitalize; font-size:14px; background-color:#0A70CC; color:#FFF }

.product-in-category				{ float:left; display:block; width:auto; background-color:#FFF; overflow:hidden; position:relative;  }
.product-in-category .image			{ float:left; display:block; width:100%; height:80%; z-index:1; position:absolute; overflow:hidden }
.product-in-category .image img 	{ width:50%; margin:0 auto; display:block; padding-top:15%}
.product-in-category .overlay		{ position:relative; width:100%; height:auto; top:0; left:0;  z-index:10; }
.product-in-category .info			{ position: absolute; bottom: 0; width: 75%; left: 10%; padding-bottom: 17%;}
.product-in-category .title			{ text-align:center; text-transform:capitalize; font-size:12px; font-weight:bold; color:#000; overflow:hidden; text-shadow: 0 0 0.2em #FFF, 0 0 0.2em #FFF, 0 0 0.2em #FFF  }
.product-in-category .price			{ text-align:center; margin: 0 auto; display:block; width:75%; font-size:14px; color:#000; font-weight: bold; padding:5px 0; text-shadow: 0 0 0.2em #FFF, 0 0 0.2em #FFF, 0 0 0.2em #FFF }

.product-in-category .addtocartC	{ background:#1454A2; overflow:hidden; display:block; z-index:20; width:100%; padding-bottom:10px; cursor:pointer }
.product-in-category .addtocart		{ text-align:center; text-transform:capitalize; font-size:14px; background-color:#1454A2; color:#FFF; width:80%; display:block; border:#FFF 2px solid; padding:5% 1%; margin:0 auto;  }


.product-in-category:hover .addtocart  { border-color:#FDEE21; color:#FDEE21 }

/*
.product-in-category .addtocart:hover { color:#1454A2; background-color:#FFF }


.product-in-category:hover .title, .product-in-category:hover .price, .product-in-category:hover .addtocart, .product-in-category:hover .addtocartC { color:#000;  background:#FDEE21;}
.product-in-category:hover .addtocart { border:#000 2px solid }
*/

/* 
 Responsive
 width lower than 320
*/
#header .responsive-block-lt-320				{ position:relative; height:90px; clear:both; display:block; width:100%; float:left; }
.responsive-block-lt-320 .headerIcon			{ float:left; display:block; width:100%; text-align:left; padding:5px 0; }
.responsive-block-lt-320 .logo-wrapper			{ float:left; display:block; width:40%; margin:0; padding:0; height:auto; padding-right:10%; }
.responsive-block-lt-320 .menu					{ float:left; display:block; width:50% }
/* 
 Responsive
 width between 320 and 600
*/
#header .responsive-block-bt-320-600			{ position:relative; height:90px; clear:both; display:block; width:100%; float:left; }

.responsive-block-bt-320-600 .logo-wrapper		{ float:left; display:block; width:30%; margin-left:-10px; padding:0; height:auto; padding-right:10%; overflow:hidden;  }

.responsive-block-bt-320-600 .menu				{ float:left; display:block; width:60% }
.responsive-block-bt-320-600 .headerclose		{ padding-top:35px; }					

.responsive-block-bt-320-600 .headerIcon 		{ float:right; display:block; text-align:left; padding:5px 0; top:-1px; position: relative; }
.responsive-block-bt-320-600 .headerIcon .title	{ text-align:center; width: 80px; display: block;}

.responsive-block-bt-320-600 .topback			{ float:left; bottom:0; height:auto; padding-top:0; position:absolute; }

#topSearch { visibility: hidden}

/* 
 Responsive
 width over 600
*/
#header .responsive-block-gt-600 				{ position:relative; height:70px; clear:both; display:block; width:100%; float:left; }
.responsive-block-gt-600 .headerIcon			{ position:relative; height:30px}

.triangle										{ width: 0px; height: 0px; border-style: solid; border-width: 0 40px 40px 40px; border-color: transparent transparent #FDEE21 transparent; position: relative; top: 2px; z-index:0;}
.revtriangle									{ width: 0px; height: 0px; border-style: solid; border-width: 40px 40px 0 40px; border-color: #FDEE21 transparent transparent transparent; position: relative; top: 20px; z-index:0;}

.small-revtriangle								{ width: 0px; height: 0px; border-style: solid; border-width: 6px 6px 0 6px; border-color: #000 transparent transparent transparent; z-index:0; left: 34px; position: absolute; top: 17px; }

.small-triangle									{ width: 0px; height: 0px; border-style: solid; border-width: 0 6px 6px  6px; border-color: transparent transparent #000 transparent; z-index:0; left: 34px; position: absolute; top: 15px; }
/*
.headerIcon:hover .icon .label .small-revtriangle	{ border-color: #999 transparent transparent transparent; }
.headerIcon:hover .icon .label					{ color:#666}	
*/

.header-top-bar									{  }
.header-close-bar								{ }

.topback										{ margin: 0 auto; position: relative; padding-top:15px; height: 70px; display:block; width: 80px; text-align:center; z-index:100000; cursor:pointer }
.topback .label									{ z-index:10; position:relative; font-size:12px; display: block; height: 16px; width: 80px;  padding-top: 25px; }


.headerclose									{ float:right; padding-right:50px; position: relative; padding-top:15px; height: 70px; display:block; width: 80px; text-align:center; z-index:100000; cursor:pointer }
.headerclose .label								{ z-index:10; position:relative; font-size:12px; display: block; height: 16px; width: 80px;  padding-top: 25px; }


/*
.topback:hover .label .small-triangle			{ border-color: transparent transparent #999 transparent; }
.topback:hover .label							{ color:#666}	
*/
/*
.headerIcon 			{ height:100%; display:block; background-color:#FFF; padding:1%; margin:0 0 0 1% }
.headerIcon .ico		{ margin:0 auto; display:block;}
.headerIcon .circle		{ padding: 1.5%;  behavior: url(js/PIE/PIE.htc); position: absolute; background: #FDEE21; overflow: hidden; border-radius:1000px;  }
.headerIcon .label		{ float:left; display:block; width:100%; text-align:center; padding-top:5px }
*/

/*
	Product List Page Filters
*/
#sub-category-label 			{ margin:0 auto; }
#filters						{ width:70%; display:block; padding:15px 15% 45px; display:none }
#filters .filter 				{ float:left; display:block; width:29%; margin:0 2%; overflow:hidden;}
#filters .filter select 		{ float:left; display:block; width: 120%; padding:5px 2%; background-color:#1454A2; border:none; border-bottom:#FFF 2px solid; color: #FFF; text-align:center; margin-left:-15px }
#filters .filter select			{  background:url('../images/filter-arrow.png')  top 5px right 35px no-repeat;  }

#products-scroll-container		{ margin:0 auto; display:block; width:100%; }
#products-container				{ float:left; display:block; overflow: scroll; overflow-y: hidden; overflow-x: hidden; }

.slide-scroll 	{ float:left; display:block; width:100%; height:100%; overflow:hidden}
.slide-content 	{ float:left; display:block; width:90%; height:100%; overflow:scroll; overflow-y:hidden; overflow-x:hidden;   }
.slide			{ float:left; display:block; width:100%; height:100%;}

.controller		{ float:left; display:block; width:51px; text-align:center; min-height: 100px; visibility:hidden }
#slide-prev		{ height:102px; position: fixed; left: 0; top: 0; background:url('../images/slide-arrow-left.png') top left no-repeat }
#slide-next		{ height:102px; position: fixed; right: 0; top: 0; background:url('../images/slide-arrow-right.png') top right no-repeat }

#slide-prev:hover { background:url('../images/slide-arrow-left-over.png') top left no-repeat }
#slide-next:hover { background:url('../images/slide-arrow-right-over.png') top right no-repeat }


/* 
Product Page
*/

.product									{ margin: 0 auto; overflow:hidden }
.product .product-left 						{ float:left; display:block; width:50%; }
.product .product-right						{ float:left; display:block; width:48%; padding-left:2% }

.product-left .product-image				{ float:left; display:block; width:100%; height:100%; background-color: #FFFFFF;  position: relative; overflow: hidden;}
.product-left .product-image .image 		{ display: block; float: left; height: 100%; position: absolute; width: 100%; z-index: 1;}
.product-left .product-image .image img 	{ width:60%; margin:0 auto; padding-top:15%; display:block}
.product-left .product-image .overlay		{ height: auto; left: 0; position: relative; top: 0; width: 100%; z-index: 10; }
.product-left .product-image .zoom			{ cursor:pointer }
.product-left .product-config 				{ float:left; display:block; }

.product-right .product-title 				{ float:left; display:block; font-size:20px; font-weight:bold; text-decoration:underline; width:100%; margin:20px 0 10px 0px; }
.product-right .product-description			{ float:left; display:block; padding:5px 0; width:100%; height:100px; overflow:scroll; overflow-x: hidden ;  overflow-y: hidden}
.product-right .product-price				{ float:left; display:block; padding:15px 0; width:100%; font-size:48px; font-weight:bold; }
.product-right .product-price .ext			{ font-size:24px}
.product-right .product-share				{ float:left; display:block; padding:0; width:100%; font-size:18px; display:none }

.product-right .product-add-to-cart			{ float:left; display:block; padding:2%; width:95%; font-size:24px; text-align:center; border:2px #000 solid; font-weight:bold; cursor:pointer }
.product-right .product-add-to-cart span	{ padding: 2%; background-color:#000; width:96%; height:96%; display:block; color:#FDEE21 }


.selector									{ margin:0 auto; display:block; width:160px; line-height:18px; }
.selector .left								{ float:left; display:block; width:11px; height:18px; background:url('../images/selector-left.png') no-repeat center center;  padding:10px; cursor:pointer}
.selector .right							{ float:right; display:block; width:11px; height:18px; background:url('../images/selector-right.png') no-repeat center center; padding:10px; cursor:pointer}
.selector .current							{ float:left; text-align:center; display:block; width:98px; padding:10px 0; font-size:16px}

.selector .left:hover						{ background:url('../images/selector-left-over.png') no-repeat center center; }
.selector .right:hover						{ background:url('../images/selector-right-over.png') no-repeat center center; }

/* related products */

#product-related							{ float:left; display:block; width:100%; height:20%; padding:0;  background-color: #1454A2; position:fixed; bottom:0; z-index:1000; }
.related-product							{ float:left; display:block; margin:10px; background-color:#FFF }


.related-product							{ float:left; display:block; width:auto; margin:1%; background-color:#FFF; overflow:hidden; position:relative;  }
.related-product .image						{ float:left; display:block; width:100%; height:100%; z-index:1; position:absolute; overflow:hidden }
.related-product .image img 				{ width:50%; margin:0 auto; display:block; padding-top:25%}
.related-product .overlay					{ position:relative; width:100%; height:auto; top:0; left:0;  z-index:10; }
.related-product .title						{ text-align:center; color:#FFF; background-color:#1454A2; padding-top:5px }
.related-product:hover .title				{ color:#FDEE21}

.related-products-container					{ display:block; width:auto; height:auto; margin:0 auto; }

/*
	Cart section
*/
.category-name								{ text-align:center; color:#FFF; font-size:18px; text-decoration:underline;}
#cart										{ width:100%; height:200px; background-color:#FFF; display:block; z-index:1001; }

.cart-content								{ margin:0 auto; display:block; }
.cart-table									{ float:left; display:block; width:100%; background-color:#FFF; color:#000 }
.cart-table	.cart-table-head, 
.cart-table	.cart-table-subtotal			{ float:left; display:block; width:100%; background-color:#000; color:#FFF }
.cart-qty									{ width:70% }

.co1, .co1-mid, .co2, .co2-m, .co3, .co4, .co5, .co6, .co7, .co8, .co9, .co10, .row { float:left; display:block; }
.co1 { width:10%; }
.co1-mid { width:10%; padding:0 5% }
.co2 { width:20%; }
.co2-m { width:18%; padding:0 1%}
.co3 { width:30%; }
.co4 { width:40%; }
.co5 { width:50%; }
.co6 { width:60%; }
.co7 { width:70%; }
.co8 { width:80%; }
.co9 { width:90%; }
.row, .co10 { width:100%; }

.row	{ padding:7px 0; }

/* 
	Account section
*/

#account										{ width:100%; height:200px; background-color:#FFF; display:block; z-index:1001; }
.account-content								{ margin:0 auto; display:block; }
.account-table									{ float:left; display:block; width:100%; background-color:#FFF; color:#000 }
.account-table	.account-table-head, 
.account-table	.account-table-subtotal			{ float:left; display:block; width:100%; background-color:#000; color:#FFF }
.account-qty									{ width:70% }

.aligncenter									{ text-align:center}

/*
	Footer section
*/
#footer-content				{ background-color:#CCCCCC; padding-top:10px; padding-bottom:30px }
.black-line					{ border: 1px #000 solid;}

.footer-logo-wrapper		{ float:left; display:block; width:200px; height:150px; margin-left:10px; margin-top:-85px; overflow:hidden; position:absolute; }
.footer-left, .footer-right { float:left; display:block; width:48%; padding:58px 1% 0; }
.footer-right				{ padding-top:10px; }
.footer-left h3				{ float:left; text-align:center; font-size:18px; width:100%;}
.footer-methods				{ float:left; text-align:center; padding:8px 0; width:100%;}
.footer-email				{ float:left; text-align:center; font-size:18px; width:100%;}


.footer-right h3			{ text-align:center; font-size:18px; margin:0 auto; width:120px;  }
.footer-right form			{ float:left; display:block; width:100%; }
.footer-right .lbl5			{ float:left; display:block; width:49%; padding-right:1% }
.footer-right .lbl10		{ float:left; display:block; width:100%; padding-top:5px; }

.footer-right .title		{ float:left; width:100%; font-size:10px; font-weight:bold; padding-bottom:3px }
.footer-right input			{ float:left; width:94%; border:#000 2px solid; background-color:#CCCCCC }
.footer-right textarea		{ float:left; width:96%; border:#000 2px solid; background-color:#CCCCCC }
.footer-right .submit		{ background:url('../images/button-bg.png') top center no-repeat; border: none; color: #FFFFFF; display: block; float: right; margin-right: 3%; margin-top: 5px; padding: 5px 10px 20px; width: 140px; }
.footer-right .submit:hover	{ font-weight:bold}

#footer-bar					{ float:left; display:block; background-color:#000; width:100%; height:60px; line-height:60px; }
.footer-links				{ color:#FFF; padding:0 2%; }
.footer-links li			{ float:left; display:block; text-align:center; width:16%; }
.footer-links li a			{ float:left; display:block; color:#FFF; font-size:16px; width:100%; text-align:center}

/* 
	Search section
*/

#search							{ width:100%; height:200px; background-color:#FFF; display:block; z-index:1001; }
#ajax-over						{ width:100%; height:100%; float:left; background: rgba(0, 0, 0, 0.5); position: fixed; z-index: 10000; top:0}
#ajax-content					{ width:100%; height:100%; float:left; background: rgba(0, 0, 0, 0.5); position: fixed; z-index: 10000; top:0}
#ajax-content .cms-container 	{ margin:0 auto; height:85%; background:#FFF; overflow:hidden}
#ajax-content .title			{ float:left; width:68%; background-color:#000; color:#FDEE21; padding:1%; }
#ajax-content .close			{ float:left; width:28%; background-color:#000; color:#FDEE21; padding:1%; text-align:right; cursor:pointer }
#ajax-content .cms				{ float:left; width:100%; overflow:scroll; overflow-x: hidden; padding:5px; }



/*
	hacks
*/

/* #topSearch					{ visibility:hidden; } */


input[type=button]			{ background:url('../images/button-bg.png') no-repeat top center; border: none; color: #FFFFFF; display: block; padding: 5px 10px 20px; }

