<?php
/**
 * Additional scripts
 */
?>

<?php
	//Get grid configuration array
	$theme = $this->helper('ultimo');
	$gc = $theme->getCfgGroup('category_grid');
?>
<script type="text/javascript">
	//<![CDATA[

	<?php //Products grid: set equal height for grid items ?>
	<?php if ($gc['equal_height']): ?>
	var gridItemsEqualHeightApplied = false;
	function setGridItemsEqualHeight($)
	{
		var $list = $('.category-products-grid');
		var $listItems = $list.children();

		var centered = $list.hasClass('centered');
		var gridItemMaxHeight = 0;
		$listItems.each(function() {
			
			$(this).css("height", "auto"); <?php //Reset height ?>
			var $object = $(this).find('.actions');

			<?php //Align button center ?>
			if (centered)
			{
				var objectWidth = $object.width();
				var availableWidth = $(this).width();
				var space = availableWidth - objectWidth;
				var leftOffset = space / 2;
				$object.css("padding-left", leftOffset + "px"); <?php //Set left offset of the button ?>
			}

			<?php //Calculate top padding of the item and use it as bottom offset for the button ?>
			var bottomOffset = parseInt($(this).css("padding-top"));
			if (centered) bottomOffset += 10;
			$object.css("bottom", bottomOffset + "px");

			<?php //If "action" container is visible ?>
			if ($object.is(":visible"))
			{
				<?php //Set new bottom padding: height of the object + bottom offset ?>
				var objectHeight = $object.height();
				$(this).css("padding-bottom", (objectHeight + bottomOffset) + "px");
			}

			<?php //////////////////////////////////////////////////////////////// ?>			
			gridItemMaxHeight = Math.max(gridItemMaxHeight, $(this).height());
		});

		//Apply max height
		$listItems.css("height", gridItemMaxHeight + "px");
		gridItemsEqualHeightApplied = true;

	}
	<?php endif; ?>

    function getInternetExplorerVersion()
    // Returns the version of Internet Explorer or a -1
    // (indicating the use of another browser).
    {
        var rv = -1; // Return value assumes failure.
        if (navigator.appName == 'Microsoft Internet Explorer')
        {
            var ua = navigator.userAgent;
            var re  = new RegExp("MSIE ([0-9]{1,}[\.0-9]{0,})");
            if (re.exec(ua) != null)
                rv = parseFloat( RegExp.$1 );
        }
        return rv;
    }

	jQuery(function($) {

		<?php //Collapsible: init ?>
		$('.collapsible').each(function(index) {
			$(this).prepend('<span class="opener">&nbsp;</span>');
			if ($(this).hasClass('active'))
			{
				$(this).children('.block-content').css('display', 'block');
			}
			else
			{
                var ver = getInternetExplorerVersion();
                if(ver > -1){
                    if(ver <= 8.0){
                        $(this).children('.block-content').css('display', 'block');
                    }else{
                        $(this).children('.block-content').css('display', 'none');
                    }
                }else{
                    $(this).children('.block-content').css('display', 'none');
                }
			}
		});
		<?php //Collapsible: toggle ?>
		$('.collapsible .opener').click(function() {
			
			var parent = $(this).parent();
			if (parent.hasClass('active'))
			{
				$(this).siblings('.block-content').stop(true).slideUp(300, "easeOutCubic");
				parent.removeClass('active');
			}
			else
			{
				$(this).siblings('.block-content').stop(true).slideDown(300, "easeOutCubic");
				parent.addClass('active');
			}
			
		});
		
		
		<?php //Drop-down ?>
		var ddOpenTimeout;
		var dMenuPosTimeout;
		var DD_DELAY_IN = 200;
		var DD_DELAY_OUT = 0;
		var DD_ANIMATION_IN = 0;
		var DD_ANIMATION_OUT = 0;
		$(".clickable-dropdown > .dropdown-toggle").click(function() {
			$(this).parent().addClass('open');
			$(this).parent().trigger('mouseenter');
		});
		$(".dropdown").hover(function() {
			
			
			var ddToggle = $(this).children('.dropdown-toggle');
			var ddMenu = $(this).children('.dropdown-menu');
			var ddWrapper = ddMenu.parent(); <?php //$(this); ?>
			
			<?php //Clear old position of dd menu ?>
			ddMenu.css("left", "");
			ddMenu.css("right", "");
			
			<?php //Show dd menu ?>
			if ($(this).hasClass('clickable-dropdown'))
			{
				<?php //If dropdown is opened (parent already has class 'open') ?>
				if ($(this).hasClass('open'))
				{
					$(this).children('.dropdown-menu').stop(true, true).delay(DD_DELAY_IN).fadeIn(DD_ANIMATION_IN, "easeOutCubic");
				}
			}
			else
			{
				<?php //Add class 'open' to dd ?>
				clearTimeout(ddOpenTimeout);
				ddOpenTimeout = setTimeout(function() {
					
					ddWrapper.addClass('open');
					
				}, DD_DELAY_IN);
				
				//$(this).addClass('open');
				$(this).children('.dropdown-menu').stop(true, true).delay(DD_DELAY_IN).fadeIn(DD_ANIMATION_IN, "easeOutCubic");
			}
			
			<?php //Set new position of dd menu.
			      //This code is delayed the same amount of time as drop-down animation. ?>
			clearTimeout(dMenuPosTimeout);
			dMenuPosTimeout = setTimeout(function() {

				if (ddMenu.offset().left < 0)
				{
					var space = ddWrapper.offset().left; <?php //Space available on the left of dd ?>
					ddMenu.css("left", (-1)*space);
					ddMenu.css("right", "auto");
				}
			
			}, DD_DELAY_IN);
			
		}, function() {
			var ddMenu = $(this).children('.dropdown-menu');
			clearTimeout(ddOpenTimeout); <?php //Clear, to close dd on mouseleave ?>
			ddMenu.stop(true, true).delay(DD_DELAY_OUT).fadeOut(DD_ANIMATION_OUT, "easeInCubic");
			if (ddMenu.is(":hidden"))
			{
				ddMenu.hide();
			}
			$(this).removeClass('open');
		});
		
		
		
		<?php //Shadow class for main content area ?>
		<?php if ($theme->isColor( $theme->getCfgDesign('main/inner_bg_color') )): ?>
			$(".main").addClass("show-bg");
		<?php endif; ?>
		
		
		
		<?php //Back to top ?>
		var windowScroll_t;
		$(window).scroll(function(){
			
			clearTimeout(windowScroll_t);
			windowScroll_t = setTimeout(function() {
										
				if ($(this).scrollTop() > 100)
				{
					$('#scroll-to-top').fadeIn();
				}
				else
				{
					$('#scroll-to-top').fadeOut();
				}
			
			}, 500);
			
		});
		
		$('#scroll-to-top').click(function(){
			$("html, body").animate({scrollTop: 0}, 600, "easeOutCubic");
			return false;
		});
		
		
		
		<?php //Products grid: item hover effect ?>
		<?php if ($gc['hover_effect']): ?>

			var startHeight;
			var bpad;
			$('.category-products-grid').on('mouseenter', '.item', function() {

				<?php if ($gc['disable_hover_effect']): //If hover effect disabled for vieport width below specified value ?>
					<?php //Start: viewport width condition ?>
					if ($(window).width() >= <?php echo $gc['disable_hover_effect']; ?>)
					{
				<?php endif; ?>

					<?php if ($gc['equal_height']): ?>
						if (gridItemsEqualHeightApplied === false)
						{
							return false;
						}
					<?php endif; ?>

					startHeight = $(this).height();
					$(this).css("height", "auto"); //Release height
					$(this).find(".display-onhover").fadeIn(400, "easeOutCubic"); //Show elements visible on hover
					var h2 = $(this).height();
					
					<?php //Compare start height with on-hover height, calculate the difference ?>
					////////////////////////////////////////////////////////////////
					var addtocartHeight = 0;
					var addtolinksHeight = 0;
					
					<?php if ($gc['display_addtocart'] == 1): //if displayed on hover ?>
						//addtocartHeight = $(this).find('.btn-cart').height(); //obsolete
						var buttonOrStock = $(this).find('.btn-cart');
						if (buttonOrStock.length == 0) buttonOrStock = $(this).find('.availability');
						addtocartHeight = buttonOrStock.height();
						
					<?php endif; ?>
					
					<?php if ($gc['display_addtolinks'] == 1): //if displayed on hover (but when is NOT on image) ?>
						var addtolinksEl = $(this).find('.add-to-links');
						if (addtolinksEl.hasClass("addto-onimage") == false)
							addtolinksHeight = addtolinksEl.innerHeight(); //.height();
					<?php endif; ?>
					
					<?php if ($gc['equal_height']
						&& ($gc['display_addtocart'] == 1 || $gc['display_addtolinks'] == 1)):
					?>
						var h3 = h2 + addtocartHeight + addtolinksHeight;
						var diff = 0;
						if (h3 < startHeight)
						{
							$(this).height(startHeight);
						}
						else
						{
							$(this).height(h3); <?php //Apply height explicitly ?>
							diff = h3 - startHeight;
						}
					<?php else: ?>
						var diff = 0;
						if (h2 < startHeight)
						{
							$(this).height(startHeight);
						}
						else
						{
							$(this).height(h2);
							diff = h2 - startHeight;
						}
					<?php endif; ?>
					////////////////////////////////////////////////////////////////

					$(this).css("margin-bottom", "-" + diff + "px"); <?php //Apply difference as nagative margin ?>

				<?php if ($gc['disable_hover_effect']): //If hover effect disabled for vieport width below specified value ?>
					} <?php //end: viewport width condition ?>
				<?php endif; ?>
				
			}).on('mouseleave', '.item', function() {

				<?php if ($gc['disable_hover_effect']): //If hover effect disabled for vieport width below specified value ?>
				<?php //Start: viewport width condition ?>
					if ($(window).width() >= <?php echo $gc['disable_hover_effect']; ?>)
					{
				<?php endif; ?>

					//Clean up
					$(this).find(".display-onhover").stop(true).hide();
					$(this).css("margin-bottom", "");

					<?php //Return the default height. If "Egual Height" disabled, unset item's height. ?>
					<?php if ($gc['equal_height']): ?>
						$(this).height(startHeight);
					<?php else: ?>
						$(this).css("height", "");
					<?php endif; ?>

				<?php if ($gc['disable_hover_effect']): //If hover effect disabled for vieport width below specified value ?>
					} <?php //end: viewport width condition ?>
				<?php endif; ?>
				
			});
		
		<?php else: //hover effect NOT enabled ?>
		
			<?php //Display elements visible on hover ?>
			$('.category-products-grid').on('mouseenter', '.item', function() {
				$(this).find(".display-onhover").fadeIn(400, "easeOutCubic");
			}).on('mouseleave', '.item', function() {
				$(this).find(".display-onhover").stop(true).hide();
			});
		
		<?php endif; ?>



		<?php //Display alternative image ?>
		$('.products-grid, .products-list').on('mouseenter', '.item', function() {
			$(this).find(".alt-img").fadeIn(400, "easeOutCubic");
		}).on('mouseleave', '.item', function() {
			$(this).find(".alt-img").stop(true).fadeOut(400, "easeOutCubic");
		});



		<?php //Fade on hover ?>
		$('.fade-on-hover').on('mouseenter', function() {
			$(this).animate({opacity: 0.75}, 300, 'easeInOutCubic');
		}).on('mouseleave', function() {
			$(this).stop(true).animate({opacity: 1}, 300, 'easeInOutCubic');
		});



		<?php //Event: resize ?>
		<?php //Window size variables ?>
		var winWidth = $(window).width();
		var winHeight = $(window).height();
		$(window).resize(
			$.debounce(50, onEventResize)
		); //end: resize

		<?php //Execute on resize ?>
		function onEventResize() {

			<?php //Prevent from executing the code in IE when the window wasn't actually resized ?>
			var winNewWidth = $(window).width();
			var winNewHeight = $(window).height();
			if (winWidth != winNewWidth || winHeight != winNewHeight)
			{
				afterResize(); <?php //Executed if window was actually resized ?>
			}
			//Update window size variables
			winWidth = winNewWidth;
			winHeight = winNewHeight;

		} //end: onEventResize

		<?php //Execute if window was actually resized ?>
		function afterResize() {

			<?php //Trigger themeResize event ?>
			$(document).trigger("themeResize");

			<?php //Products grid: equal height of items ?>
			<?php if ($gc['equal_height']): ?>
				setGridItemsEqualHeight($);
			<?php endif; ?>
						
			<?php //Itemsliders: rollback and refresh ?>
			$('.itemslider').each(function(index) {
				var flex = $(this).data('flexslider');
				if (flex != null)
				{
					flex.flexAnimate(0);
					flex.resize();
				}
			});
							
			<?php //Slideshow: refresh ?>
			var slideshow = $('.the-slideshow').data('flexslider');
			if (slideshow != null)
			{
				slideshow.resize();
			}
            updateHeight();

		} //end: afterResize



	}); /* end: jQuery(){...} */
	
	

	jQuery(window).load(function(){
		
		<?php //Products grid: equal height of items ?>
		<?php if ($gc['equal_height']): ?>
			setGridItemsEqualHeight(jQuery);
            updateHeight();
            jQuery(window).resize(function() {
                updateHeight();
            });

		<?php endif; ?>

	}); /* end: jQuery(window).load(){...} */

	//]]>

    function _updatePadding(padding_custom,bottom_custom){
        jQuery(".products-grid  li.item").each(function() {
            jQuery(this).css("padding-bottom", padding_custom + "px");
        });
        jQuery(".products-grid  li.item .price-box").each(function() {
            jQuery(this).css("bottom", bottom_custom + "px");
        });
    }

    function updateHeight() {
        jQuery("li.item h2.product-name").each(function() {
            jQuery(this).css("height", "auto");
        });
        jQuery("li.item div.price-box").each(function() {
            jQuery(this).css("height", "auto");
        });

        jQuery(".products-grid .inner-item h2.product-name").each(function(){
            jQuery(this).css("width","auto");
        });

        var maxHeight = -1;
        var maxHeightPrice = -1;
        var maxwidth = -1;

        jQuery("li.item h2.product-name").each(function() {
            var h = jQuery(this).height();
            maxHeight = h > maxHeight ? h : maxHeight;
        });
        jQuery("li.item h2.product-name").each(function() {
            jQuery(this).css("height",maxHeight + "px");
        });

        jQuery("li.item div.price-box").each(function() {
            var h = jQuery(this).height();
            maxHeightPrice = h > maxHeightPrice ? h : maxHeightPrice;
        });
        jQuery("li.item div.price-box").each(function() {
            jQuery(this).css("height",maxHeightPrice + "px");
        });

        jQuery(".products-grid .inner-item h2.product-name").each(function(){
            var w = jQuery(this).width();
            maxwidth = w > maxwidth ? w : maxwidth;
        });
        jQuery(".products-grid .inner-item h2.product-name").each(function(){
            jQuery(this).css("width",maxwidth + "px");
        });

        var widthWindow = jQuery(window).width();
        if(widthWindow > 768){
            if(maxHeightPrice >= 36){
                _updatePadding(125,48);
            }else{
                _updatePadding(90,48);
            }
        }else if(480 <= widthWindow <= 768){
            if(maxHeightPrice >=54){
                _updatePadding(130,48);
            }else{
                _updatePadding(108,48);

            }
        }else if(widthWindow < 480){
            if(maxHeightPrice >=54){
                _updatePadding(130,48);
            }

        }

    }


</script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        updateHeight1();
        jQuery(window).resize(function() {
            updateHeight1();
        });
    });
    function updateHeight1() {
        jQuery("div.item h3.product-name").each(function() {
            jQuery(this).css("height", "auto");
        });
        jQuery("div.item div.price-box").each(function() {
            jQuery(this).css("height", "auto");
        });

        jQuery("div.block-related div.owl-item .item h3.product-name").each(function(){
            jQuery(this).css("width","auto");
        });

        var maxHeight = -1;
        var maxHeightPrice = -1;
        var maxwidth = -1;

        jQuery("div.item h3.product-name").each(function() {
            var h = jQuery(this).height();
            maxHeight = h > maxHeight ? h : maxHeight;
        });
        jQuery("div.item h3.product-name").each(function() {
            jQuery(this).css("height",maxHeight + "px");
        });

        jQuery("div.item div.price-box").each(function() {
            var h = jQuery(this).height();
            maxHeightPrice = h > maxHeightPrice ? h : maxHeightPrice;
        });
        jQuery("div.item div.price-box").each(function() {
            jQuery(this).css("height",maxHeightPrice + "px");
        });

        jQuery("div.block-related div.owl-item .item h3.product-name").each(function(){
            var w = jQuery(this).width();
            maxwidth = w > maxwidth ? w : maxwidth;
        });
        jQuery("div.block-related  div.owl-item .item h3.product-name").each(function(){
            jQuery(this).css("width",maxwidth + "px");
        });
    }
</script>
