<?php 
// calculate max spending points by loading cart and summing up prices, as they're withouth tax this should be perfect!
$helper =  Mage::helper('loyalty'); $my_points = $helper->getMyPoints();
if(Mage::getSingleton('customer/session')->isLoggedIn())
{
?>
<div class="loyalty-points" style=" border: 1px solid #d0cbc1; padding: 12px 15px; margin: 0 0 18px;">
	<form action="<?php echo $helper->getCartUpdateUrl() ?>" id="update_loyalty" method="post">
	    <h3><?php echo $this->__("Loyalty Points Spending") ?></h3>
        <div>You have <strong><?php echo $my_points."</strong> points available. ( <strong>$". $helper->getCurrencyForPoints($my_points)."</strong> )"; ?></div>
        <div>You will earn <strong><?php echo $helper->getPointsOnOrder()."</strong> points when completing the order. ( <strong>$". $helper->getCurrencyForPoints($helper->getPointsOnOrder())."</strong> )"; ?></div>
        <?php /* <div>You can spend a maximum of <strong><?php echo $helper->getPointsInCart(); ?></strong> points on this order.</div> */ ?>
        <div id="spendercontainer" style="padding:5px 10px 5px 0; width:310px; display:block">
        </div>
        <div id="spender">
            <label for="spend_points">Points to redeem:</label>
            <input type="text" name="spend_points" id="spend_points" value="0" />
        </div>
        <script>
		$j = jQuery.noConflict();
        $j(document).ready(function() {

          $j(function() {
             var slider = $j( "<div id='spenderslider'></div>" ).slider({
              min: 0, 
              max: <?php $maxp = $helper->getPointsInCart(); if($maxp > $my_points){ echo 0+$my_points; } else { echo 0+$maxp; } ?>,
              step: 1, 
              value: <?php echo 0 + Mage::getSingleton("core/session",  array("name"=>"frontend"))->getData("spend_points"); ?>,
              slide: function(event, ui){
                $j("#spend_points").val(ui.value);
              },
              stop: function(event, ui){
                spendPoints(ui.value)
              }
            });
            $j( "#spendercontainer" ).html(slider);
            $j( "#spend_points" ).val( $j( "#spenderslider" ).slider( "value" ));
              
            $j("#spend_points" ).change(function() {
                spendPoints(this.value)
                $j( "#spenderslider" ).slider( "value", this.value ); 
            });
              
            function spendPoints(pts)
            {
           		//console.log("spendPoints["+pts+"]");
            }
          });
    
    
    
        });
        </script>
        <div style="padding-top:5px">
            <button type="submit" name="update_loyalty" value="update_loyalty" title="Update Spending" class="button btn-empty" id="update_loyalty">
                <span>
                    <span>Update Spending</span>
                </span>
            </button>
        </div>
	</form>
</div>
<?php
}
else
{
?>
<div class="loyalty-points" style=" border: 1px solid #d0cbc1; padding: 12px 15px; margin: 0 0 18px;">
    <h3><?php echo $this->__("Loyalty Points Spending") ?></h3>
    <div><?php echo $this->__("Please login or create an account to be able to earn and spend points.") ?></div>
</div>
<?php	
}
?>
