<?php
/**
 *
 */
?>
<?php $helper = Mage::helper('brands'); ?>

<?php if ($helper->getCfg('slider/enable')): ?>

	<?php
	if ($helper->getCfg('slider/all_brands'))
		$brands = $this->getAllBrands();
	else
		$brands = $this->getAllBrandsInUse();
		
	//Modify slider depending on number of slides
	$sliderClasses = '';
	$_collectionSize = count($brands);
	if($_collectionSize > 0)
	{
		if($_collectionSize <= 5)
			$sliderClasses .= " count-$_collectionSize";
		else
			$sliderClasses .= " count-multi";
	}
	?>
<div class="popular-categories">
    <h3 class="section-title"><?php echo $this->getBlockName(); ?></h3>
    <div class="brand-slider-wrapper itemslider-wrapper">
    
        <div class="nav-wrapper gen-slider-arrows1 gen-slider-arrows1-pos-top-right"></div>
        
        <div class="brand-slider itemslider itemslider-horizontal itemslider-x<?php if($sliderClasses) echo $sliderClasses; ?>">
            <ul class="slides products-grid">
                <?php foreach ($brands as $brand): ?>
                    <li class="item">
                        <?php
                        $brandPageUrl = $this->getBrandPageUrl($brand);
                        //$brandDetailsHtml = '<img src="'. $this->getBrandImageUrl($brand) .'" alt="' . $brand . '" />';
                        ?>
                        <a href="<?php echo $this->getBrandPageUrl($brand); ?>" title="<?php echo $this->__('Click to see more products from %s', $brand); ?>">
                            <img src="<?php echo $this->getBrandImageUrl($brand); ?>" alt="<?php echo $brand; ?>" />
                        </a>
                    </li>
                <?php endforeach; ?>
            </ul> <!-- end: slides -->
        </div> <!-- end: itemslider -->
    
    </div> <!-- end: brand-slider-wrapper -->
</div>
<script type="text/javascript">
//<![CDATA[
	jQuery(function($) {
		$('.brand-slider-wrapper .itemslider').flexslider({
			namespace: "",
			animation: "slide",
			easing: "<?php echo $helper->getCfg('slider/easing'); ?>",
			animationLoop: <?php echo $helper->getCfg('slider/loop'); ?>,
			
			<?php if($time = intval($helper->getCfg('slider/timeout'))): ?>
				slideshowSpeed: <?php echo $time; ?>,
			<?php else: ?>
				slideshow: false,
			<?php endif; ?>
			
			<?php if($speed = intval($helper->getCfg('slider/speed'))): ?>
				animationSpeed: <?php echo $speed; ?>,
			<?php endif; ?>
			
			pauseOnHover: <?php echo $helper->getCfg('slider/pause'); ?>,
			controlNav: false,
			
			controlsContainer: ".brand-slider-wrapper .nav-wrapper",
			
			itemWidth: 188,
			move: 0
		});
	});
//]]>
</script>
<?php endif; ?>