/**
 * File for custom CSS. You can use it to override the default styling of the theme.
 *
 * 1. Copy the file "default.custom.css" and rename it to "custom.css".
 *    Otherwise this file will not be loded by Magento.
 * 2. Enable it in the admin panel.
 * 3. Uncomment slected classes or add your own CSS to override the default styling of the theme.
 *
 * Please refer to the user guide for more details.
 *
 */

.header .logo-wrapper .logo {margin: 30px 0px;}
.header .welcome-msg {padding-left: 16px; background: url(../images/header_top_map.png)  no-repeat scroll 0 10px transparent;}
.header-facebook {margin-top: 3px;}
#nav > li > a {padding: 0 13px;}
.page-banners .banner { background: #ebebeb; text-align: center;}

.popular-categories ul li { text-align: center; }
.popular-categories ul li a { text-align: center; line-height: 20px; color: #0A0A0A; font-size: 16px; text-decoration: none;}
.popular-categories ul li:hover a { text-decoration: underline; text-align: center;}
.popular-categories ul li div { border: 1px solid #FFF; width: 94px; height: 94px; margin: 0px auto; }
.popular-categories ul li div a { text-indent: -9999pt; display: block; width: 94px; height: 94px; }
.popular-categories ul li:hover div { border: 1px solid #3281ff; }
.popular-categories ul li.server-racks-network-cabinets div { background: url('../images/popular/server-racks-network-cabinets.png') 50% 50% no-repeat; }
.popular-categories ul li.server-racks-network-cabinets:hover div { background: url('../images/popular/server-racks-network-cabinets_hover.png') 50% 50% no-repeat; }
.popular-categories ul li.patch-lead div { background: url('../images/popular/patch-lead.png') 50% 50% no-repeat; }
.popular-categories ul li.patch-lead:hover div { background: url('../images/popular/patch-lead_hover.png') 50% 50% no-repeat; }
.popular-categories ul li.fibre-products div { background: url('../images/popular/fibre-products.png') 50% 50% no-repeat; }
.popular-categories ul li.fibre-products:hover div { background: url('../images/popular/fibre-products_hover.png') 50% 50% no-repeat; }
.popular-categories ul li.cable-management div { background: url('../images/popular/cable-management.png') 50% 50% no-repeat; }
.popular-categories ul li.cable-management:hover div { background: url('../images/popular/cable-management_hover.png') 50% 50% no-repeat; }
.popular-categories ul li.cable-labels div { background: url('../images/popular/cable-labels.png') 50% 50% no-repeat; }
.popular-categories ul li.cable-labels:hover div { background: url('../images/popular/cable-labels_hover.png') 50% 50% no-repeat; }
.popular-categories ul li.cat-5e-cat-6-patch-panels div { background: url('../images/popular/cat-5e-cat-6-patch-panels.png') 50% 50% no-repeat; }
.popular-categories ul li.cat-5e-cat-6-patch-panels:hover div { background: url('../images/popular/cat-5e-cat-6-patch-panels_hover.png') 50% 50% no-repeat; }
.popular-categories ul li.power-boards div { background: url('../images/popular/power-boards.png') 50% 50% no-repeat; }
.popular-categories ul li.power-boards:hover div { background: url('../images/popular/power-boards_hover.png') 50% 50% no-repeat; }
.popular-categories ul li.plasma-lcd-brackets div { background: url('../images/popular/plasma-lcd-brackets.png') 50% 50% no-repeat; }
.popular-categories ul li.plasma-lcd-brackets:hover div { background: url('../images/popular/plasma-lcd-brackets_hover.png') 50% 50% no-repeat; }


.footer-container .footer-inner { position: relative; margin: 0px auto; width: 1000px; }
.footer-top-text { margin-top: 40px; text-align: center; font-size: 18px; color: #0A0A0A; }
.footer-top-text span { font-size: 36px; margin-bottom: 20px; font-size: 36px; text-transform: uppercase; }
.footer-top-text a { color: #3281ff; font-size: 18px; }
ul.footer-top-icons { margin: 27px auto; overflow: hidden; width: 960px; }
ul.footer-top-icons li { margin-right: 54px; padding-top: 123px; font-size: 16px; color: #0A0A0A; text-align: center; float: left; width: 115px }

ul.footer-top-icons li { margin-right: 54px; padding-top: 123px; font-size: 16px; color: #0A0A0A; text-align: center; float: left; width: 198px; }
ul.footer-top-icons li.local { background: url(../images/footer_local.jpg) no-repeat 50% 0%; }
ul.footer-top-icons li.help { background: url(../images/footer_help.jpg) no-repeat 50% 0%; }
ul.footer-top-icons li.delivery { background: url(../images/footer_delivery.jpg) no-repeat 50% 0%; }
ul.footer-top-icons li.mobile { background: url(../images/footer_mobile.jpg) no-repeat 50% 0%; margin-right: 0px;}

.page-banners .banner {margin-bottom: 10px;}
.viewport .products-grid .item {float: left; padding: 20px 10px; width: 168px;}

.footer-customer-feedbacks { height: 320px; width:auto; color: #333; }
.footer-customer-feedbacks .footer-menu-title { font-size: 18px; margin-bottom: 8px; text-transform: uppercase; color: #FFF; }
.footer-customer-feedbacks #footer-feedbacks-caresoul { width: 240px; overflow: hidden; }
.footer-customer-feedbacks #footer-feedbacks-caresoul ul li { width: 80px; float: left; }
.footer-customer-feedbacks .jcarousel-skin-tango #footer-feedbacks-caresoul.jcarousel-container { border: 0px; }
.footer-customer-feedbacks .jcarousel-skin-tango #footer-feedbacks-caresoul.jcarousel-container-horizontal { padding: 0px;  }
.footer-customer-feedbacks .jcarousel-skin-tango #footer-feedbacks-caresoul .jcarousel-clip-horizontal { height: 61px; width: 80px; }
.footer-customer-feedbacks .jcarousel-skin-tango #footer-feedbacks-caresoul .jcarousel-clip { overflow: visible; }
.footer-customer-feedbacks .jcarousel-skin-tango #footer-feedbacks-caresoul .jcarousel-item { width: 80px; height: 61px; margin: 0px; }
.footer-customer-feedbacks .jcarousel-skin-tango #footer-feedbacks-caresoul .jcarousel-next-horizontal { left: -9999pt; }
.footer-customer-feedbacks .jcarousel-skin-tango #footer-feedbacks-caresoul .jcarousel-prev-horizontal { left: -9999pt; }
.footer-customer-feedbacks .feedback-customer-thumb { display: block; width: 61px; height: 61px; margin: 0px auto; }
.footer-customer-feedbacks .feedback-customer-thumb.last { }
.footer-customer-feedbacks .feedback-customer-thumb img { display: block; }
.footer-customer-feedbacks .feedback-customer-thumb img.active { display: none; }
.footer-customer-feedbacks .feedback-customer-thumb.active img { display: none; }
.footer-customer-feedbacks .feedback-customer-thumb.active img.active { display: block; }
.footer-customer-feedbacks p.footer-customer-feedback { -webkit-border-radius: 9px; -moz-border-radius: 9px; border-radius: 9px; padding: 7px 18px; background-color: #ebebeb; font-style: italic; display: none; overflow: hidden; }
.footer-customer-feedbacks p.footer-customer-feedback.active { display: block; }
.footer-customer-feedbacks p.footer-customer-feedback span { float: right; margin-top: 8px; }
.feature p {padding-top: 3px; font-size: 14px;}

.footer-map { background: url(../images/footer_map.jpg) no-repeat; background-size: contain; width: 100%; height: 200px; float: left;}
#subscribe-form .input-text {width: 240px; font-size: 16px; font-style: italic; height: 28px;}
.footer-copyright {margin-top: -10px; text-align: center; }
.section-space {padding: 0px 10px;}
.section {padding-bottom: 0px;}

.itemslider-horizontal .viewport .products-grid .item { border: 0px solid !important; padding-bottom: 10px;}
.itemslider-horizontal .viewport .products-grid .item:hover {
	z-index:10;
	box-shadow:0 0 10px rgba(0,0,0,0.2);
	background-color:#fff;
	border-color:transparent;
}

.itemslider-horizontal .viewport { padding: 15px 10px; margin: 0 -10px;}
.price-box .price {font-size: 20px; }
.products-grid.equal-height .item .price-box {position: absolute; bottom: 50px; font-size: 20px; text-align: center; left: 10px; right: 10px;}
.itemgrid-3cols .item {padding-bottom: 100px;}

.feature div.icon 			{ background-color: /* #d52462*/ #0971CE;}
.feature:hover div.icon 	{ background-color: #3281ff; }
.upsell-itemslider-wrapper .product-name { min-height:80px; }
.upsell-itemslider-wrapper .btn-cart	{ margin-top: 30px; }


.popular-categories, .featured-products {
	margin-bottom: 22px; overflow: hidden;
}
.popular-categories > h3, .featured-products > h3 {
	background-color: #141414;
	color: #FFFFFF;
	font-size: 24px;
	font-weight: normal;
	height: 30px;
	line-height: 30px;
	text-transform:uppercase;
	/* margin: 0 -20px; */
}
.popular-categories ul {
	list-style: none outside none;
	padding-left:90px;
}
.popular-categories ul li {
	float: left;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 20px;
	text-align: center;
	width: 176px;
}
.popular-categories ul li.last {
	/*margin-right: 0;*/
}
.popular-categories ul li.first {
	/*margin-left: 0;*/
}
.popular-categories ul li:hover {
}
.popular-categories ul li a {
	color: #0A0A0A;
	font-size: 16px;
	line-height: 34px;
	text-align: center;
	text-decoration: none;
}
.popular-categories ul li:hover a {
	text-align: center;
	text-decoration: underline;
}
.popular-categories ul li div {
	border: 1px solid #FFFFFF;
	height: 94px;
	margin: 0 auto;
	width: 94px;
}
.popular-categories ul li div a {
	display: block;
	height: 94px;
	text-indent: -9999pt;
	width: 94px;
}
.popular-categories ul li:hover div {
	border: 1px solid #3281FF;
}
.popular-categories ul li.server-racks-network-cabinets div {
	background: url("http://www.4cabling.com.au/skin/frontend/default/cabling/images/popular/server-racks-network-cabinets.png") no-repeat scroll 50% 50% transparent;
}
.popular-categories ul li.server-racks-network-cabinets:hover div {
	background: url("http://www.4cabling.com.au/skin/frontend/default/cabling/images/popular/server-racks-network-cabinets_hover.png") no-repeat scroll 50% 50% transparent;
}
.popular-categories ul li.patch-lead div {
	background: url("http://www.4cabling.com.au/skin/frontend/default/cabling/images/popular/patch-lead.png") no-repeat scroll 50% 50% transparent;
}
.popular-categories ul li.patch-lead:hover div {
	background: url("http://www.4cabling.com.au/skin/frontend/default/cabling/images/popular/patch-lead_hover.png") no-repeat scroll 50% 50% transparent;
}
.popular-categories ul li.fibre-products div {
	background: url("http://www.4cabling.com.au/skin/frontend/default/cabling/images/popular/fibre-products.png") no-repeat scroll 50% 50% transparent;
}
.popular-categories ul li.fibre-products:hover div {
	background: url("http://www.4cabling.com.au/skin/frontend/default/cabling/images/popular/fibre-products_hover.png") no-repeat scroll 50% 50% transparent;
}
.popular-categories ul li.cable-management div {
	background: url("http://www.4cabling.com.au/skin/frontend/default/cabling/images/popular/cable-management.png") no-repeat scroll 50% 50% transparent;
}
.popular-categories ul li.cable-management:hover div {
	background: url("http://www.4cabling.com.au/skin/frontend/default/cabling/images/popular/cable-management_hover.png") no-repeat scroll 50% 50% transparent;
}
.popular-categories ul li.cable-labels div {
	background: url("http://www.4cabling.com.au/skin/frontend/default/cabling/images/popular/cable-labels.png") no-repeat scroll 50% 50% transparent;
}
.popular-categories ul li.cable-labels:hover div {
	background: url("http://www.4cabling.com.au/skin/frontend/default/cabling/images/popular/cable-labels_hover.png") no-repeat scroll 50% 50% transparent;
}
.popular-categories ul li.cat-5e-cat-6-patch-panels div {
	background: url("http://www.4cabling.com.au/skin/frontend/default/cabling/images/popular/cat-5e-cat-6-patch-panels.png") no-repeat scroll 50% 50% transparent;
}
.popular-categories ul li.cat-5e-cat-6-patch-panels:hover div {
	background: url("http://www.4cabling.com.au/skin/frontend/default/cabling/images/popular/cat-5e-cat-6-patch-panels_hover.png") no-repeat scroll 50% 50% transparent;
}
.popular-categories ul li.power-boards div {
	background: url("http://www.4cabling.com.au/skin/frontend/default/cabling/images/popular/power-boards.png") no-repeat scroll 50% 50% transparent;
}
.popular-categories ul li.power-boards:hover div {
	background: url("http://www.4cabling.com.au/skin/frontend/default/cabling/images/popular/power-boards_hover.png") no-repeat scroll 50% 50% transparent;
}
.popular-categories ul li.plasma-lcd-brackets div {
	background: url("http://www.4cabling.com.au/skin/frontend/default/cabling/images/popular/plasma-lcd-brackets.png") no-repeat scroll 50% 50% transparent;
}
.popular-categories ul li.plasma-lcd-brackets:hover div {
	background: url("http://www.4cabling.com.au/skin/frontend/default/cabling/images/popular/plasma-lcd-brackets_hover.png") no-repeat scroll 50% 50% transparent;
}


/* .products-grid .btn-cart span span { padding: 0 54px;} */
.category-products-grid .btn-cart span span { padding: 0 74px; }
.featured-products .btn-cart span span { padding: 0 64px; }
.box-up-sell .btn-cart span span { padding: 0 47px; }

.featured-products .viewport .products-grid .item { float: left; padding: 20px 10px !important; width: 188px !important; height:320px !important; }
/*
.price-label { border-top: 1px solid #E5E5E5;  margin: 15px 0 0;  padding: 15px 0; float:left; display:block; width:200px;  }
.product-view .product-shop .price-box .price-excluding-tax .price { float:left; font-size:18px !important; color:#000; }
.product-view .product-shop .price-box .price-excluding-tax .label { display:none; visibility:hidden; margin-right:10px; }
*/
.footer-newsletter { background: #0971ce; color: #fff;margin-bottom: 15px; overflow: hidden; }
.footer-newsletter #subscribe-form { width: 750px; margin: 10px auto; }

#subscribe-form label {
	float: left;
	font-size: 18px;
	font-style: italic;
	font-weight: normal;
	line-height: 16px;
	margin: 0 10px 0 0;
	position: relative;
}
.newsletter-submit-btn { background: url(../images/newsletter-submit-btn.png) no-repeat; width: 100px; height: 30px; font-size: 0px; border: 0px;}
#subscribe-form .input-box {margin-right: 0px;}
.page {box-shadow: 0px 0px 15px #999; margin: 0 auto;}

.add-to-cart button.btn-cart:hover span { color:#FFF }

.product-view .item .btn-cart:hover span, button.btn-checkout:hover span { color:#FFF !important }

.old-price .price-label 	{  display: none; }
.special-price .price-label {  display: none; }

.price-append 					{ font-size: 16px; margin: 0 0 0 5px; }
.regular-price .price-append 	{ color:#3281FF;}
.old-price .price-append 		{ color:#EE001C; text-decoration: line-through; }
.special-price .price-append 	{ color:#3281FF;  }
#recaptcha_area					{ padding-left:30px; }

.mypoints-sendfriend #button_send_to_friend span { padding:10px 20px; }

.top-links ul { background: url("/media/WestfeildW20x20.png") no-repeat 0 5px; padding-left:18px ; }

.points-special-header { text-align: right; padding-right: 7px; color: #000; }

.checkout-onepage-index .nav-container, .checkout-onepage-index .block_header_links_upper, .checkout-onepage-index .top-links, .checkout-onepage-index .header-top-search-wrapper, .checkout-onepage-index .footer-newsletter { display: none; }

#checkout-step-payment label { float: none; }

.checkout-cart-index .nav-container { display: none; }

#checkoutSteps .form-list li.wide select { width: 100%; }

#opc-review .buttons-set { opacity:1 !important; }
#opc-review .buttons-set .please-wait { text-align: right; font-size:15px; }



h1,
h2,
.section-title,
.products-list .product-name,
.products-grid .product-name,
h3.product-name,

/* Main menu */
#mobnav-trigger,
#nav > li > a,
#nav.wide ul.level0 > li > a,
.vertnav-top li a,

/* Block headings */
.block .block-title,

/* Checkout headings */
#opc-login h3,

/* Multiple checkout */
/*.fieldset .legend,
.multiple-checkout .col2-set h2.legend,
.info-set h2.legend,*/

/* Account */
.box-account .box-head h2,
.order-items h2.table-caption,
.order-items h2.sub-title,
.order-items .order-comments h2,

/* Product page */
.product-view .box-reviews dt .heading,

/* Footer headings */
.footer .heading,

/* Captions */
.slide .caption h2,
.slide .caption h3,

/* Custom content class */
.main-font
{
	font-family: "proxima-nova",sans-serif;
}



@media screen and (max-width: 1150px) {
	.checkout-onepage-success .nav-container { display: none; }
}

@media screen and (max-width: 480px) {
	.points-special-header { text-align: center; }
	#subscribe-form .input-text { width: 190px; }
	.products-grid .item { height: 450px !important; }
	.products-grid .item .price-box { position: static !important; bottom: 0 !important; }
	.products-grid .item .product-name { text-align: center; }
	.products-grid .item .actions { text-align: center; }
	.searchautocomplete .searchautocomplete-placeholder { width: 272px !important; }
	.catalog-product-view .box-sidebar-inner, .catalog-product-view .box-up-sell { display: none; }
}

@media screen and (max-width: 900px) {

}

@media screen and (max-width: 900px) and (min-width: 767px ) {
	.top-links ul.links { position: absolute; right:0; }
	#livechat-full, #livechat-compact-container, #livechat-eye-catcher { display: none !important; }
}

@media screen and (max-width: 767px) {
        #livechat-full, #livechat-compact-container, #livechat-eye-catcher { display: none !important; }
        .the-slideshow { display: none; }
		.popular-categories, .featured-products { display: none; }
	#subscribe-form label { display: block; clear: both; text-align: center; font-size: 13px; float: none; }
	.footer-newsletter #subscribe-form { width: auto; }
	#subscribe-form .input-box { margin: 0 auto; float:none; display: inline-block; }
	#subscribe-form .input-text { float:none; }
	#newsletter-validate-detail > div { text-align:center; }
	.footer-primary .grid12-3:first-child { display: none; }
	.footer-primary .grid12-3 { margin-bottom:35px; }
	.amshopby-filters-left { display: none; }
	.product-secondary-column { display: none; }
}

@media screen and (max-width: 1190px) {
	.footer-customer-feedbacks #footer-feedbacks-caresoul ul li { width: auto }	
}

