
/* Special styling for special browser %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Mini cart
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
#mini-cart .block-title .to-checkout .icon { vertical-align:middle; }
/* Mini cart dropdown */
#mini-cart .block-content {}

/* Remember Me Popup
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
.window-overlay { background-color:#000; filter:alpha(opacity=35); }



/* From Magento default styles-ie.css %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

/* Clears and hasLayout fixes */
.header-container,
.header-container .top-container,
.header,
.header .quick-access,
#nav,
.main,
.footer,
.footer-container .bottom-container,
.col-main,
.col2-set,
.col3-set,
.col3-layout .product-options-bottom .price-box,
.col4-set,
.messages li,
.search-autocomplete li,
.block,
.block .block-content,
.block .actions,
.block li.item,
.block-poll li,
.block-poll .label,
.block-layered-nav .currently li,
.block-account .block-content li a,
.mini-products-list .product-details,
.page-title,
.rss-title h1,
.products-grid,
.products-list li.item,
.box-account .box-head,
.dashboard .box .box-title,
.box-reviews li.item,
.box-tags li.item,
.pager,
.sorter,
.ratings,
.add-to-box,
.add-to-cart,
.product-essential,
.product-collateral,
.product-view .product-img-box .more-views ul,
.product-view .box-tags .form-add,
.product-view .product-shop .short-description,
.product-view .box-description,
.product-options .options-list li,
.product-options,
.product-options-bottom,
.truncated,
.truncated .truncated_full_value,
.product-review,
.cart,
.cart-collaterals,
.cart .crosssell li.item,
.cart .discount,
.opc .step-title,
.opc .step,
.multiple-checkout,
.sp-methods,
.checkout-progress,
.multiple-checkout .place-order,
.form-list li,
.form-list .field,
.group-select li,
.buttons-set,
.page-print .print-head,
.cart-tax-total,
.advanced-search-summary,
.advanced-search-summary p,
.gift-messages-form .item,
.send-friend .form-list li p,
.centinel .authentication { zoom:1; }

/* Hover Fix */
iframe.hover-fix { position:absolute; left:-1px; top:-1px; z-index:-1; background:transparent; filter:progid:DXImageTransform.Microsoft.Alpha(style=0,opacity=0); }



.caption.light1 .heading, .caption.light1 p, .caption.light2 .heading, .caption.light2 p, .caption.light3 .heading, .caption.light3 p {
    background-color: rgba(255, 255, 255, 0.6);
    color: #000000;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4cffffff', endColorstr='#4cffffff'); /* IE */
}

.caption.dark3 .heading, .caption.dark3 p, .caption.dark2 .heading, .caption.dark2 p , .caption.dark1 .heading, .caption.dark1 p {
	background-color: rgba(0, 0, 0, 0.6);
    color: #FFFFFF;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4c000000', endColorstr='#4c000000'); /* IE */
}

.itemslider-x { 
	width: 1128px !important;
	max-width:none;
}

.related-itemslider-wrapper .itemslider-x { 
	width: 172px !important;
	max-width:none;
}

.page {
	border:1px #ebebeb solid;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#EBEBEB')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#EBEBEB');
}

.itemslider-horizontal .viewport .products-grid .item:hover {
	border:1px #ebebeb solid !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#EBEBEB')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#EBEBEB');
}


.category-products-grid.hover-effect .item:hover {
	border:1px #FFF solid;
	border-bottom:1px;
	border-right:1px;
	border:1px #ebebeb solid !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#EBEBEB')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#EBEBEB');
}


.page { width:1220px !important; }
.main.container { background: none !important; width:1200px !important; }

.products-grid .product-image, .products-grid .product-image img { width:200px !important; max-width:none }

/*
.category-products-grid .item {
	border:1px #FFF solid;
	border-right:4px;
	width:200px;
}
*/

.page-title.category-title a { width:880px; overflow:hidden }

#top-subscribe-form { width: 1220px;}
.top-subscribe-form-container { width:750px; }

/* .category-products-grid .item .product-name { width:200px; } */