<?php
	$currentUrl = Mage::helper('core/url')->getCurrentUrl();
	$selectedStateSegment = Mage::helper('pronav')->getSelectedStateSegment($currentUrl,  $this->getBaseUrl());
	$selectedStateSegment = $selectedStateSegment ? $selectedStateSegment : 'index';
	$bodyClass = $this->getLayout()->getBlock('root')->getBodyClass();
	$bodyClass = explode(" ", $bodyClass);
	$bodyClass = end($bodyClass);
	
	if ($this->getNavConfig('pronav_status')){
		
		$pronavPos = Mage::getStoreConfig('pronav/pronavstyle/pronav_position');		
		$output = '<ul id="pronav" class="pn-'.$pronavPos.'">';
		$navData = $this->getNavData();
	   
		foreach ($navData as $data) {
			$urlKey = strlen($data['url_key']) > 0 && $data['url_key'] ? $data['url_key'] : '';
			
			if ($data['link'] == 2) {
				$islink = "no-link ";
			} else {
				$islink = "";
			}
			
			if ($data['sub_start'] == 2) {
				$substart = "sub-align-start ";
				$substatic = "position-static ";
			} elseif ($data['sub_start'] == 3) {
				$substart = "sub-align-end ";
				$substatic = "position-static ";
			} else {
				$substart = "";
				$substatic ="";
			}
			
			if ($data['no_follow'] == 2) {
				$nofollow = "nofollow";
			} else {
				$nofollow = "";
			}		
				
			if ($data['responsive'] == 2) {
				$responsive = "non-responsive ";
			} else {
				$responsive = "";
			}
			
			if ($data['static_block'] == 0 || ! $data['static_block']) {
				//if item does not have a static block associated...		
				$output .= '<li id="' . $data['li_css_id'] . '" class="'. $islink . $substatic . 'primary-pronav-item no-sub' . $data['li_css_class'] . '">';
		    	$output .= '<a rel="' . $nofollow . '" href="' . $this->getBaseUrl()  . $urlKey . '" id="' . $data['css_id'] . '" class="primary-pronav-link ' . $data['css_class'] . '">';
		    	$output .= '<span class="pronav-top-level-span">' . Mage::helper('pronav')->__($data['name']) . '</span>';
				$output .= '</a>';
				$output .= '</li>';
			} else {
				//if item has static block output the following...
				
				//if li_css_id is empty
				if ($data['li_css_id'] == "") {
					$data['li_css_id'] = "li-primary-pronav".strtolower(preg_replace('/[^a-z0-9]/i', '-', Mage::helper('pronav')->__($data['name'])));
				}
				//if css_id is empty
				if ($data['css_id'] == ""){
					$data['css_id'] = "a-primary-".strtolower(preg_replace('/[^a-z0-9]/i', '-', Mage::helper('pronav')->__($data['name'])));
				}

				$output .= '<li id="' . $data['li_css_id'] . '" class="'. $islink . $substatic . 'primary-pronav-item ' . $data['li_css_class'] . '">';
		    	$output .= '<a rel="' . $nofollow . '" href="' . $this->getBaseUrl()  . $urlKey . '" id="' . $data['css_id'] . '" class="primary-pronav-link ' . $data['css_class'] . '">';
		    	$output .= '<span class="pronav-top-level-span">' . Mage::helper('pronav')->__($data['name']) . '</span>';
				$output .= '</a>';
							
				if ($substart) {
					//if sub is set to start from first nav item...
					$output .= '<div class="'.$responsive.$substart.'sub">';
					$blockIdentifier = $this->getStaticBlockIdentifier($data['static_block']);
					$output .= $this->getLayout()->createBlock('cms/block')->setBlockId($blockIdentifier)->toHtml();
					$output .= '</div>';
				} else {
					//if sub is set for alignment (left/right)...
					if ($data['sub_position'] == 1) {
						$subalignment = "sub-align-left";
					} else {
						$subalignment = "sub-align-right";
					}
					$output .= '<div class="sub '. $responsive.$subalignment .'">';
					$blockIdentifier = $this->getStaticBlockIdentifier($data['static_block']);
					$output .= $this->getLayout()->createBlock('cms/block')->setBlockId($blockIdentifier)->toHtml();
					$output .= '</div>';
				}
				$output .= '</li>';				
			}
		}
	}

	$output .= '<div style="clear:both;"></div>';
	$output .= '</ul>';
	$output .= '<div id="pronav-selection-container"><a href="#pronav-select" id="pronav-select-toggle">Navigation</a><div id="pronav-selection"></div></div>';
	echo $output;
?>

<script type="text/javascript">

var $pronav = jQuery.noConflict();

$pronav(function() {	
	
	$pronav('ul#pronav').addClass('<?php echo $bodyClass; ?>').css("width", "<?php echo $this->getNavConfig('pronav_width'); ?>");
	
	$pronav("ul#pronav .row > ul").addClass("top-level-ul");
	
	$pronav.fn.calcSubWidth = function() {
	    rowWidth = 0;
	    $pronav(this).find("ul.top-level-ul").each(function() { 
	        rowWidth += $pronav(this).outerWidth(); 
	    });
	};
	
	$pronav("li.primary-pronav-item:first").addClass("first-pronav-item");
	$pronav("li.primary-pronav-item:last").addClass("last-pronav-item");
	if( $pronav("ul#pronav li.primary-pronav-item").length == 1 ) {
		$pronav("li.primary-pronav-item:first").removeClass("first-pronav-item");
	}
    
    $pronav("ul#pronav .sub").each(function(){
    	$pronav(this).find(".row:odd").addClass("odd-row");
    	$pronav(this).find(".row:even").addClass("even-row");
    	$pronav(this).find(".row:first").addClass("first-row");
    	$pronav(this).find(".row:last").addClass("last-row");
    	
    	if ( $pronav(this).find(".row").length == 1 ) {
    		$pronav(this).find(".row").removeClass("first-row");
    	}
    })
    
    $pronav("ul#pronav .row").each(function(){
    	$pronav(this).find('> ul:odd').addClass("odd-ul");
    	$pronav(this).find('> ul:even').addClass("even-ul");
    	$pronav(this).find('> ul:first').addClass("first-ul");
    	$pronav(this).find('> ul:last').addClass("last-ul");   
    	$pronav(this).find('> ul:last').after("<div style='clear:both;/>");
    	
    	if ( $pronav(this).find("> ul").length == 1 ) {
    		$pronav(this).find("> ul").removeClass("first-ul");
    	}
    })   
    
    $pronav("ul#pronav .row ul").each(function(){
    	$pronav(this).find("> li:odd").addClass("odd-li");
    	$pronav(this).find("> li:even").addClass("even-li");
    	$pronav(this).find("> li:first").addClass("first-li");
    	$pronav(this).find("> li:last").addClass("last-li");
    	
    	if ( $pronav(this).find("> li").length == 1 ) {
    		$pronav(this).find("> li").removeClass("first-li");
    	}
    });   
    
	//proNavOver()
	function proNavOver(){
		var proNavPosition = "<?php echo $pronavPos ?>";        
        
	    $pronav(this).find(".sub").css('display', 'block');
        $pronav(this).find(".row").each(function(){
        	$pronav(this).calcSubWidth();      
        });               
        $pronav(this).find(".sub").css({width : rowWidth});
        
        if (proNavPosition == "left") {
        	var proNavWidth = $pronav(this).parent().parent().outerWidth();
        	$pronav(this).find(".sub").css({"left" : proNavWidth, "top" : "0px"});
        }
        
        if (proNavPosition == "right") {
        	$pronav(this).find(".sub").css({"left" : -rowWidth, "top" : "0px"});
        }
        
        $pronav(this).find(".sub").animate({opacity:1},{duration:<?php echo $this->getNavConfig('fadein')?>, easing:"<?php echo $this->getNavConfig('easingmethodshow')?>"});
	}
	
	//proNavOut()
	function proNavOut(){		
	    $pronav(this).find(".sub").animate({opacity:0},{duration:<?php echo $this->getNavConfig('fadeout')?>, easing:"<?php echo $this->getNavConfig('easingmethodhide')?>", complete: function(){$pronav(this).css('display', 'none')} });
	}
	
	var config = {
		sensitivity: <?php echo $this->getNavConfig('sensitivity')?>, 
		interval: <?php echo $this->getNavConfig('interval')?>, 
		over: proNavOver, 
		timeout: <?php echo $this->getNavConfig('timeout')?>, 
		out: proNavOut
	};
	
	$pronav("ul#pronav li").has('.sub').hoverIntent(config);
	$pronav("ul#pronav li.no-link a.primary-pronav-link").click(function(e) {e.preventDefault()});
	
	generateSelectDropdown();
	
	checkBrowserWidth();
	
	$pronav(window).resize(function(){
		checkBrowserWidth();
	})
	
	function checkBrowserWidth(){
		var browserWidth = $pronav(window).width();
		if (browserWidth < 600) {
			$pronav("#pronav-selection-container").width(browserWidth).addClass("responsive");
		}
	}
	
	function generateSelectDropdown(){
				
		$pronav("ul#pronav .sub").not(".non-responsive").each(function(i){
						
			//generate the select forms for each sub
			$pronav("<select id='pronav-select-"+ i +"'></select>").appendTo("#pronav-selection");
			
			//add the main top link to select
			var getMainLink = $pronav(this).prev().attr("href");
			var getMainLinkText = $pronav(this).prev().text();
			$pronav("<option />", {
				 "value"   : getMainLink,
			     "text"    : getMainLinkText
			}).appendTo("select#pronav-select-"+ i);
				
			$pronav(this).find(".row .top-level-ul > li a").each(function(){
				var selectLevels = "";
				var promoImgAlt = "";
				var theLink = $pronav(this);
				if ( theLink.parent().hasClass("level-2") ) {
					selectLevels = "- "
				}
				if ( theLink.parent().hasClass("level-3") ) {
					selectLevels = "-- "
				}
				if ( theLink.parent().hasClass("level-4") ) {
					selectLevels = "--- "
				}
				
				/* checks if promo imagery is present and populates
				 * the value with the image alt tag instead
				*/
				promoImgAlt = theLink.find("img").attr("alt");
				if (promoImgAlt == undefined) {
					promoImgAlt = "";
				}
				
				$pronav("<option />", {
				     "value"   : theLink.attr("href"),
				     "text"    : selectLevels + theLink.text() + promoImgAlt
				}).appendTo("select#pronav-select-"+ i);
			});
		})
		$pronav("#pronav-selection select").change(function() {
		  window.location = $pronav(this).find("option:selected").val();
		});
		
		checkProNavSelection();
		
		$pronav("#pronav-select-toggle").toggle(function(){
			$pronav(this).next().show();
		},function(){
			$pronav(this).next().hide();
		})
	}
	
	function checkProNavSelection(){
		var currenturl = "<?php echo $currentUrl ?>";
		var homeurl = "<?php echo $home_url = Mage::helper('core/url')->getHomeUrl(); ?>";
		$pronav("#pronav-selection select").each(function(){
			if (currenturl !== homeurl) {
				$pronav(this).find('option[value="'+currenturl+'"]').attr("selected", "selected");
			}
		});
	}
	
	generateChildDropdowns();
	
	function generateChildDropdowns(){
		$pronav("ul#pronav .sub ul > li").has(".row").each(function(){
			$pronav(this).addClass("has-children");
		})
		
		$pronav(".has-children").each(function(){
			var linkText = $pronav(this).find("> a").html();
			$pronav(this).find("> a").html(linkText + " &raquo;")
		})
		
		$pronav(".has-children").hoverIntent(showDoubleSub, hideDoubleSub);
	}	
	
	function showDoubleSub(){
		$pronav(this).find("> .child-sub").css("display", "block").animate({opacity:1},{duration:<?php echo $this->getNavConfig('fadein')?>, easing:"<?php echo $this->getNavConfig('easingmethodshow')?>"});
		$pronav(this).find("> .child-sub").css("left", Math.ceil(rowWidth));
	}
	function hideDoubleSub(){
		$pronav(this).find("> .child-sub").animate({opacity:0},{duration:<?php echo $this->getNavConfig('fadeout')?>, easing:"<?php echo $this->getNavConfig('easingmethodhide')?>", complete: function(){$pronav(this).css('display', 'none')} });
	}
});
</script>