<?php
if(Mage::getSingleton('customer/session')->isLoggedIn())
{
	$helper = Mage::helper('loyalty');
	$pts = $helper->getMyPointsSetup();
	$types = $helper->getTransactionTypesArray();
	$infos = $helper->getTransactionInfoTypesArray();
	$statuses = Mage::getModel("loyalty/status")->toOptionArray();
	
?>
	<div class="loyalty">
    	<div class="dashboard">
            <div class="page-title" style="border-bottom: 1px solid #e5e5e5;">
                <h1><?php echo $this->__("My Loyalty Points") ?></h1>
            </div>
            <?php
			/*
			?>
            <div class="box-account box-info">
                <div class="box-head">
                    <h2>Notice</h2>
                </div>
                <div class="col2-set">We have released a new loyalty solution. If you had loyalty points then they have been migrated.</div>
            </div>
            <?php
			*/
			?>
            <div class="box-account box-info">
                <div class="box-head">
                    <h2>Loyalty Points</h2>
                </div>
                <div class="col2-set">
				    <div class="col-1">
                        <div class="box">
                            <div class="box-title">
                                <h3>Approved</h3>
                            </div>
                            <div class="box-content">
                                <ol>
                                    <li>Earned points: <?php echo $pts["earned"]?></li>
                                    <li>Spent points: <?php echo $pts["spent"]?></li>
                                    <li>Available points: <?php echo $pts["available"]?></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="box">
                            <div class="box-title">
                                <h3>Pending</h3>
                            </div>
                            <div class="box-content">
                                <ol>
                                    <li>Earned Pending points: <?php echo $pts["earned_pending"]?></li>
                                    <li>Spent Pending points: <?php echo $pts["spent_pending"]?></li>
                                    <li>Pending points sum: <?php echo $pts["available_pending"]?></li>
                                </ol>
                            </div>
                        </div>
					</div>
				</div>
            </div>
            
            
            <div class="box-account box-info">
                <div class="box-head">
                    <h2>My referals</h2>
                </div>
                <div class="col2-set">
				    <div class="col-1">
                        <div class="box">
                            <div class="box-title">
                                <h3>Invite Friends</h3>1 email per line.
                            </div>
                            <div class="box-content">
                            <form action="<?php echo $helper->getAccountRefUrl() ?>" id="refer_loyalty" method="post">
                                <textarea name="to_invite" id="to_invite" style="width:100%; height:100%" rows="5"></textarea>
                                <br />
                                <div style="float:left; padding:5px 0;">
									<button type="submit" title="Send invites" class="button"><span><span>Send invites</span></span></button>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="box">
                            <div class="box-title">
                                <h3>Referal list</h3>
                            </div>
                            <div class="box-content">
                                <table class="data-table" id="my-reviews-table">
                                    <colgroup>
                                    	<col width="1">
                                        <col width="210">
                                        <col width="150">
                                    </colgroup>
                                    <tbody>
                                    <?php
									$referals = $helper->getMyReferalsCollection();
									foreach($referals as $ref)
									{
									?>
                                        <tr>
                                            <td><h2 class="product-name"><?php echo $ref["refering_email"]?></h2></td>
                                        </tr>
									<?php
									}
									?>
                                    </tbody>
                                </table>
                            </div>
                        </div>
					</div>
				</div>
            </div>
            
            <div class="box-account box-info">
                <div class="box-head">
                    <h2>Transaction History</h2>
                </div>
                <div class="box-content">
                    <table class="data-table" id="my-transactions-table">
                        <colgroup>
                            <col />
                            <col />
                            <col width="150">
                            <col />
                            <col />
                            <col />
                        </colgroup>
                        <thead>
                        	<tr>
                                <th><?php echo $this->__("Date")?></th>
                                <th><?php echo $this->__("Type")?></th>
                                <th><?php echo $this->__("Info")?></th>
                                <th><?php echo $this->__("Points")?></th>
                                <th><?php echo $this->__("Extra")?></th>
                                <th><?php echo $this->__("Status")?></th>
	                        </tr>
                        </thead>
                        <tbody>
                        <?php
                        $transactions = $helper->getMyFullTransactionHistoryCollection();
                        foreach($transactions as $tr)
                        {
							

                        ?>
                            <tr>
                                <td><?php echo $tr->getCreatedTime()?></td>
                                <td><h2 class="product-name"><?php echo $types[$tr->getType()]?></h2></td>
                                <td><?php echo $infos[$tr->getInfo()]?></td>
                                <td><?php echo $tr->getQuantity()?></td>
                                <td><?php echo $tr->getExtra()?></td>
                                <td><?php echo $statuses[$tr->getStatus()]?></td>
                            </tr>
                        <?php
                        }
                        ?>
                        </tbody>
                    </table>
                    <script type="text/javascript">decorateTable('my-transactions-table');</script>
                </div>
            </div>
        </div>
    </div>
<?php  
}
?>