<?php
if(Mage::getSingleton('customer/session')->isLoggedIn()): 
	echo $this->showTopPoints();
?>
<?php
$groupId = Mage::getSingleton('customer/session')->getCustomerGroupId();
if($groupId != 1):
?>
	<script type="text/javascript">
	jQuery(document).ready(function(){
		jQuery('body').addClass('isLoggedIn');
	        jQuery('a').each(function () {
	                if(jQuery(this).prop('href'))
	                jQuery(this).prop('href', jQuery(this).prop('href').replace('http:', 'https:'))
	        })
	})
	</script>
<?php endif; ?>	
<?php
else:
	echo '<a style="color:#000" href="'.Mage::getBaseUrl().'loyaltyprogram">Please login to participate in the Loyalty Program.</a>';	
endif;
?>
