<?php $_source  = $this->getSource() ?>
<?php $_order   = $this->getOrder() ?>
<?php $this->setPriceDataObject($_source) ?>

<?php if ((float) $_source->getLoyaltyAmount()): ?>
    <tr>
        <td class="label">
			<?php echo Mage::helper('sales')->__('Loyalty Points Discount') ?>
        </td>
        <td><?php echo $this->displayPriceAttribute('loyalty_amount') ?></td>
    </tr>
<?php endif; ?> 