<?php 
// $this->getLayout()->getMessagesBlock()->setMessages(Mage::getSingleton('core/session')->getMessages(true));
// echo $this->getMessagesBlock()->toHtml();

?>
<?php // echo $this->getChildHtml('global_messages') ?>
<?php
if(Mage::getSingleton('customer/session')->isLoggedIn())
{
	$helper = Mage::helper('loyalty');
	$pts = $helper->getMyPointsSetup();
	$types = $helper->getTransactionTypesArray();
	$infos = $helper->getTransactionInfoTypesArray();
	$statuses = Mage::getModel("loyalty/status")->toOptionArray();
	
?>

<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

	<style type="text/css">
		.ptsused-odd { background-color:#E2F1FE !important }
		.ptsused-even { background-color:#CAE2FF !important }
	</style>
	<script type="text/javascript">
    var availablepts = <?php echo $pts["available"]?>;
    var ptsratio = <?php echo $helper->getPointToCurrencyRatio()?>;
	
	jQuery(document).ready(function($) {
		
		function updateTotals()
		{
			var totals = 0;
			$("select[id^=wf_qty_]").each(function(e){
				var qty = 0;
				var parent = $(this).parent().parent();
				
				if($(this).val() > 0)
				{
					if(parent.hasClass("odd"))
					{
						parent.addClass("ptsused-odd");
					}
					else
					{
						parent.addClass("ptsused-even");
					}
				}
				else
				{
					$(this).parent().parent().removeClass("ptsused-odd");
					$(this).parent().parent().removeClass("ptsused-even");
				}

				// get pts amount
				var pts_amount = $(this).attr("id").split("_")[2];
				qty = pts_amount * $(this).val();
				
				$("#wf_rowt_"+pts_amount).html( qty );
				
				totals+= qty;
			});
			
			$("#wf_spent_totals_pts").html( totals );
			$("#wf_remaining_totals_pts").html( availablepts - totals );
			
			if(totals > availablepts)
			{
				$("#wf_spent_too_much").removeClass("hidden");
				// $("#wf_submit").attr('disabled','disabled');
			}
			else
			{
				$("#wf_spent_too_much").addClass("hidden");
				// $("#wf_submit").removeAttr('disabled');
			}
		}
		
		// select all qty selectors and bind the update event
		$("select[id^=wf_qty_]").each(function(e){
			
			$(this).change(function(e){
				updateTotals();
			})
		});
		
		$("#couponopt").submit(function(e){
			ValidateRequestForm();
		});
		
		function calculateTotals()
		{
			var totals = 0;
			$("select[id^=wf_qty_]").each(function(e){
				var qty = 0;
				if($(this).val() > 0)
				{
					var pts_amount = $(this).attr("id").split("_")[2];
					qty = pts_amount * $(this).val();
				}
				totals+= qty;
			});
			return totals;
		}
		
		function ValidateRequestForm()
		{
			// 1 - see if they read and agree to the terms
			if($("#terms").is(":checked"))
			{
				var totals = calculateTotals();
				
				if(totals <= availablepts)
				{
					// submit
				}
				else
				{
					alert($("#wf_spent_too_much").find(".text").html());
					event.preventDefault();				
				}
			}
			else
			{
				alert("You must read and agree with 4Cabling Loyalty Program terms and conditions.");
				event.preventDefault();
			}
		}
		// init
		updateTotals();
	});
    </script>
	<div class="loyalty">
    	<div class="dashboard">
            <div class="page-title" style="border-bottom: 1px solid #e5e5e5;">
                <h1><?php echo $this->__("My Westfield Gift Cards") ?></h1>
            </div>
            <div class="box-account box-info">
                <div class="box-head">
                    <h2>Request Westfield Gift Cards</h2>
                </div>
                <div class="col-1">
                    <div class="box">
                        <div class="box-title">
                            <h3>You have <strong><?php echo $pts["available"]?></strong> Loyalty Points which are worth $<?php echo $helper->getCurrencyForPoints($pts["available"]) ?> </h3>
                        </div>
                        <div class="box-content">
                        	<form action="/loyalty/westfield/dorequest" id="couponopt" method="post">

<?php
$available = $helper->getWestfieldOptions();
$qtys = array(0 => "Select", 1,2,3,4,5,6,7,8,9,10);
?>
                                <table class="data-table" id="my-westfield-table">
                                    <colgroup>
                                        <col width="150">
                                        <col width="120">
                                        <col width="120">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>Select quantity</th>
                                            <th>Points Spent</th>
                                            <th>Row Totals</th>
                                            <th>Details</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <?php foreach($available as $ga): ?>
                                        <tr>
                                            <td>
                                            <select id="wf_qty_<?php echo $ga["pts"] ?>" name="wf_qty_<?php echo $ga["pts"] ?>" style="width:98%; padding:0 !important">
                                                <?php foreach($qtys as $key => $val): ?>
                                                <option value="<?php echo $key ?>"><?php if(isset($val)){ echo $val; }else{ echo $key; } ?></option>
                                                <?php endforeach; ?>
                                            </select>
                                            </td>
                                            <td> X <?php echo $ga["pts"] ?></td>
                                            <?php /* <td>$<?php echo $ga["price"] ?></td> */ ?>
                                            <td id="wf_rowt_<?php echo $ga["pts"] ?>" style="font-weight:bold !important"> 0 </td>
                                            <td><?php echo $ga["label"] ?></td>
                                        </tr>
                                    <?php endforeach; ?>
                                    	<tr id="wf_spent_too_much" class="hidden">
                                        	<td colspan="4" style="color:#F00; font-weight:bold" class="text">You have spent more than you have, please review your spending. Otherwise you will not be able to submit the request.</td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight:bold !important" colspan="2">Spent Loyalty Points</td>
                                            <td id="wf_spent_totals_pts" style="font-weight:bold !important"> 0 </td>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight:bold !important" colspan="2">Remaining Loyalty Points</td>
                                            <td id="wf_remaining_totals_pts" style="font-weight:bold !important"> 0 </td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    
                                    </tbody>
                                </table>
                                <script type="text/javascript">decorateTable('my-westfield-table');</script>
                                <br />
                                <label><input type="checkbox" id="terms" name="terms" value="1" /> &nbsp; I have read and agree with 4Cabling Loyalty Program terms and conditions <a href="/loyaltyprogram" target="_blank">[Click Here]</a></label><br /><br />
                                <button type="submit" class="button btn-cart" id="wf_submit"> <span style="padding:10px 20px;">Submit Request</span> </button>
                            </form>
                                
                        </div>
                    </div>
                </div>
            </div>
            
            

            <div class="box-account box-info">
                <div class="box-head">
                    <h2>Giftcard Request History</h2>
                </div>
                <div class="box-content">
                    <table class="data-table" id="my-transactions-table">
                        <colgroup>
                            <col />
                            <col />
                            <col width="150">
                            <col />
                            <col />
                            <col />
                        </colgroup>
                        <thead>
                        	<tr>
                                <th><?php echo $this->__("Date")?></th>
                                <th><?php echo $this->__("Type")?></th>
                                <th><?php echo $this->__("Info")?></th>
                                <th><?php echo $this->__("Points")?></th>
                                <th><?php echo $this->__("Extra")?></th>
                                <th><?php echo $this->__("Status")?></th>
	                        </tr>
                        </thead>
                        <tbody>
                        <?php
                        $transactions = $helper->getMyTransactionHistoryCollectionWithFilter(51);
                        foreach($transactions as $tr)
                        {
							

                        ?>
                            <tr>
                                <td><?php echo $tr->getCreatedTime()?></td>
                                <td><h2 class="product-name"><?php echo $types[$tr->getType()]?></h2></td>
                                <td><?php echo $infos[$tr->getInfo()]?></td>
                                <td><?php echo $tr->getQuantity()?></td>
                                <td><?php echo $tr->getExtra()?></td>
                                <td><?php echo $statuses[$tr->getStatus()]?></td>
                            </tr>
                        <?php
                        }
                        ?>
                        </tbody>
                    </table>
	    			<script type="text/javascript">decorateTable('my-transactions-table');</script>
                </div>
            </div>
        </div>
    </div>
<?php  
}
?>