<?php
$subcategories = $this->getSortedSubcategories();
$levelSelect = $this->getData('levels');
$numColumns = $this->getData('columns');

$counter = 0;
$countLinks = 0;
foreach ($subcategories as $sid) {
	$countLinks = sizeof($subcategories);
}
$percolumn = ceil($countLinks/$numColumns);
?>

<?php foreach ($subcategories as $sid): ?>
	
	<?php 
		$_category = Mage::getModel('catalog/category')->load($sid);
		$isActive = $_category->getIsActive();
		$curl = $_category->getUrl();
		$cname = $_category->getName();
		$categoryLevel = $_category->getLevel();
	?>
	
	<?php if ($isActive): ?>
					
		<?php if (!($numColumns == 1)): ?>
			<?php if ( ($counter !== 0) && (($counter % $percolumn) == 0) ) : ?>
				</ul><ul>
			<?php endif; ?>
		<?php endif; ?>

		<?php if($categoryLevel <= $levelSelect): ?>
			<li class="pronav-cat-li-sub<?php echo $sid . '-' . $counter ?> level-<?php echo $categoryLevel ?>"><a class="pronav-cat-a-sub<?php echo $sid . '-' . $counter ?>" href="<?php echo $curl ?>"><?php echo $cname ?></a></li>
		<?php endif; ?>
	
	<?php endif; ?>
	
	<?php $counter++;?>

<?php endforeach;?>