/*
	ScrollBar Styles
*/
.scrollBox{
	width: 370px;
	background:none;
}

.scroll-pane {
	width: 370px;
	height: 200px;
	overflow: auto;
}

.jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 1;
}


.jScrollPaneTrack {
	position: absolute;
	cursor: pointer;
	right: 0;
	top: 0;
	height: 100%;
	background: url(../images/scrol/scrollTraker.gif) repeat-y 2px 0;
	
}
.jScrollPaneDrag {
	position: absolute;
	background: url(../images/scrol/scrollDragBT3.gif) repeat-y;
	cursor: pointer;
	overflow: hidden;
	left:0px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

.jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	background: url(../images/scrol/scrollDragBT3.gif) no-repeat;
	height:3px;
		border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

.jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
	background: url(../images/scrol/scrollDragBT3.gif) no-repeat;
	height:3px;
		border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}

a.jScrollArrowUp {
	display: block;
	position: absolute;
	z-index: 1;
	top: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	background: url(../images/scrol/scroll-arrow-top.png) no-repeat;
    height:10px;
	width:10px;
	display:none!important;
}

a.jScrollArrowDown {
	display: block;
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	text-indent: -2000px;
	overflow: hidden;
	background: url(../images/scrol/scroll-arrow-bottom.png) no-repeat;
    height:10px;
	width:10px;
	display:none!important;
}