/*@font-face {
font-family: "ProximaNova Regular";
src: url("../fonts/ProximaNova-Regular/ProximaNova-Regular.eot");
src: url("../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),
url("../fonts/ProximaNova-Regular/ProximaNova-Regular.woff") format("woff"),
url("../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf") format("truetype"),
url("../fonts/ProximaNova-Regular/ProximaNova-Regular.svg#JournalRegular") format("svg");
font-weight: normal;
font-style: normal;
}
*/
@font-face {
	font-family: "ProximaNova Regular";
	src: url("../fonts/ProximaNova-Regular/ProximaNova-Reg-webfont.eot");
	src: url("../fonts/ProximaNova-Regular/ProximaNova-Reg-webfont.eot?#iefix") format("embedded-opentype"),
	url("../fonts/ProximaNova-Regular/ProximaNova-Reg-webfont.woff") format("woff"),
	url("../fonts/ProximaNova-Regular/ProximaNova-Reg-webfont.ttf") format("truetype"),
	url("../fonts/ProximaNova-Regular/ProximaNova-Reg-webfont.svg#JournalRegular") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "ProximaNova Bold";
	src: url("../fonts/ProximaNova-Bold/ProximaNova-Bold-webfont.eot");
	src: url("../fonts/ProximaNova-Bold/ProximaNova-Bold-webfont.eot?#iefix") format("embedded-opentype"),
	url("../fonts/ProximaNova-Bold/ProximaNova-Bold-webfont.woff") format("woff"),
	url("../fonts/ProximaNova-Bold/ProximaNova-Bold-webfont.ttf") format("truetype"),
	url("../fonts/ProximaNova-Bold/ProximaNova-Bold-webfont.svg#JournalRegular") format("svg");
	font-weight: normal;
	font-style: normal;
}

/*----*/
HTML, BODY{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
a{
    color:#387d76;
}
iframe{
    max-width:800px;
}
.wrapper{
	height:100%;
	width:100%;
}
body{
	position:relative;
	background:transparent url(../images/background_30.png) repeat 0 0;
	width:100%;
	height:100%;
	font-family:"ProximaNova Regular", Arial, sans-serif;
}
body .page{
	position:relative;
	width:100%;
	min-height:100%;
}
.header-container{
	width:100%;
	margin:0;
	padding:0;
	border-width:0;
	background-image:none;
	background-color:white;
}
.header-box-top{
	position:fixed;
	top:0;
	left:0;
	z-index:1000;
	min-height:30px;
	width:100%;
	margin:0;
	padding:0;
	background:black;
}
.header-box-top .welcome-msg{
	float:left;
	margin:0;
	padding: 4px 12px 0 16px;
	color:white;
	font: normal 12px/1.55 "ProximaNova Regular", Arial, sans-serif;
}
.header-box-top .welcome-msg a{
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font: normal 12px/1.55 "ProximaNova Regular", Arial, sans-serif;
}
.header-box-top .welcome-msg a:hover{
   text-decoration:underline;
}
.header-box-top ul.links{
	float:right;
	margin:0;
	padding: 4px 32px 6px;
}
.header-box-top ul.links li{
	float:left;
	margin:0;
	padding:0 12px;
}
.header-box-top ul.links li a{
	color:white;
	text-transform:uppercase;
	text-decoration:none;
	font: normal 12px/1.55 "ProximaNova Regular", Arial, sans-serif;
}
.header-box-top ul.links li a:hover{
    text-decoration:underline;
}
.header{
	position:relative;
	width:auto;
	max-width:800px;
	min-height:130px;
	margin:30px auto 0;
	padding:0;
}
.header-container .header .logo{
	top: 8px;
	position: relative;
	margin: 0;
}
/*----Seearch----*/
form#search_mini_form{
	display:block;
	float:right;
}
.header-container .header .form-search {
	position:relative;
	width:auto;
	top: 55px;
	right:0;
	margin:0;
	padding:0;
	background:none;
}
.header-container .header .form-search button.button{
}
.header-container .header .form-search button.button span{
	float: left;
	display:block;
	width:18px;
	height:18px;
	background:transparent url(../images/search-icon.png) no-repeat 0 0;
}
.header-container .header .form-search button.button span span{
    display:none;
}
.header-container .header .form-search input.input-text{
	color:black;
	text-align:right;
	font: normal 14px/1 "ProximaNova Regular", Arial, sans-serif;
	border-width:0;
}
.header-container .header .form-search input.input-text:focus{
    background:none;
}
/*----Navigation----*/
.nav-container{
	background-image:none;
	background-color:#71e2d6;
}
.nav-container #nav{
	width:auto;
	max-width:800px;
} 
.nav-container #nav li{
    padding:2px 10px 0 10px;
}
.nav-container #nav li a{
	padding: 5px 12px 6px 12px;
	color:black;
	text-transform:uppercase;
	font: normal 14px/1 "ProximaNova Regular", Arial, sans-serif;
	text-decoration:none;
}
.nav-container #nav li a:hover{
    color:white;
}
.nav-container #nav li.active a{
    color:white;
}

.nav-container #nav li.active {
	background: none repeat scroll 0 0 #24B3A5 !important;	
}

.nav-container #nav li.current, .nav-container #nav li:hover  {
	background: none repeat scroll 0 0 #5E5E5E;
}

.nav-container #nav li.current a  {
	color:white;
}



.submenu-box{
	width:100%;
	float: left;
	margin-bottom: 14px; 
}
.submenu{
	float:left;
	width:100%;
	margin:0 auto;
	padding: 0 0 5px;
	background:#5e5e5e;
}
.submenu table{
	max-width:800px;
	width:100%;
	margin:0 auto;
	padding:0;
	background:#5e5e5e;
}
.submenu table td { width:25%; }

.submenu div {
	float:left;
	/*width:24%;*/
	margin:0;
	padding:6px 0 0 0;
	text-align:left;
}
.submenu ul {
	max-width:800px;
	width:100%;
	margin:0 auto;
	padding:6px 0 0 0;
	background:#5e5e5e;
}





.submenu a {
	display:inline;
	padding: 0 18px 0 0;
	color:white;
	font: normal 14px/1 "ProximaNova Regular", Arial, sans-serif;
	text-decoration:none;
	background:transparent url(../images/arrows-sub-menu.png) no-repeat right 4px;
}
.submenu a:hover{
    text-decoration:underline;
}
.submenu ul{
    /* display:none; */
}

.submenu ul li { float:left; display:block; padding-right:20px; }

.nav-container-mini{
    display:none;
}
/*----Main-conteiner----*/
.main-container{
    background:none;
}
.main-container .main{
	width:auto;
	max-width:800px;
	background:none;
	padding:0 0 25px 0;
}
/*----Footer----*/
.footer-helper{
	width:100%;
	height:275px;
}
.footer-container{
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:275px;
	border-width:0;
}
.footer-container .footer{
	position:relative;
	width:100%;
	height:215px;
	max-width:800px;
	padding:0
}
.footer-box-top{
	position: relative;
	bottom: -1px;
	width:100%;
	height:25px;
	background:transparent url(../images/footer-background.png) repeat-x 0 0;
}
.footer-box-bottom{
	width:100%;
	background:black;
}
.footer-copy{
	position:relative;
	width:100%;
	height:35px;
	background:#71e2d6;
}
.footer-container .footer-logo{
float:left;
margin: 20px 0 0;
}
.footer-menu{
	display:block;
	float:left;
	width:100%;
	margin: 35px 0 0;
	padding:0;
}
.footer-menu li{
/*
	display:block;
	float:left;
	margin:0;
	padding:0 65px 0 0;
*/
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0 30px 0;	
}
.footer-menu li a{
	color:white;
	text-transform:uppercase;
	font: normal 14px/1 "ProximaNova Regular", Arial, sans-serif;
	text-decoration:none;
}
.footer-menu li a:hover{
	color:#71e2d6;
	text-decoration:none;
}
.footer-paymenticons{
	position: absolute;
	top: 70px;
	right: 0;
}
.footer-paymenticons img{
    width: 250px;
}
.footer-static-block-mini{
    display:none;
}
/*----Home slider----*/
.home-slider{
	position: relative;
	float:left;
	max-width:530px;
	max-height:530px;
	width:530px;
	height:530px;
	margin:0 12px 0 0;
}
.home-slider #div-interaktingslider{
	width:100%;
	width: 100%;
	margin:0;
	padding:0;
	border-width:0;
	background:none;
}
.home-slider #div-interaktingslider #frame {
	text-align: left;
	margin:0;
	padding:0;
	width: 100%;
	height: 100%;
	border-width:0;
	background: none;
}
.home-slider #div-interaktingslider #middle-center {
	text-align: left;
	margin:0;
	padding:0;
	width: 100%;
	height: 100%;
	border-width:0;
	background: none;
}
.home-slider #slide-content {
	text-align: left;
	margin:0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.home-slider #slide-content .slide{
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
	background:none;
}
.home-slider #slide-content img{
	width:100%;
	height:auto;
}
.home-slider #slide-commands {
	position: absolute;
	left: 8px;
	bottom: 5px;
	text-align: center;
	width: 100%;
	border-width:0;
	margin:0;
	padding:0;
	z-index: 5;
	background:none;
}
.home-slider #slide-commands a.normal{
	background:#71e2d6;
	border-color:#d3d3d3;
}
.home-slider #slide-commands a.active{
	background:#3d3d3d;
	border-color:#d3d3d3;
}
.home-page-box{
	float:left;
	width:101%;
	overflow:hidden;
}
.home-slider #slide-commands #prev, .home-slider #slide-commands #next{
    display:none;
}
.home-slider #slide-commands a{
	border-width:0px!important;
	padding:4px!important;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.home-slider #slide-commands a  span{
    display:none!important;
}
.home-slider #slide-commands a.normal span{
    color:#71e2d6;
}
.home-slider #slide-commands a.active span{
    color:#3d3d3d;
}
/*----Featured List----*/
.featured-list{
	width:auto;
	margin:0;
	padding:0;
}
.featured-list li{
	position:relative;
	width:259px;
	height:259px;
	width:auto;
	float:left;
	margin:0 0 12px 0;
	padding:0;
}
.featured-list li .product-img{
	width:100%;
	height:100%;
}
.product-description{
	width:100%;
	position:absolute;
	left:0;
	bottom:0;
	padding:10px 0;
	/*background:transparent url(../images/featured-overlay1.png) repeat 0 0;*/
	background:#5e5e5e;
	display:none;
}
.product-description  a{
	display: block;
	padding: 0px 10px 0;
	color:white;
	font: normal 14px/1 "ProximaNova Regular", Arial, sans-serif!important;
	text-transform:uppercase;
	text-decoration:none;
}
.product-description  a:hover{
   text-decoration:underline;
}
.product-description .price-box{
	padding: 5px 10px;
	margin:0;
}
a.featured-shop-now{
	display:block;
	padding: 0 10px 0;
	color:white;
	font: normal 14px/1 "ProximaNova Regular", Arial, sans-serif;
	text-decoration:none;
	text-transform:none;
}
.product-description .price-box  .price{
	color:#71e2d6;
	font: normal 20px/1 "ProximaNova Regular", Arial, sans-serif;
}
.featured-list li.home-page-static-block{
	float:left;
	width:530px;
	overflow:hidden;
	margin-left:12px;
}
.featured-list li.home-page-static-block p{
	margin:0;
	padding:0;
}
.featured-list li.home-page-static-block img{
    width:100%;
}
/*----Product Page----*/
.product-view{
    border-width:0;
}
.product-view .product-essential{
	background:none;
	padding:0;
}
.product-view .product-img-box{
	float:left;
	width:400px;
	margin: 0 20px 0 0;
}
.col1-layout .product-view .product-shop {
	float: right;
	width: 380px;
}
.box-collateral.box-description iframe{
    display:none!important;
}
.product-view .box-collateral.box-description>h2{
    display:none;
}
.product-view .box-collateral.box-description{
	color:black;
	font: normal 14px/1 "ProximaNova Regular", Arial, sans-serif;
}
.col1-layout .product-view .product-shop .availability{
   display:none;
}
.col1-layout .product-view .product-shop .price{
	color:black;
	font: bold 28px/1 "ProximaNova Bold", Arial, sans-serif;
}
.col1-layout .product-view .product-shop .price-box .old-price .price-label{
	float:left;
	width: 120px;
	color:#3d3d3d;
	font: normal 18px/1.8 "ProximaNova Regular", Arial, sans-serif;
}
.col1-layout .product-view .product-shop .price-box .old-price .price{
	line-height: 31px;
	font-size: 16px;
	color:#3d3d3d;
}
.col1-layout .product-view .product-shop .price-box .special-price, .col1-layout .product-view .product-shop .price-box .old-price{
	float:left;
	width:100%;
}
.col1-layout .product-view .product-shop .price-box .special-price .price-label{
	float:left;
	width: 120px;
	font: normal 18px/1.8 "ProximaNova Regular", Arial, sans-serif;
}
.col1-layout .product-view .product-shop .add-to-box .add-to-cart{
	float:left;
	padding: 5px 0;
	width:100%;
}
.col1-layout .product-view .product-shop .add-to-box .add-to-cart label{
	float:left;
	padding: 0 10px 0 0;
	color:black;
	font-weight:normal;
	font-family:"ProximaNova Regular", Arial, sans-serif;
	font-size:14px;
	line-height: 23px;
}
.col1-layout .product-view .product-shop .product-name h1{
	padding: 0 0 10px;
	color:black;
	font: normal 18px/1 "ProximaNova Bold", Arial, sans-serif;
}
.set-button-add-to-cart{
	float:left;
/*
	width:100%;
 	padding: 20px 0 10px; 
*/
	margin-top: -6px;
	margin-left: 20px;

}
.add-to-cart .set-button-add-to-cart button.button{
	display:block;
	width: 130px;
	border-width:0;
	position:relative;
	left:5px;
	top:3px;
	border:1px black solid;
}
.add-to-cart .set-button-add-to-cart button.button span{
	display:block;
	float:left;
	width:130px;
	padding: 5px 0px;
	border-width:0;
	background:#71e2d6;
	color:black;
	position:relative;
	left:-5px;
	top:-3px;
	text-align:center;
} 
.add-to-cart .set-button-add-to-cart button.button span span{
	width:100%;
	padding:0!important;
	font: regular 20px/1 "ProximaNova Regular", Arial, sans-serif;
	text-transform:uppercase;
	background:none!importantp;
	position:relative;
	left:0px;
	top:0px;
	text-align:center;
}
.add-to-cart .set-button-add-to-cart button.button:hover span{
	background:#3d3d3d;
	color:white;
}
#arrow-product-left{
	display:block;
	float:left;
	width:10px;
	height:18px;
	background:transparent url(../images/arrow-product-left.png) no-repeat 0 0;
	cursor:pointer;
}
#arrow-product-right{
	display:block;
	float:left;
	width:10px;
	height:18px;
	background:transparent url(../images/arrow-product-right.png) no-repeat 0 0;
	cursor:pointer;
}
.qty-count-box{
    float:left;
}
.qty-count-box .qty{
	margin:0;
	border-width:0;
	text-align:center;
	background:none;
	color:black;
	font: normal 14px/1.2 "ProximaNova Regular", Arial, sans-serif;
}
.qty-count-box .qty:focus{
    background:none;
}
/*----Related Products----*/
.related-product-list-box{
	width:100%;
	overflow:hidden;
}
.featured-list.featured-realted-list{
    width:102%;
}
.featured-list.featured-realted-list li{
	margin: 0 12px 12px 0;
	overflow: hidden;
	width: 260px;
	height: 260px;
	background:white;
}
.featured-list.featured-realted-list .price-box{
}
.featured-list.featured-realted-list .price-box .old-price .price-label{
	float: left;
	width: 100px;
	color:white;
}
.featured-list.featured-realted-list .price-box .special-price .price-label{
	float: left;
	width: 100px;
	color:white;
}
.featured-list.featured-realted-list .price-box .old-price .price{
    color:white;
}
.related-product-list-box .block-title{
	color:black;
	/*text-transform:uppercase;*/
	font: normal 18px/1.8 "ProximaNova Regular", Arial, sans-serif;
}
/*----More Views----*/
.product-view .more-views{
    overflow:hidden;
}
.product-view .product-img-box .more-views ul{
	margin-left:0;
	width:105%;
}
.product-view .product-img-box .more-views li{
	float:left;
	margin: 0 22px 9px 0;
}
.product-view .more-views li a{
    cursor:pointer;
}
.breadcrumbs {
    text-transform: uppercase; 
}
.more-views-img{
}
.mobil-media{
   display:none;
}
.mobil-description{
   display:none;
}
.product-view .product-shop .product-name {
/*   margin: 20px 0 5px; */
   margin: 0 0 5px;
}
/*----Shopping Cart----*/
.col-main .cart{
}
.col-main .cart a{
    color: #387d76;
}
.col-main .cart .page-title.title-buttons{
}
.col-main .cart .page-title.title-buttons h1{
	color:black;
	text-transform:uppercase;
	font: bold 18px/1.8 "ProximaNova Regular", Arial, sans-serif;
}
.col-main .cart button.button.btn-checkout{
    border-width: 0;
}
.col-main .cart button.button.btn-checkout span {
	padding: 5px 20px;
	border-width: 0;
	background: #3d3d3d;
	color: white;
}
.col-main .cart button.button.btn-checkout span span {
	padding: 0!important;
	font: regular 20px/1 "ProximaNova Regular", Arial, sans-serif;
	text-transform: uppercase;
	background: none!importantp;
}
.col-main .cart button.button.btn-checkout:hover span {
	background: black;
	color: white;
}
.col-main .cart button.button span {
	padding: 5px 20px;
	border-width: 0;
	background: #71e2d6;
	color: black;
}
.col-main .cart button.button span span {
	padding: 0!important;
	font: regular 20px/1 "ProximaNova Regular", Arial, sans-serif;
	text-transform: uppercase;
	background: none!importantp;
}
.col-main .cart button.button:hover span {
	background: #3d3d3d;
	color: white;
}
.col-main .cart .data-table .odd, .col-main .cart .data-table .even{
    background:white;
}
.col-main .cart .data-table thead th{
	background:#d3d3d3;
	border-width: 0!important;
}
.data-table tfoot tr{
    background:white!important;
} 
.data-table tfoot tr td{
	padding:10px;
	border-top:1px #d3d3d3 solid!important;
} 
.col-main .cart .data-table td{
    border-color:#d3d3d3;
}
.data-table tfoot tr.first td{
    border:none;
}
.col-main .cart .totals{
	border-width:0;
	background:none;
	font-size: 16px;
} 
.col-main .cart .cart-coupon{
	float:left;
	width: 250px;
	margin: 0 15px 0 0;
}
.col-main .cart .cart-coupon input.input-text, .col-main .cart .cart-coupon .form-list input.input-text{
    width:212px;
}
.col-main .cart .cart-coupon select{
    width:217px;
}
.col-main .cart .shipping h2, .col-main .cart .discount h2 {
	background:none;
	margin: 0 0 10px;
	padding: 0;
	color:black;
	font: bold 14px/1 "ProximaNova Regular", Arial, sans-serif;
}
.col-main .cart #crosssell-products-list .product-name a{
    color:white;
}
.col-main .cart .featured-shop-now{
	color:white;
	cursor:pointer;
}
/*----Checkout----*/
.page-title{
	border-width:0;
	margin-bottom:0;
}
.page-title h1 {
	color: black;
	text-transform: uppercase;
	font: bold 18px/1.8 "ProximaNova Regular", Arial, sans-serif;
}
.opc li.section{
    margin:0 0 15px;
}
.opc .step{
	border-color:#d3d3d3;
	background:white;
}
.opc .step-title{
	border:1px #d3d3d3 solid;
	background:white;
	padding: 7px 8px 7px;
}
.opc .step-title h2{
	margin: 11px 0 0 12px;
	text-transform:uppercase;
	font: normal 14px/1 "ProximaNova Regular", Arial, sans-serif;
}
.opc .step-title .number {
	float: left;
	background: #71e2d6;
	border: 1px solid #d3d3d3;
	padding: 0 12px;
	margin: 0 5px 0 0;
	font: bold 18px/1.8 "ProximaNova Regular", Arial, sans-serif;
	color: black;
}
.opc li.section.allow .step-title{
	background:#f1f1f1;
	border:1px #d3d3d3 solid;
}
.opc li.section.allow .step-title .number{
	background:#ffffff;
	border: 1px solid #d3d3d3;
	color:#3d3d3d;
} 
.opc li.section.allow .step-title h2{
    color:#3d3d3d;
}
.opc li.section.active .step-title{
	background: #71e2d6;
	border:1px #d3d3d3 solid;
}
.opc li.section.active .step-title .number{
	background:white;
	border: 1px solid #d3d3d3;
	color:black;
} 
.opc li.section.active .step-title h2{
	font-weight: bold;
	color: white;
}
.opc .step button.button span {
	padding: 5px 20px;
	border-width: 0;
	background: #71e2d6;
	color: black;
}
.opc .step button.button span span {
	padding: 0!important;
	font: regular 20px/1 "ProximaNova Regular", Arial, sans-serif;
	text-transform: uppercase;
	background: none!importantp;
}
.opc .step button.button:hover span {
	background: #3d3d3d;
	color: white;
}
/*----Account----*/
.account-login .col2-set{
}
.account-login .col2-set .col-1, .account-login .col2-set .col-2{
    width:100%;
}
.account-login .content{
	min-height:0;
	background:white;
	border-color:#d3d3d3;
	border-bottom: 1px #d3d3d3 solid;
}
.account-login .new-users h2, .account-login .registered-users h2 {
	background: none;
	border:none;
	margin: 0;
	padding: 0 0 10px;
	color: black;
	font: bold 14px/1 "ProximaNova Regular", Arial, sans-serif;
}
.account-login .buttons-set {
	background:white;
	border:none;
	padding:0;
}
.account-login button.button span, .fieldset button.button span {
	padding: 5px 20px;
	border-width: 0;
	background: #71e2d6;
	color: black;
}
.account-login button.button span span, .fieldset button.button span span {
	padding: 0!important;
	font: regular 20px/1 "ProximaNova Regular", Arial, sans-serif;
	text-transform: uppercase;
	background: none!importantp;
}
.account-login button.button:hover span, .fieldset button.button:hover span {
	background: #3d3d3d;
	color: white;
}
.account-login .col2-set .col-1-block, .account-login .col2-set .col-2-block{
    margin:10px 0;
}
.fieldset{
	margin: 12px 0;
	background:white;
	padding: 14px 21px;
	border-color:#d3d3d3;
}
.fieldset .legend{
	width:100%;
	text-transform:uppercase;
	background: none;
	border: none;
	margin: 0;
	padding: 0 0 10px;
	color: black;
	font: bold 14px/1 "ProximaNova Regular", Arial, sans-serif;
}
.fieldset .buttons-set{
	margin:0;
	border:none;
}
.points-special-header {
    display:none;
}
/*----Dashboard----*/
.main .dashboard .mypoints-summary .box-head h2 {
    background:none!important;
}
.dashboard .box-head h2{
	background-image: none!important;
	margin: 0 0 10px;
	padding: 0!important;
	color: black;
	font: bold 14px/1 "ProximaNova Regular", Arial, sans-serif;
}
.account-box{
	margin: 12px 0;
	background: white;
	padding: 14px 21px;
	border:1px #d3d3d3 solid;
}
.account-box .fieldset {
	width: 100%;
	float: left;
	margin:0;
	background:none;
	padding:15px 0;
	border:none;
}
.account-box .buttons-set {
	background:white;
	border:none;
	margin:0;
	padding:0;
}
.account-box button.button span, .fieldset button.button span {
	padding: 5px 20px;
	border-width: 0;
	background: #71e2d6;
	color: black;
}
.account-box button.button span span, .account-box button.button span span {
	padding: 0!important;
	font: regular 20px/1 "ProximaNova Regular", Arial, sans-serif;
	text-transform: uppercase;
	background: none!importantp;
}
.account-box button.button:hover span, .account-box button.button:hover span {
	background: #3d3d3d;
	color: white;
}
.no-rote ul{
    width:100%;
}
.no-rote h3{
	width: 100%;
	float: left;
	padding: 20px 10px 10px;
}
/*----Pager----*/
.toolbar {
	float:right;
	background:none;
	margin: -35px 0 10px 0;
	padding: 0;
	border:none;
}
.toolbar .sorter{
	float:right;
	background:none;
	border:none;
	padding-bottom: 0px;
}
.toolbar .sorter .sort-by{
    padding-right:0;
}
.toolbar .pager{
	background:none;
	border:none;
	padding: 3px 8px 2px 0;
	text-align:left;
}
.toolbar .sorter .sort-by select, .toolbar .pager .limiter select{
    padding:2px 4px;
}
.toolbar .pages li .previous, .toolbar .pages li .next{
	position: relative;
	top: -1px;
	text-decoration:none;
}
.toolbar .pager .pages {
    margin: 4px 0px 0;
}
.toolbar .sorter .sort-by label, .pager .pages strong { 
	font-family: "ProximaNova Regular", Arial, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-transform:uppercase;
}
.catalogsearch-result-index .page-title{
    display:none;
}
.product-view .original-description .box-collateral.box-description{
	padding:10px 10px 10px 0;
	background:none;
}
.product-view .box-description p,
.product-view .box-description li,
.product-view .box-description h1,
.product-view .box-description h2,
.product-view .box-description h3,
.product-view .box-description h4,
.product-view .box-description span{ 
	font-size:12px !important;
	line-height:1.5;
}
.original-description{
	display:block;
	padding-bottom:10px;
}
.mobil-first-td{
	float:left;
	display:block;
	width:100%;
	margin:0;
	padding:0;
}
.mobil-first-td li{
	display:block;
	float:left;
	width:100%;
	margin:0;
	padding: 10px 0 0;
}
.mobil-first-td li h4{
	float:left;
	padding: 0 10px 0 0;
}
.tfoot-td-mobile{
    display:none;
}
.bottom-more-views{
	float:left;
	width:100%;
}
.bottom-more-views ul{
	float:left;
	width:100%;
	margin:0;
	padding:0;
}
.bottom-more-views ul li{
	float: left;
	margin: 10px 10px 10px 0;
}
.bottom-more-views ul li a {
	float: left;
	width: 56px;
	height: 56px;
	border: 2px solid #ddd;
	overflow: hidden;
	cursor:pointer;
}
.rapid-ssl{
	position: relative;
	top: 5px;
	padding: 3px 4px 2px;
	float:left;
	background:white;
}
.rapid-ssl img{
    width:100px;
}
.footer-paymenticons img{
    float:left;
}
.social-footer{
	float: right;
	display: block;
	margin: 15px 10px 0 0;
	padding: 0;
}
.social-footer .facebook-item, .social-footer .twitter-item{
	display:block;
	float:left;
	margin:0;
	padding:0;
}
.product-view .product-img-box .product-image {
   margin:0;
}
.home-banner{
	display:none;
	width:100%;
	padding:0;
}
.home-banner p{
    padding:0 10px;
}
.home-banner img{
    width:100%;
}
.menu-mobil-title{
    display:none;
}
.price .ext{
    font-size:14px;
}
.product-social-icons{
	float:left;
	width:100%;
	margin:0;
	padding:0;
}
.product-social-icons li{
	float:left;
	margin:0;
	padding: 0;
	cursor:pointer;
	background:none;
}
.product-social-icons li:hover{
}
.product-social-icons li.item-facebook, .product-social-icons li.item-twitter{
    background:none;
}
.product-social-icons li.item-share{
    padding: 0 10px 0 0;
}
.product-social-icons li.item-share span{
	color: black;
	font-weight: normal;
	font-size:14px;
	font-family: "ProximaNova Regular", Arial, sans-serif;
	line-height: 32px;
}
#contactForm .form-list {
padding:0;
list-style-type:none;
}




#nav li:first-child { 
/*	margin-left:-10px;*/
}