@media(max-width:799px) {
	.wrapper{
	min-width:0px;
	}   
	.welcome-msg{
	display:none;
	}
	.header-box-top ul.links{
	float:none;
	display:table;
	width:100%;
	text-align:center;
	margin:0;
	padding-left: 0;
	padding-right: 0;
	}
	.header-box-top ul.links li{
	float:none;
	display:table-cell;	
	margin:0;
	padding:0;
	}
	.header-container .header .logo{
	display:block;
	float:none;
	width:100%;
	text-align:center;
	margin:0 auto;
	}
	form#search_mini_form {
	width:100%;
	}
	.header-container .header .form-search {
	position: static;
	width: 90%;
	margin: 30px auto 20px;
	border: 1px #d3d3d3 solid;
	}
	.header .form-search button.button{
	float:right;
	margin: 6px 0 0 0;
	}
	.header-container .header .form-search input.input-text{
	width:85%;
	text-align:left;
	margin: 6px 0 0 4px;
	}
	.header .form-search label{
	display:none;
	}
/*----Footer----*/
	.footer-container .footer-logo{
	width:100%;
	text-align:center;
	}	
/*----*/
.nav-container{
display:none;
}
.nav-container-mini{
display:block;
width: 100%;
background:none;
}
.nav-container-mini #nav-mini{
background-color:#71e2d6;
/*border:1px #71e2d6 solid;*/
}
.nav-container-mini #nav-mini li  a{
display:block;
background-color:black;
text-align:left;
text-decoration:none;
padding: 10px 15px;
border-bottom:1px #71e2d6 solid;
}
.nav-container-mini #nav-mini li  a:hover span{
color:#71e2d6;
}
.nav-container-mini #nav-mini li  a span{
color:white;
font-size:12px;
font-weight:bold;
text-transform:uppercase;
}
.nav-container-mini #nav-mini li ul{
display:none;
background-color:white;
}
.nav-container-mini #nav-mini li.parent a{
background: black url(../images/minus-menu.png) right center no-repeat;
}
.nav-container-mini #nav-mini li.parent a.plusicon{
background: black url(../images/plus-menu.png) right center no-repeat;
}
.nav-container-mini #nav-mini li ul li{
background-color:white;
}
.nav-container-mini #nav-mini li ul li a{
background-color:white!important;
background-image:none!important;
}
.nav-container-mini #nav-mini li ul li a span{
color:black;
font-weight:bold;
}
.nav-container-mini #nav-mini li ul li a:hover{
background-color:#3d3d3d!important;
}
.nav-container-mini #nav-mini li ul li a:hover span{
color:white;
}
/*----Main----*/
	.main-container .main{
	padding-top:10px;
	text-align:center;
	}
	.footer-helper{
	display:none;
	}
	.footer-container .footer{
	height:auto;
	}
	.footer-container{
	position:static;
	height:auto;
	}
	.footer-static-block-full{
	display:none;
	}
	.footer-static-block-mini{
	display:block;
	}
	.footer-menu li{
	width:100%;
	padding: 0px 0 15px;
	}
	.footer-paymenticons {
	position:static;
	width: 100%;
	float: left;
	}
	.footer-paymenticons {
	padding: 40px 0;
	}
/*----Home-page----*/
	.home-slider{
     /* display:none;*/
	 width:100%;
	 height:auto;
	 max-width: 100%;
	 max-height: 100%;
	 float:none;
	 margin:0 auto 10px;
	 position:relative;
	}	
	.home-slider #slide-content .slide {
	position: static!important;
	}
	.featured-list {
	float:left;
	width:100%;
	}
	.cms-home .featured-list{
	display:none;	
	}
	.featured-list li{
	float:none;
	display:inline-block;
	max-width:260px;
	max-height:100%;
	height:auto!important;
	text-align:center;
	margin:5px 1% 5px;
	overflow:visible!important;
	}
	.featured-list li.home-page-static-block {
	float:none;
	}
	.product-description{
	position:static!important;
	display:block!important;
	margin:0!important;
	padding: 10px 0!important;
	height:auto!important;
	text-align:left;
	}
/*----Toolbar----*/
	.pager .limiter {
	display:none;
	}
	.toolbar .pager .pages{
	float:left;
	}	
	.toolbar {
	float:none;
	width:180px;
    margin: 0 auto 15px auto;
	}
/*----Product Page----*/
	.product-view .product-img-box {
	width:100%;
	}
	.product-view .product-img-box .product-image{
	padding:0;
	}
	.product-view .product-img-box .product-image img{
	width:100%;
	text-align:center;
	max-width:470px;
	max-height:470px;
	}	
	.mobil-media{
	display:block;
	}
	.original-media{
	display:none;
	}
	.col1-layout .product-view .product-shop {
	width: 100%;
	}
	.mobil-description{
	display:block;
	}
	.original-description{
	display:none;
	}
	.mobil-description{
	display:block;
	}
	.product-view .box-collateral.box-description{
	padding:0 10px;
	text-align:left;
	}
	.product-view .product-img-box .more-views ul {
	text-align: center;
	margin-left: 0;
	width: auto;
	}
	.product-view .product-img-box .more-views li {
	float:none;
	margin: 0 2%;
	display: inline-block;
	}	
	.product-view .product-shop .price-box {
	padding: 0 10px;
	text-align: left;
	}
	.product-view  .add-to-box {
	padding: 0 10px;
	}
/*----*/
	.edit-td{
	display:none;
	}
	.cart form fieldset{
	padding:0 10px;
	}
	.col-main .cart .totals{
	width:100%;
	}
	.cart .data-table tfoot tr.first td{
	text-align:center!important;
	}
	.cart .data-table tfoot tr.first  td button{
	float:none;
	display:inline-block;
	margin:5px 10px;
	}
	.col-main .cart .page-title.title-buttons h1, .cart .title-buttons .checkout-types, .cart .title-buttons .checkout-types li{
	float:none;
	width:100%;
	text-align:center;
	}
    .col-main .cart .data-table td{
	border:none;
	}
	.col-main .cart .cart-coupon{
	width:100%;
	margin:0;
	}
	.cart .discount, .cart .shipping {
	margin:0 10px 10px;
	text-align:left;
	}
	.form-list .input-box, .cart .discount .input-box{
	width:auto;
	}
	.col-main .cart .cart-coupon select{
	width:100%;
	}
	.col-main .cart .cart-coupon input.input-text, .col-main .cart .cart-coupon .form-list input.input-text {
	width: 99%;
	}
	.opc {
	padding:0 10px;
	text-align:left;
	}
	.opc .col2-set .col-1, .opc .col2-set .col-2{
	width:100%;
	}
	.opc .input-box, .opc input{
	width:99%!important;
	}
	.opc input.radio, .opc input.checkbox{
	width:auto!important;
	float:left;
	margin:2px 0 0;
	}
	.opc .step {
	padding:15px 10px;
	}
	.form-list li{
	float:left;
	width:100%;
	}
	.form-list input.input-text, form .form-list input.input-text, .form-list textarea{
	width: 99%!important;
	}
	.form-list .field {
	float: left;
	width: 100%;
	}
	.form-list select {
	width: 100%;
	}
	.account-login{
	margin:0 10px;
	text-align: left;
	}
	.account-box {
	text-align: left;
	margin: 0 10px;
	}
	.fieldset {
	text-align: left;
	margin: 12px 10px;
	}
	.my-account{
	margin:0 10px;
	text-align:left;
	}
	.my-account .account-box{
	margin:0;
	}
	.col2-set .col-2, .col2-set .col-1{
	float:left;
	width:100%;
	}
	.col2-set .col-2 .box, .col2-set .col-1 .box{
	padding:0 0 10px;
	}
	.my-account .box-content .col-1{
    padding: 0 0 40px;
	}
	.form-list li.wide .input-box {
	width: 100%;
	}
	.main{
	min-height:0;
	}
	.tfoot-td-original{
	display:none;
	}
	.tfoot-td-original{
	display:table-cell;
	}
	.note-msg, .notice-msg {
	margin: 0 10px;
	}
	.data-table tfoot tr.first td {
	border: none!important;
	}
	.cms-home .main-container .main{
	padding-top:0;
	}
	.bottom-more-views{
	display:none;
	}
	.more-views{
	padding-bottom:20px;
	padding-top: 20px;
	}
	.rapid-ssl{
	display:block;
	margin:0 auto 10px;
	float:none;
	max-width:120px;
	text-align:center;
	}
	.footer-paymenticons img{
	float:none;
	}
	.social-footer{
	width:100%;
	margin:0;
	padding:40px 0 0;
	text-align:center;
	}
	.social-footer .facebook-item, .social-footer .twitter-item{
	float:none;
	display:inline-block;
	}
	.menu-mobil-title{
	display:block;
	width:100%;
	text-align:left;
	margin:0;
	padding: 5px 0 5px 10px;
	background-color: #71e2d6;
	font: normal 20px/1 "Montserrat", Arial, sans-serif;
	}
	.home-banner{
	display:block;
	width:98%;
	margin: 20px 0 0px 3px;
	}
	.product-social-icons{
	padding: 0 0 10px 10px;
	}
	.col1-layout .product-view .product-shop .price {
color: black;
font: bold 20px/1 "ProximaNova Bold", Arial, sans-serif;
}
}	
