﻿
.estimate-field {
    float: left;
	margin-left: 5px;
}
.estimate-field.active {
    background: url("images/ajax-s-load.gif") no-repeat scroll right center transparent;
}
.autocomplete-w1 { background:url(images/shadow.png) no-repeat bottom right; position:absolute; z-index: 1000; top:4px; left:3px; /* IE6 fix: */ _background:none; _top:1px; }
.autocomplete-w2 { padding:0 6px 6px 0; }
.autocomplete { width:243px !important; border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-5px 0 0 -10px; /* IE specific: */ _height:350px;  _margin:0px 6px 6px 0; overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; }
.autocomplete strong { font-weight:normal; color:#3399FF; }


.pcs-field {
    background-color: transparent;
    padding: 4px 26px 4px 4px;
    width: 230px;
    border: 1px solid #B6B6B6;
}
