/* Product page */
.block-shipping .block-title strong {
    background-image: url("./images/i_shipping.gif");
    background-position: 0 0;
    background-repeat: no-repeat;
    padding-left: 21px;
}
.estimate-form {
	border: 1px solid #969696;
}
.estimate-form #pcs {
    width: 150px;
    background-color: transparent;
	border: 0px solid;
	padding: 7px 0;
}
.estimate-form .estimate-button {
    width: 100%;
    text-align: right;
}