<?php
/**
 * WDCA - Sweet Tooth
 * 
 * NOTICE OF LICENSE
 * 
 * This source file is subject to the WDCA SWEET TOOTH POINTS AND REWARDS 
 * License, which extends the Open Software License (OSL 3.0).
 * The Sweet Tooth License is available at this URL: 
 *      http://www.wdca.ca/solutions_page_sweettooth/Sweet_Tooth_License.php
 * The Open Software License is available at this URL: 
 *      http://opensource.org/licenses/osl-3.0.php
 * 
 * DISCLAIMER
 * 
 * By adding to, editing, or in any way modifying this code, WDCA is 
 * not held liable for any inconsistencies or abnormalities in the 
 * behaviour of this code. 
 * By adding to, editing, or in any way modifying this code, the Licensee
 * terminates any agreement of support offered by WDCA, outlined in the 
 * provided Sweet Tooth License. 
 * Upon discovery of modified code in the process of support, the Licensee 
 * is still held accountable for any and all billable time WDCA spent 
 * during the support process.
 * WDCA does not guarantee compatibility with any other framework extension. 
 * WDCA is not responsbile for any inconsistencies or abnormalities in the
 * behaviour of this code if caused by other framework extension.
 * If you did not receive a copy of the license, please send an email to 
 * contact@wdca.ca or call 1-888-699-WDCA(9322), so we can send you a copy 
 * immediately.
 * 
 * @category   [TBT]
 * @package    [TBT_Rewards]
 * @copyright  Copyright (c) 2009 Web Development Canada (http://www.wdca.ca)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/

/**
 * Customer Summary
 *
 * @category   TBT
 * @package    TBT_Rewards
 * @author     WDCA Sweet Tooth Team <contact@wdca.ca>
 */
?>
<div class="box-account box-info mypoints-summary">
    <div class="box-head">
        <h2><?php echo $this->__('Points Summary'); ?></h2>
    </div>
    
    <div class="usable-points">
        <?php echo $this->__('You have %s in your account.', $this->getCustomerPointsSummary()); ?>
        <?php if($this->getDaysUntilExpiry()): ?>
           <div class="expiry-points"><?php echo $this->__('Your points balance will expire in %s days.', $this->getDaysUntilExpiry()); ?></div>
        <?php endif; ?>
    </div>
    <div class="pending-points">
        <?php if($this->hasPendingPoints()): ?>
            <div class="pendingevent-points">
                <?php echo $this->__('%s are pending approval.', $this->getCustomerPendingPointsSummary()); ?>
            </div>
        <?php endif; ?>
        <?php if($this->hasPendingTimePoints()): ?>
            <div class="pendingtime-points">
                <?php echo $this->__('%s are pending time.', $this->getCustomerPendingTimePointsSummary()); ?>
            </div>
        <?php endif; ?>
        <?php if($this->hasOnHoldPoints()): ?>
            <div class="pendingapproval-points">
                <?php echo $this->__('%s are on hold.', $this->getCustomerOnHoldPointsSummary()); ?>
            </div>
        <?php endif; ?>
    </div>
    
    <div class="msg">
        <?php echo $this->getSummaryMsg() /* this can be customized completely by modifying the display config option or by just removing this line and adding your own content.*/ ?>
    </div>
    
    <?php if ($this->doShowRewardsLink()): ?>
        <a href="<?php echo $this->getUrl('rewards/customer'); ?>">
            <?php echo $this->__('Visit My Points & Rewards Section') ?>
        </a>
    <?php endif; ?>
</div>
<?php 
$str = explode(" ", str_replace("<span class='points-summary-emphasize'>","",$this->getCustomerPointsSummary())); 
$pts = $str[0];
?>
<?php if($pts > 0): ?>
<div class="box-account box-info mypoints-summary">
    <div class="box-head">
        <h2><?php echo $this->__('Request to Redeem a <img src="/media/westfield-group-logo.png" style="margin-top:-3px" /> Shopping Card'); ?></h2>
    </div>
    <?php if($pts < 200): 	?>
    <?php echo $this->__('You need at least 200 approved points to redeem a coupon.'); ?>
    <?php else: 	
	
	$req = $this->helper('utils')->customerHasRedeemRequest(  Mage::getSingleton('customer/session')->getCustomer()->getId() );
	
			if($req == false):
	?>
        <form action="/index.php/utils/couponopt" id="couponopt" method="post">
			<label><input type="checkbox" id="redeem" name="redeem" value="1" /> &nbsp; I would like to redeem all my 4Cabling Loyalty Points to a Westfield shopping EFTPOS card</label><br />
			<label><input type="checkbox" id="understand" name="understand" value="1" /> &nbsp; I understand this will clear the Points I have earned until to-date</label><br />
			<label><input type="checkbox" id="terms" name="terms" value="1" /> &nbsp; I have read and agree with 4Cabling Loyalty Program terms and conditions</label><br /><br />
            <button onclick="$('couponopt').submit();" type="submit" class="button btn-cart" id="submit"> <span style="padding:10px 20px;">Submit Request</span> </button>
        </form>
    
    <?php 	else: ?>
    
    <?php echo $this->__('Your request is being processed by customer support.'); ?>
    
    <?php 	endif; ?>
    <?php endif; ?>
</div>
<?php endif; ?>