<?php
ob_start();

$block_title = $this->getBlockTitle();

?>

<div class="block-left-nav">
    <?php if ( empty($block_title) ) $block_title = 'Categories';
        $rootcatId = Mage::app()->getStore()->getRootCategoryId(); 
	      $categories = Mage::getModel('catalog/category')->getCategories($rootcatId);
        echo $this->get_categories($categories); ?>
</div>

<script type="text/javascript" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS);?>leftmenu/leftmenu.js"></script>
