<?php
/**
 * Appmerce - Applications for Ecommerce
 * http://ww.appmerce.com
 *
 * @extension   eWAY Hosted Payment (AU/UK/NZ), XML+CVN (AU), Rapid API
 * @type        Payment method
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 *
 * @category    Magento Commerce
 * @package     Appmerce_Eway
 * @copyright   Copyright (c) 2011-2012 Appmerce (http://www.appmerce.com)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<p><strong><?php echo Mage::helper('eway')->__('Please wait while we process your card.'); ?></strong></p>
<form name="eway" id="eway_review_form" action="<?php echo $this->getFormAction(); ?>" method="post" accept-charset="UTF-8">
  <?php if (is_array($this->getFormData())): ?>
    <fieldset>
      <?php foreach ($this->getFormData() as $name => $value) { ?>
        <input type="hidden" name="<?php echo($name); ?>" value="<?php echo($value); ?>" />
      <?php } ?>
    </fieldset>
  <?php endif; ?>
</form>

<script type="text/javascript">
    //<![CDATA[
    var review = new VarienForm('eway_review_form', '');
    Event.observe(window, 'load', function() {
        review.submit();
    });
    //]]>
</script>
