<?php if($this->getSource() instanceof Mage_Sales_Model_Order){ ?>
<?php if ((float) $this->getSource()->getExtraFeeAmountRefunded()): ?>
    <tr>
        <td class="label"><strong><?php echo Mage::helper('extrafee')->__('Jump The Queue refunded to customer') ?></strong></td>
        <td><strong><?php echo $this->getSource()->getExtraFeeAmountRefunded(); ?></strong></td>
    </tr>
<?php endif; ?>
<?php } else { ?>
<?php if ((float) $this->getSource()->getExtraFeeAmount()): ?>
    <tr>
        <td class="label"><strong><?php echo Mage::helper('extrafee')->__('Jump The Queue Refunded') ?></strong></td>
        <td><strong><?php echo $this->getSource()->getExtraFeeAmount(); ?></strong></td>
    </tr>
<?php endif; 
}?>

