<?php $this->setPriceDataObject($this->getSource()) ?>
<?php
$object = $this->getSource();
$classes = array("Mage_Sales_Model_Order_Creditmemo", "Mage_Sales_Model_Order_Invoice");
if( in_array( get_class($this->getSource()), $classes) )
{
	// invoice stuff
	$object = $this->getSource()->getOrder();
}

?>
<?php if($object->getShippingJumpTheQ() == "true"): ?>
    <tr>
        <td class="label"><?php echo Mage::helper('extrafee')->formatExtrafee($object->getExtrafeeAmount()) ?></td>
        <td>
            <?php echo $this->displayPrices($object->getBaseExtraFeeAmount(), $object->getExtrafeeAmount()); ?>
        </td>
    </tr>
<?php endif; ?>