<?php
/*
<style type="text/css">
#newsletter-validate-detail .validation-advice { display:none }
</style>
<?php
if(!@$_COOKIE['banner_state_'.date("Ymd")])
{
?>

<style type="text/css">
.top-banners-container  { width:100%; height:auto; display:block; background-color:#333333; overflow:hidden; position: relative; color:#FFF }
.sizer					{ width:100%; height:1px; display:block; }

.top-banner 			{ display:block; margin:0 auto;  padding: 5px 0;  max-width:1120px;}
.top-banner:hover 		{ cursor: hand; cursor: pointer; }

.banner-size-1	 		{ max-width:1120px; height:120px; display: block; margin: 0 auto;  }
.banner-size-2	 		{ max-width:1024px; height:768px; display: block; margin: 0 auto; }
.banner-size-3	 		{ max-width:800px; height:600px; display: block; margin: 0 auto; }
.banner-size-4	 		{ max-width:320px; height:480px; display: block; margin: 0 auto; }

.closeBanner			{ float:right; width:104px; height:24px; display:block; color:#000; text-align:center; text-decoration:none; font-size:12px; line-height:18px; padding-right:5px; }

</style>

<div class="top-banners-container">
	<div class="sizer"></div>
<?php 
// print_r( $this->getBanner() );
// echo "[".now()."]";

$cnt = 1;
$banners = $this->getBannerCollection();
foreach($banners as $banner)
{
	if($banner->getType() > 0 )
	{
		$display = "display:none";
		if($cnt == 1)
		{
			$display = "display:block";
		}
	?>
    <div class="top-banner type-<?php echo $banner->getType()?>" id="banner-id-<?php echo $banner->getId() ?>" style="<?php echo $display ?>">
    	<?php 
		if($banner->getType() == "1")
		{
			// images
			for($i = 1; $i < 5; $i++)
			{
				$fn = "getFilename_".$i;
				$bg = 'background:url(\''. Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB).'media/topbanner/'.$banner->$fn().'\') no-repeat;';
				echo '<div class="zbanner banner-size-'.$i.'" style="'.$bg.' display:none" rel="'.$banner->getUrl().'"><div href="#" class="closeBanner">[ Hide Banner ]</div></div>';
			}
		}
		else if($banner->getType() == "2")
		{
			// custom cms
			 echo $banner->getCustomcontent();
		}
		?>
    </div>
    <?php
	}
	
	$cnt++;
}

$elements = array( 1 => "width", 2 => "height", 3 => "opacity" );

$bannerSettings = array();
$cnt = 0;
foreach( $banners as $banner )
{
	$bannerSettings[] = array(
		"id"			=> $banner->getId(),
		"transition" 	=> $banner->getTransitionIn(),
		"time" 			=> $banner->getTransitionTime(),
		"prop" 			=> $elements[ $banner->getTransitionElement() ],
	);
	$cnt++;
}

?>
</div>

<script type="text/javascript">
jQuery(function($) {	
	$(document).ready(function() {
		var bannerSettings = <?php echo json_encode($bannerSettings) ?>;
		var timerRunning = true;
		var times = 0;
		var cycles = 30 * <?php echo $cnt ?>;
	
		$(".closeBanner").each( function(e){
			var url = $(this).parent().attr("rel");
			if(url)
			{
				$(this).parent().click(function(){
					document.location = url ;
				});
			}
			$(this).click(function(){
				$(".top-banners-container").animate({height: "hide"}, 1500, "easeOutBounce", save_close_state); 
				return false;
			});
			
		});
		
		function save_close_state()
		{
			$.ajax({
			  type: "GET",
			  url:  "<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB); ?>banner.php",
			  data: {},
			});
		}
		
		
		var timer = new wTimer({
			fps: 0.2,
			run: function()
			{
				times++;
				if(times <= cycles)
				{
					// console.log(times);
					if($("#top-newsletter").val() != "Enter your email address")
					{
						// do nothing!
					}
					else
					{
						timerRunning = true;
						setBannerImages()
						displayNextBanner();
					}
				}
				else
				{
					timer.stop();
				}
			}
	    });
		
		$(".top-banners-container").mouseenter(function() {
			if(timerRunning == true)
			{
				// console.log("stop timer");
				timerRunning = false;
				timer.stop();
			}
		}).mouseleave(function(){
			if(timerRunning == false)
			{
				// console.log("start timer");
				timerRunning = true;
				timer.start();
			}
		});
		
		timer.start();
		

		
		setBannerImages();
		displayNextBanner();
		// displayNextBanner();
		
		$(window).bind('resize', function () { 
			setBannerImages();
		});
		
		function displayNextBanner()
		{
			var currentbanner = null;			
			var banners = Array();
			
			$(".top-banner").each( function(e){
				banners.push( $(this) );
			});
			
			for(var i = 0; i < banners.length; i++)
			{
				if($(banners[i]).css("display") == "block")
				{
					currentbanner = i;
				}
			}

			$(".top-banner").each( function(e){
				$(this).css("display", "none");
			});
			
			// console.log();
			
			if(currentbanner == banners.length -1 )
			{
				var settings = bannerSettings[0];
				var prop = settings.prop;
				// console.log( settings.id +' ->  animate({ '+prop+' : "show"}, '+settings.time+', '+settings.transition+');  ' );
				$(banners[0]).animate({ prop : "show"}, settings.time, settings.transition); 
				// $(banners[0]).css("display", "block");
			}
			else
			{		
				var settings = bannerSettings[currentbanner+1];	
				var prop = settings.prop;
				// console.log( settings.id +' ->  animate({ '+prop+' : "show"}, '+settings.time+', '+settings.transition+');  ' );
				$(banners[currentbanner+1]).animate({ prop : "show"}, settings.time, settings.transition); 
			}
		}
		
		function setBannerImages()
		{
			var width = $(".sizer").width();

			var size = 1;
			if( 1120 < width ){ size = 1; }
			else if ( 1024 < width && width <= 1120 ){ size = 2; }
			else if ( 800 < width && width <= 1024 ){ size = 3;	}
			else { size = 4; }
			
			// console.log("width["+width+"] / size["+size+"]");
			
			$(".top-banner").each( function(e){
				
				if($(this).hasClass("type-1"))
				{
					// console.log( $(this) );
					// we got an image banner.. set correct banner slide
					$(this).find(".zbanner").each( function(e){
						$(this).css("display", "none");
						// find and display the size we want
						var id = $(this).attr('class').split(' ')[1].split("-")[2];
						if(id == size)
						{
							$(this).css("display", "block");	
						}
					})
				}
				else
				{
					// custom CMS banner.
				}
			});
			
			

			
		}
		
	});
});
</script>
<?php  



}
*/
// echo $this->getChildHtml('inchoo_global_messages');