<?php
/**
 * @copyright  Copyright (c) 2011 Capacity Web Solutions Pvt. Ltd  (http://www.capacitywebsolutions.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
?>
<?php


$result = $this->getBestsellerProduct(); 
$model = Mage::getModel('catalog/product');
foreach ($result as $pid):
    $_product = $model->load($pid); //getting product object for particular product id
    if ($_product->getId()): // if the product exists in database, proceed below operations
        $products[] = $_product;
    endif;
endforeach;

if (count($products) > 0):
?>
<h3 class="featured-products-title"><?php echo $this->getHeader(); ?></h3>
<?php 
endif;

$_columnCount = ($this->getItemsPerRow()) ? $this->getItemsPerRow() : 3 ; ?>
<?php $i=0; foreach ($products as $_product):
    if ($i++%$_columnCount==0) { echo '<ul class="products-grid">';} ?>
    <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>" class="product-image">
            <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(138,114); ?>" width="138" height="114" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
        </a>
        <h2 class="product-name">
            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>)"><?php echo $this->htmlEscape($_product->getName()) ?></a>
        </h2>
        <?php echo $this->getPriceHtml($_product, true, '-new') ?>
            <div class="actions">
            <?php if($_product->isSaleable()): ?>
                <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span>+ <?php echo $this->__('Add to Cart') ?></span></span></button>
            <?php else: ?>
                <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
            <?php endif; ?>
        </div>
    </li>
    <?php if ($i%$_columnCount==0 || $i==$_collectionSize) { echo '<ul>'; } ?>
<?php endforeach; ?>