<?php
/**
* aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This package designed for Magento COMMUNITY edition
 * aheadWorks does not guarantee correct work of this extension
 * on any other Magento edition except Magento COMMUNITY edition.
 * aheadWorks does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Ajaxcartpro
 * @version    3.0.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?>
<?php
?>
<div id="ajaxcartpro-progress" class="ajaxcartpro-box-hide">
	<div class="ajaxcartpro-progress-caption"><?php echo $this->__("Updating cart:") ?></div>
    <?php if (Mage::getStoreConfig('ajaxcartpro/general/activityindicator')): ?>
        <img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'ajaxcartpro/' . Mage::getStoreConfig('ajaxcartpro/general/activityindicator') ?>" alt=""/>
    <?php else: ?>
        <img src="<?php echo $this->getSkinUrl('ajaxcartpro/images/al.gif'); ?>" alt=""/>
    <?php endif; ?>
    <p><?php echo $this->__('Please wait...') ?></p>
</div>
